@(order: OrderRequest)
@import tags._
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="fr">
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<title>Proposition commerciale Hometime</title>
<style type="text/css">
    a { border: none; }
    img { border: none; }
    p { margin: 0; line-height: 1.3em; }
    #footer-msg a { color: #F3A836; }
    h1,h2,h3,h4,h5,h6 {font-size:100%;margin:0;}
    ul.main {line-height: 1.5em;}
    ul.no-bullet {list-style-type: none;}
    .to-change {color: red; }
</style>
</head>
<body>
	<div>
		<h2>@Html(Messages("mails.order.title.what"))</h2>
		<ul>
			<li>@Html(Messages("mails.order.type.of.service", order.orderType.name()))</li>
			<li>@Html(Messages("mails.order.method", order.method.name()))</li>
			<li>@Html(Messages("mails.order.brand", order.brand.display_name))</li>
			<li>@Html(Messages("mails.order.watch.model", order.model))</li>
		</ul>
		<h2>@Html(Messages("mails.order.title.who"))</h2>
		<ul>
			<li>@Html(Messages("mails.order.customer.email", order.email))</li>
			<li>@Html(Messages("mails.order.living.location", order.city))</li>
			<li>@Html(Messages("mails.order.phone.number.given", if(order.phoneNumber==null || "".equals(order.phoneNumber)) {Html(Messages("mails.order.phone.number.given.no"))} else {Html(Messages("mails.order.phone.number.given.yes"))}))</li>
			<li>@Html(Messages("mails.order.order.date", display_date(order.requestDate, "dd/MM/yyyy HH:mm")))</li>
		</ul>
		<h2>@Html(Messages("mails.order.title.additionnal.infos"))</h2>
		<ul>
			<li>@Html(Messages("mails.order.watch.chosen", if(order.watchChosen==null) {Html(Messages("mails.order.watch.chosen.none"))} else {order.watchChosen.short_name}))</li>
			<li>@Html(Messages("mails.order.remarks", if(order.remark==null || "".equals(order.remark)) {Html(Messages("mails.order.remarks.none"))} else {order.remark}))</li>
		</ul>
	</div>
	
	<div>
		<a href="mailto:@order.email?subject=@Messages("mails.notify.subject")&amp;body=@Messages("mails.notify.body")">@Html(Messages("mails.notify.label"))</a>
	</div>
	<div>
		<a href="mailto:@order.email?subject=@Html(Messages("mails.precisions.subject"))&amp;body=@Html(Messages("mails.precisions.body"))">@Html(Messages("mails.precisions.label"))</a>
	</div>
	<div>
		<a href="mailto:@order.email">Mail simple</a>
	</div>
	
	<div>
		@mailto(order.email, Messages("mails.notify.subject"), Messages("mails.notify.body"), Messages("mails.notify.label"))
	</div>
	<div>
		@mailto(order.email, Messages("mails.precisions.subject"), Messages("mails.precisions.body"), Messages("mails.precisions.label"))
	</div>
	<div>
		<a href="mailto:@order.email">Mail simple</a>
	</div>
</body>
</html>
