@(order: OrderRequest)
@import tags._

@layouts.mail("Nouvelle demande de devis") {
	<div>
		<h2>@Html(Messages("mails.order.title.what"))</h2>
		<ul>
			<li>@Html(Messages("mails.order.type.of.service", order.orderType.name()))</li>
			<li>@Html(Messages("mails.order.method", order.method.name()))</li>
			<li>@Html(Messages("mails.order.brand", order.brand.display_name))</li>
			<li>@Html(Messages("mails.order.watch.model", order.model))</li>
		</ul>
		<h2>@Html(Messages("mails.order.title.who"))</h2>
		<ul>
			<li>@Html(Messages("mails.order.customer.email", order.email))</li>
			<li>@Html(Messages("mails.order.living.location", order.city))</li>
			<li>@Html(Messages("mails.order.phone.number.given", if(order.phoneNumber==null || "".equals(order.phoneNumber)) {Html(Messages("mails.order.phone.number.given.no"))} else {Html(Messages("mails.order.phone.number.given.yes"))}))</li>
			<li>@Html(Messages("mails.order.order.date", display_date(order.requestDate, "dd/MM/yyyy HH:mm")))</li>
		</ul>
		<h2>@Html(Messages("mails.order.title.additionnal.infos"))</h2>
		<ul>
			<li>@Html(Messages("mails.order.watch.chosen", if(order.watchChosen==null) {Html(Messages("mails.order.watch.chosen.none"))} else {order.watchChosen.short_name}))</li>
			<li>@Html(Messages("mails.order.remarks", if(order.remark==null || "".equals(order.remark)) {Html(Messages("mails.order.remarks.none"))} else {order.remark}))</li>
		</ul>
	</div>
	<div>
		<h2>@Html(Messages("mails.order.actions"))</h2>
		@a_absolute(routes.Admin.displayOrderRequest(order.id).url, false) {@Html(Messages("mails.order.action.display"))}
		<br /><br />
	</div>
	
	<div>
		<h2>@Html(Messages("mails.order.mails"))</h2>
		@mailto(order.email, Messages("mails.notify.subject"), Messages("mails.notify.body"), Messages("mails.notify.label"))
		<br /><br />
		@mailto(order.email, Messages("mails.precisions.subject"), Messages("mails.precisions.body"), Messages("mails.precisions.label"))
		<br /><br />
		<a href="mailto:@order.email">Mail simple</a>
		<br /><br />
		@mailto(order.email, Messages("mails.feedback.subject"), Messages("mails.feedback.body"), Messages("mails.feedback.label"))
		<br /><br />
		@mailto(order.email, Messages("mails.outside.zone.subject"), Messages("mails.outside.zone.body"), Messages("mails.outside.zone.label"))
	</div>
}
