@(invoice : models.Invoice, totalAmount : Float, amountToPay : Float, htAmount : Float, vat : Float)
@import tags._
@import views.AccountingSheet
@import java.lang.String; var title=""
@import models.Customer; var customer=new models.Customer() 

@{
	title=Messages("admin.invoice.title.bill", invoice.uniqueAccountingNumber);
	if(invoice.document.customer.id != null) {
		customer = models.Customer.findById(invoice.document.customer.id);
		if(customer != null && customer.civility!=null) {
			title=title+" - "+Messages("admin.customer.text.civility."+customer.civility.toString.toLowerCase.replace('_','.'));
		}
		if(customer != null) {
			title=title+" "+customer.firstname+" "+customer.name;
		}
	}
}

@layouts.admin_accounting(title, invoice.document) {
     
     <div class="row">
        <div class="type col-xs-12">
	        <h2>@Html(Messages("admin.invoice.text.bill"))</h2>
        </div>
     </div>
     
     @admin_accounting_info_field(invoice.description, "admin.invoice.description", 'dataclass -> "descriptions")
     
     @admin_accounting_info_field(invoice.uniqueAccountingNumber, "admin.invoice.number", 'dataclass -> "descriptions")
     
     @if(invoice.fromDate != null) {
     	@if(invoice.toDate != null) {
     		@admin_accounting_info_field(Messages("admin.invoice.from.date.to.date", display_date(invoice.fromDate, "d MMMM yyyy"), display_date(invoice.toDate, "d MMMM yyyy")), "admin.invoice.working.date", 'dataclass -> "descriptions")
     	} else  {
     		@admin_accounting_info_field(Messages("admin.invoice.one.shot.date", display_date(invoice.fromDate, "d MMMM yyyy")), "admin.invoice.working.date", 'dataclass -> "descriptions")
     	}
     }
     
     <br />
     
     @defining(AccountingSheet.of(invoice.document, "admin.invoice", invoice.alreadyPayed)) { sheet =>
     <div class="row">
     	<div class="col-xs-12">
	        <div class="table-responsive">
	            <table class="table table-bordered">
	              <colgroup>
	                <col class="col-xs-7">
	                <col class="col-xs-1">
	                <col class="col-xs-2">
	                <col class="col-xs-2">
	              </colgroup>
	              <thead>
	                <tr>
						@for(cell <- sheet.getHeader.getCells) {
							<th class="@cell.getCssClass">@Html(cell.getStringValue)</th>
						}
					</tr>
				  </thead>
				  <tbody>
				  @for(line <- sheet.getLines) {
				  	@admin_display_sheet_line(line)
      			  }
	              </tbody>
	            </table>
	       </div>
        </div>
      </div>
	  }

      @admin_accounting_info_field(invoice.paymentConditions, "admin.invoice.payment.conditions", 'dataclass -> "payment-infos")
      
      @admin_accounting_info_field(invoice.supportedPaymentMethods, "admin.invoice.supported.payment.methods", 'dataclass -> "payment-infos")
      
      @admin_accounting_info_field(invoice.paymentMethodUsed, "admin.invoice.payment.method.used", 'dataclass -> "payment-infos")
	  
	  
     <div class="row">
        <div class="col-xs-12">
	        <div class="legal">
	        	@Html(Messages("admin.invoice.legal"))
	        </div>
        </div>
     </div>
     @if(invoice.getType().equals(models.Invoice.InvoiceType.MARGIN_VAT) || invoice.getType().equals(models.Invoice.InvoiceType.RESERVED_1)) {
     <div class="row">
        <div class="col-xs-12 text-center">
        	<div class="notice">
					@Html(Messages("admin.invoice.notice."+invoice.getType().toString.toLowerCase.replace('_','.')))
        	</div>
        </div>
     </div>
     }
      
  </div>
}
