@(currentPage: com.avaje.ebean.Page[models.Invoice], currentSortBy: String, currentOrder: String, currentFilter: String)
@import tags._

@****************************************
* Helper generating navigation links    *
****************************************@
@link(newPage:Int, newSortBy:String) = @{
    
    var sortBy = currentSortBy
    var order = currentOrder
    
    if(newSortBy != null) {
        sortBy = newSortBy
        if(currentSortBy == newSortBy) {
            if(currentOrder == "asc") {
                order = "desc"
            } else {
                order = "asc"
            }
        } else {
            order = "asc"
        }
    }
    
    // Generate the link
    routes.Accounting.displayAllInvoice(newPage, sortBy, order, currentFilter)
    
}


@**********************************
* Helper generating table headers *
***********************************@
@header(key:String, title:String, hideSmall: Boolean = false) = {
    <th class="@key.replace(".","_") header @if(currentSortBy == key) @{if(currentOrder == "asc") "headerSortDown" else "headerSortUp"} @if(hideSmall) {hidden-xs}">
        <a href="@link(0, key)">@title</a>
    </th>
}

@layouts.admin() {
  <div class="container">

    @admin.fragments.page_header(link(0, "document.creationDate").toString, "numéro ou client", currentFilter, routes.Accounting.addInvoice().url)
    
    @if(currentPage.getTotalRowCount == 0) {
        <div class="well">
            <em>Nothing to display</em>
        </div>
    } else {
        <div class="table-responsive">
            <table class="table table-bordered table-striped">

              <thead>
                <tr>
                  <th>#</th>
                  @header("document.creationDate", "Date", false)
                  @header("uniqueAccountingNumber", "Numéro", false)
                  @header("description", "Description", false)
                  @header("document.customer", "Client", false)
                  <th>Payée ?</th>
                </tr>
              </thead>
              <tbody>
              @for((invoice, index) <- currentPage.getList.zipWithIndex) {
                <tr>
                  <td>
	                <a type="button" class="btn btn-default btn-xs" href="@routes.Accounting.viewInvoice(invoice.id)"><span class="glyphicon glyphicon-user"></span></a>
	                <a type="button" class="btn btn-primary btn-xs" href="@routes.Accounting.editInvoice(invoice.id)"><span class="glyphicon glyphicon-edit"></span></a>
	                <a type="button" class="btn btn-warning btn-xs" href="@routes.PaymentRequests.createFromInvoice(invoice.id)"><span class="glyphicon glyphicon-credit-card"></span></a>
	                @if(!invoice.hasBeenPayed) {<a type="button" class="btn btn-primary btn-xs" href="@routes.Payments.createFromInvoice(invoice.id)"><span class="glyphicon glyphicon-euro"></span></a>}
                  </td>
                  <td class="hidden-xs">
                    @display_date(invoice.document.creationDate, "dd/MM")
                  </td>
                  <td>
                    @invoice.retrieveUniqueAccountingNumber
                  </td>
                  <td>
                    @invoice.description
                  </td>
                  <td>
                    @invoice.document.customer.getFullNameWithCivility
                  </td>
                  <td>
                    @invoice.hasBeenPayed
                  </td>
                </tr>
              }
              </tbody>
            </table>
        </div>
    
        <div class="row">
            <div class="col-md-5 col-md-offset-7 text-right">
                    @if(currentPage.hasPrev) {
                        <span class="prev">
                            <a class="btn btn-default" href="@link(currentPage.getPageIndex - 1, null)">&larr; Previous</a>
                        </span>
                    } else {
                        <span class="prev disabled">
                            <a class="btn btn-default" disabled="disabled">&larr; Previous</a>
                        </span>
                    }
                    <span class="current">
                        Displaying @currentPage.getDisplayXtoYofZ(" to "," of ")
                    </span>
                    @if(currentPage.hasNext) {
                        <span class="next">
                            <a class="btn btn-default"  href="@link(currentPage.getPageIndex + 1, null)">Next &rarr;</a>
                        </span>
                    } else {
                        <span class="next disabled">
                            <a class="btn btn-default" disabled="disabled" >Next &rarr;</a>
                        </span>
                    }
            </div>
        </div>
    }
    </div>
}
