@(orderDocument: Form[models.OrderDocument], isANewDocument: Boolean, customers: List[models.Customer])
@import tags._
@import helper._
@import java.math.BigInteger; var index=0
@implicitField = @{ FieldConstructor(myBootstrapFieldConstructor.f) }
@actions = {
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-9 text-center">
      	<a class="btn btn-default" href="#" onclick="history.back();return false;"><span class="glyphicon glyphicon-chevron-left">@Html(Messages("admin.order.document.action.cancel"))</a>
      @if(isANewDocument) {
      	<button type="submit" class="btn btn-success" name="action" value="save"><span class="glyphicon glyphicon-save">@Html(Messages("admin.order.document.action.save"))</button>
      	<button type="submit" class="btn btn-primary" name="action" value="show" formtarget="_blank"><span class="glyphicon glyphicon-save">@Html(Messages("admin.order.document.action.show"))</button>
      } else {
      	@tags.inputHidden(orderDocument("id"))
        <button type="submit" class="btn btn-primary" name="action" value="edit"><span class="glyphicon glyphicon-save"></span>@Html(Messages("admin.order.document.action.edit"))</button>
        <button type="submit" class="btn btn-primary" name="action" value="show" formtarget="_blank"><span class="glyphicon glyphicon-save">@Html(Messages("admin.order.document.action.show"))</button>
        <button type="submit" class="btn btn-danger" name="action" value="delete"><span class="glyphicon glyphicon-trash"></span>@Html(Messages("admin.order.document.action.delete"))</button>                  
      }
      </div>
    </div>
}

@end_scripts = {
	@admin.accounting.fragments.javascript_in_form()
}


@layouts.admin("", end_scripts) {
    <div class="container">
    	@display_flash()
    
            @helper.form(action = routes.Accounting.manageOrderDocument(), 'class -> "form-horizontal", 'role -> "form") {
            
            	@actions
            	
            	@helper.select(orderDocument("type"),
                         for (s <- models.Invoice.InvoiceType.values) yield s.toString -> Messages("admin.order.document.form.value.type."+s.toString.toLowerCase.replace('_','.')	),
                         '_default -> Messages("admin.order.document.form.value.type.default"),
                         'placeholder -> Messages("admin.order.document.form.placeholder.type"), '_label -> Messages("admin.order.document.form.label.type"),
                         'class -> "form-control", '_class -> "form-group", '_label_class -> "col-sm-3 control-label", '_body_class -> "col-sm-9", '_showConstraints -> false)
           
	            @helper.select(orderDocument("document.customer.id"),
                         for (s <- customers) yield s.id.toString -> (s.name + " " + s.firstname),
                         '_default -> Messages("admin.order.document.form.value.customer.default"),
                         'placeholder -> Messages("admin.order.document.form.placeholder.customer"), '_label -> Messages("admin.order.document.form.label.customer"),
                         'class -> "form-control", '_class -> "form-group", '_label_class -> "col-sm-3 control-label", '_body_class -> "col-sm-9", '_showConstraints -> false)


            	@simple_admin_input(orderDocument("description"), "admin.order.document.form.VARIABLE.description")
            	
            	@simple_admin_input(orderDocument("uniqueAccountingNumber"), "admin.order.document.form.VARIABLE.unique.accounting.number")
            	
            	@accounting_form_lines(orderDocument("document.lines"), "admin.order.document.form.VARIABLE", 3)
            	
            	<button id="add-line" class="btn btn-primary">&nbsp;Ajouter</button>
            	<button id="remove-line" class="btn btn-danger">&nbsp;Retirer</button>
            	
            	@simple_admin_input(orderDocument("detailedInfos"), "admin.order.document.form.VARIABLE.detailed.infos")
				
				@simple_admin_input(orderDocument("paymentConditions"), "admin.order.document.form.VARIABLE.payment.conditions")
				
				@simple_admin_input(orderDocument("supportedPaymentMethods"), "admin.order.document.form.VARIABLE.supported.payment.methods")
				
				@simple_admin_input(orderDocument("delay"), "admin.order.document.form.VARIABLE.delay")
				
				@simple_admin_input(orderDocument("validUntilDate"), "admin.order.document.form.VARIABLE.valid.until.date", 'type -> "date")
				
				                
                @actions
            }
    </div>
}