@(orderDocument : models.OrderDocument, totalAmount : Float, amountToPay : Float, htAmount : Float, vat : Float)
@import tags._
@import views.AccountingSheet
@import java.lang.String; var title=""
@import models.Customer; var customer=new models.Customer() 

@{
	title=Messages("admin.order.document.title.bill", orderDocument.uniqueAccountingNumber);
	if(orderDocument.document.customer.id != null) {
		customer = models.Customer.findById(orderDocument.document.customer.id);
		if(customer != null && customer.civility!=null) {
			title=title+" - "+Messages("admin.customer.text.civility."+customer.civility.toString.toLowerCase.replace('_','.'));
		}
		if(customer != null) {
			title=title+" "+customer.firstname+" "+customer.name;
		}
	}
}

@layouts.admin_accounting(title, orderDocument.document) {
     
     <div class="row">
        <div class="type col-xs-12">
	        <h2>@Html(Messages("admin.order.document.text.bill"))</h2>
        </div>
     </div>
     
     @admin_accounting_info_field(orderDocument.description, "admin.order.document.description", 'dataclass -> "descriptions")
     
     @admin_accounting_info_field(orderDocument.uniqueAccountingNumber, "admin.order.document.number", 'dataclass -> "descriptions")
     
     <br />
     
     @defining(AccountingSheet.of(orderDocument.document, "admin.order.document", 0F)) { sheet =>
     <div class="row">
     	<div class="col-xs-12">
	        <div class="table-responsive">
	            <table class="table table-bordered">
	              <colgroup>
	                <col class="col-xs-7">
	                <col class="col-xs-1">
	                <col class="col-xs-2">
	                <col class="col-xs-2">
	              </colgroup>
	              <thead>
	                <tr>
						@for(cell <- sheet.getHeader.getCells) {
							<th class="@cell.getCssClass">@Html(cell.getStringValue)</th>
						}
					</tr>
				  </thead>
				  <tbody>
				  @for(line <- sheet.getLines) {
				  	@admin_display_sheet_line(line)
      			  }
	              </tbody>
	            </table>
	       </div>
        </div>
      </div>
	  }
      
      <div class="row">
        <div class="col-xs-12">
	        <div class="detailed_infos">
	        	@Html(Messages("admin.order.document.detailed.infos", orderDocument.detailedInfos))
	        </div>
        </div>
     </div>
      
      @admin_accounting_info_field(orderDocument.paymentConditions, "admin.order.document.payment.conditions", 'dataclass -> "payment-infos")
      
      @admin_accounting_info_field(orderDocument.supportedPaymentMethods, "admin.order.document.supported.payment.methods", 'dataclass -> "payment-infos")
      
      @admin_accounting_info_field(orderDocument.delay, "admin.order.document.delay", 'dataclass -> "payment-infos")
      
     <div class="row">
        <div class="col-xs-12">
	        <div class="validity">
	        	@Html(Messages("admin.order.document.valid.until.date", orderDocument.validUntilDate))
	        </div>
        </div>
     </div>
	  
	 <div class="row">
        <div class="col-xs-12">
	        <div class="signing">
	        	@Html(Messages("admin.order.document.signing"))
	        </div>
        </div>
     </div>
}
