@(currentPage: com.avaje.ebean.PagedList[models.PostServiceCertificate], currentSortBy: String, currentOrder: String, currentFilter: String, currentSize: Integer)
@import tags._


@defining(new views.PageDisplay(currentPage, "creation_date", "admin.postservicecertificate.page")) { pageDisplay =>
	@{  pageDisplay.addTableField("documentDate", "documentDate", "getDocumentDate", false, "date short");
		pageDisplay.addTableField("owner.name", "owner", "getCustomerFullName", false);
	    pageDisplay.addTableField("watch.brand", "brand", "getBrand", false);
	    pageDisplay.addTableField("watch.model", "model", "getModel", false);
	}
	
	@admin.template.page_with_default_links(pageDisplay, "PostServiceCertificates", null, currentSortBy, currentOrder, currentFilter, currentSize)
}
