@(title: String = "Admin", accountingDocumment: models.AccountingDocument, alternate: Boolean = false, end_scripts_bottom: Html = Html(""))(content: Html)

@import tags._

@head = {
        <title>@title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="description" content="@Messages("accounting.html.description")">
        <meta name="author" content="@Messages("accounting.html.author")">
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap_for_printing-v1.0.min.css")">
        <!--<link rel="stylesheet" href="@routes.Assets.at("stylesheets/accounting.min.css")">-->
        @views.html.admin.accounting.fragments.styles()
}

@footer = {

}

@end_scripts = {
}

@layouts.admin_root(head, footer, end_scripts) {

  <div class="container">
    @views.html.admin.accounting.fragments.header(accountingDocumment, alternate)

    @content
    
    @views.html.admin.accounting.fragments.footer()
    
  </div>    
}
