@(title: String = "Admin", end_scripts_bottom: Html = Html(""))(content: Html)

@import tags._

@head = {
        <title>@title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="description" content="@Messages("global.home.html.description")">
        <meta name="author" content="@Messages("global.home.html.author")">
        @layouts.fragments.bootstrap_css()
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/admin.min.css")">
}

@footer = {

}

@end_scripts = {
    @end_scripts_bottom
}

@layouts.admin_root(head, footer, end_scripts) {
    @content
}
