@(page: String, nbArticles: Integer)

@layouts.content_layout(page) {
            @for(i <- 1 to nbArticles) {
              <div class="row">
                <div class="col-md-10 col-md-offset-1">
                  <div class="content-box">
                    <div class="title"><blockquote><h2>@Html(Messages(page+".head."+i))</h2></blockquote></div>
                    <div class="body">@Html(Messages(page+".body."+i))</div>
                  </div>
                </div>
              </div>
            }
}
