@(key: String, redirect: String)(content: Html)

@import tags._

@head = {
	@if(redirect!=null) {
		<meta http-equiv="refresh" content="1;url=@redirect">
        <script type="text/javascript">
            window.location.href = "@redirect"
        </script>
	}    @layouts.fragments.head_min(key)
        @layouts.fragments.bootstrap_css()
        <link rel="stylesheet" media="screen" href="@remote_assets("stylesheets/error.min.css")">
}

@footer = {

}

@end_scripts = {

}

@layouts.root(head, footer, end_scripts) {
    @content
}
