@()(content: Html)

@import tags._

@head = {
    @layouts.fragments.head_min("home")
        @layouts.fragments.bootstrap_css()
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/home.min.css")">
        <link rel="canonical" href="https://www.hometime.fr/" />

        @layouts.fragments.facebook_meta(Messages("home.title.for.facebook"), Messages("home.type.for.facebook"), routes.Assets.at("images/logo_for_facebook.jpg").absoluteURL(), Messages("home.description.for.facebook"))
        <meta property="forsearch:image" content="@routes.Assets.at("images/revision-reparation-montre-paris-small.png").absoluteURL()" />
        <meta property="forsearch:image" content="@routes.Assets.at("images/revision-reparation-montre-paris-small.jpg").absoluteURL()" />
}

@footer = {
    @layouts.fragments.footer_min()
}

@end_scripts = {
    @layouts.fragments.end_scripts()
    @layouts.fragments.twitter_share_script()
    <script async src="@remote_assets("javascripts/home.js")"></script>
    <script async src="@remote_assets("javascripts/holder.js")"></script>
    <script async src="@remote_assets("javascripts/lazysizes.min.js")" async></script>
    <script async  src="@remote_assets("javascripts/whatshelp.js")" async></script>
}

@layouts.root(head, footer, end_scripts) {
    @layouts.fragments.facebook_for_like()
    @content
}
