@(key: String, end_scripts_bottom: Html = Html(""), in_head_content: Html = Html(""))(content: Html)

@import tags._

@head = {
    @layouts.fragments.head_min(key)
        @layouts.fragments.bootstrap_css()
        <link rel="stylesheet" media="screen" href="@remote_assets("stylesheets/main.min.css")">
        @in_head_content
}

@footer = {
    @layouts.fragments.footer_min()
}

@end_scripts = {
    @layouts.fragments.end_scripts()
    <script src="@remote_assets("javascripts/main.js")"></script>
    <script src="@remote_assets("javascripts/holder.js")"></script>
    @end_scripts_bottom
}

@layouts.root(head, footer, end_scripts) {
    @content
}
