@(title: String)(content: Html)

@import tags._

@head = {
    @layouts.fragments.head_min(title)
        @layouts.fragments.bootstrap_css()
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.min.css")">
}

@footer = {
    @layouts.fragments.footer_min()
}

@end_scripts = {
    @layouts.fragments.end_scripts()
    <script src="@routes.Assets.at("javascripts/main.min.js")"></script>
    <script src="@routes.Assets.at("javascripts/holder.js")"></script>
}

@layouts.root(head, footer, end_scripts) {
    @content
}
