@(key: String, title_option: String, description_option: String, end_scripts_bottom: Html = Html(""))(content: Html)

@import tags._

@head = {
    @layouts.fragments.head_min(key, title_option, description_option)
        @layouts.fragments.bootstrap_css()
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.min.css")">
        <link rel="stylesheet" href="http://blueimp.github.io/Gallery/css/blueimp-gallery.min.css">
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap-image-gallery.min.css")">
}

@footer = {
    @layouts.fragments.footer_min()
}

@end_scripts = {
    @layouts.fragments.end_scripts()
    <script src="@routes.Assets.at("javascripts/main.js")"></script>
    <script src="@routes.Assets.at("javascripts/holder.js")"></script>
    <script src="http://blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
    <script src="@routes.Assets.at("javascripts/bootstrap-image-gallery.min.js")"></script>
    @end_scripts_bottom
}

@layouts.root(head, footer, end_scripts) {
    @content
}
