@(instance: models.AppointmentRequest)
@import tags._

@editlink(id:Long) = {
    @routes.CrudHelper.edit("AppointmentRequests", id)
}

@newlink() = {
    @routes.CrudHelper.create("AppointmentRequests")
}

@end_body = {

}

@defining(new views.ModelDisplay(instance, "admin.appointment.request")) { modelDisplay =>
		@{ 	modelDisplay.addField("id");
			modelDisplay.addSeparator();
			modelDisplay.addField("uniqueKey");
			modelDisplay.addField("appointmentAsString");
			modelDisplay.addSeparator();
			modelDisplay.addField("customerRemark", "getCustomerRemark", false, null, "pre");
			modelDisplay.addField("privateRemark", "getPrivateRemark", false, null, "pre");
			modelDisplay.addSeparator();
			modelDisplay.addField("status");
		}
	
	@admin.template.display(modelDisplay, null, editlink, end_body)

}