@(currentPage: com.avaje.ebean.Page[models.AppointmentRequest], currentSortBy: String, currentOrder: String, currentFilter: String, currentSize: Integer)
@import tags._

@optionallink(id:Long) = {
    @routes.AppointmentRequests.validateAppointment(id)
}

@end_scripts = {
	<script>
		$(document).ready(function(){
			$('a.btn-success.btn-xs').hide();
			
			$('table > tbody  > tr').each(function(){
				addButtonForAction($(this).children("td:first"));
			});
			
			updateIds();
			
			function guessIDFromTd(location) {
    			return $(location).children("a:first").attr('href').split('/').slice(-1)[0];
   			}
			
			function addButtonForAction(location) {
    			location.append('<a id="'+guessIDFromTd(location)+'" type="button" class="btn btn-success btn-xs action-js" href="@routes.SimplifiedCustomers.createNewCustomerFromAppointment(-1)"><span class="glyphicon glyphicon-user"></span></a>');
   			}
   			
   			function updateIds() {
	   			$('.action-js').each(function(){
					$(this).attr('href', $(this).attr('href').substring(0, $(this).attr('href').length -2)+$(this).attr('id'));
				});
   			}
			
		})
	</script>
}


@defining(new views.PageDisplay(currentPage, "uniqueKey", "admin.appointment.request.page")) { pageDisplay =>
	@{  pageDisplay.addTableField("id", "id", "getId", false);
		pageDisplay.addTableField("uniqueKey", "uniqueKey", "getUniqueKey", false);
		pageDisplay.addTableField("status", "status", "getStatus", false);
		pageDisplay.addTableField("appointmentAsDate", "appointmentAsString", "getAppointmentAsString", false);
		pageDisplay.addTableField("customerDetails", "customerDetails", "getCustomerDetails", false);
		pageDisplay.addTableField("customerPhoneNumber", "customerPhoneNumber", "getCustomerPhoneNumber", false);
	}
	
	@admin.template.page_with_default_links(pageDisplay, "AppointmentRequests", optionallink, currentSortBy, currentOrder, currentFilter, currentSize, true, false, end_scripts)
}
