@(request: models.BuyRequest)
@import tags._

@layouts.admin() {
  <div class="container">
    <div class="row">
        <div class="title"><h3>@request.nameOfCustomer le @display_date(request.requestDate, "dd/MM/yyyy")</h3></div>
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
              <colgroup>
                <col class="col-xs-2">
                <col class="col-xs-7">
              </colgroup>
              <thead>
                <tr>
                  <th>Champ</th>
                  <th>Valeur</th>
                </tr>
              </thead>
              <tbody>
              	@two_cells_table_line(Html(Messages("admin.buy.request.label.request.date")), display_date(request.requestDate, "dd/MM/yyyy HH:mm:ss"))
              	
              	@if_not_null_nor_empty(request.brand) {
              		@two_cells_table_line(Html(Messages("admin.buy.request.label.brand")), Html(request.brand.display_name))
              	}
              	
              	@if_not_null_nor_empty(request.model) {
              		@two_cells_table_line(Html(Messages("admin.buy.request.label.model")), Html(request.model))
              	}
                
                @two_cells_table_line(Html(Messages("admin.buy.request.label.story")), Html(Messages("admin.buy.request.value.story."+request.story.toString.toLowerCase.replace('_','.'))))
                
                @two_cells_table_line(Html(Messages("admin.buy.request.label.package")), Html(Messages("admin.buy.request.value.package."+request.pack.toString.toLowerCase.replace('_','.'))))
                
                @two_cells_table_line(Html(Messages("admin.buy.request.label.timeframe")), Html(Messages("admin.buy.request.value.timeframe."+request.timeframe.toString.toLowerCase.replace('_','.'))))
                
                @two_cells_table_line(Html(Messages("admin.buy.request.label.expected.price")), Html(Messages("admin.buy.request.value.expected.price",request.expectedPrice)))
                
                @two_cells_table_line(Html(Messages("admin.buy.request.label.price.higher.bound")), Html(Messages("admin.buy.request.value.price.higher.bound",request.priceHigherBound)))
                
                @if_not_null_nor_empty(request.criteria) {
              		@two_cells_table_line(Html(Messages("admin.buy.request.label.criteria")), Html(request.criteria))
              	}
                
                <tr>
                  <td>
                    Client
                  </td>
                  <td>@request.nameOfCustomer</td>
                </tr>
                <tr>
                  <td>
                    Email
                  </td>
                  <td>@display_copyable_email_admin_only(request.email)</td>
                </tr>
                <tr>
                  <td>
                    Téléphone
                  </td>
                  <td>@request.phoneNumber</td>
                </tr>
                <tr>
                  <td>
                    Ville
                  </td>
                  <td>@request.city</td>
                </tr>
                <tr>
                  <td>
                    Remarques
                  </td>
                  <td>
                    @if(request.remark ==null || request.remark.isEmpty()) {
                        none
                    } else {
                        @request.remark
                    }
                  </td>
                </tr>
              </tbody>
            </table>
        </div>
        <div class="row">
	    	<div class="col-xs-12 text-center">
	    		<a class="btn btn-warning" href="@routes.BuyRequest.prepareProposalFromRequest(request.id)" role="button">@Messages("admin.buy.request.create.call.to.action")</a>
	        </div>
 	  	</div>
      </div>   

}
