@(watch: models.CustomerWatch)
@import tags._

@import fr.hometime.utils._

@layouts.admin() {
  <div class="container">
     <div class="row">
        <div class="title col-md-6"><h3><a href="@routes.Customer.display(watch.customer.id)">@Html(Messages("admin.customer.watch.head.watch",watch.brand, watch.model, watch.customer.firstname, watch.customer.name))</a> - @Messages(CustomerWatchHelper.getStatusName(watch).toLowerCase.replace('_','.'))</h3></div>
        <div class="col-md-6 text-right">
        	<a type="button" class="btn btn-default" href="@routes.CustomerWatch.edit(watch.id)"><span class="glyphicon glyphicon-edit"></span>@Html(Messages("admin.customer.watch.action.edit"))</a>
        </div>
     </div>
     <div class="row">
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
              <colgroup>
                <col class="col-xs-2">
                <col class="col-xs-7">
              </colgroup>
              <thead>
                <tr>
                  <th>Champ</th>
                  <th>Valeur</th>
                </tr>
              </thead>
              <tbody>
              	@two_cells_table_line(Html(Messages("admin.customer.watch.label.brand")), Html(watch.brand))
              	
              	@two_cells_table_line(Html(Messages("admin.customer.watch.label.model")), Html(watch.model))
              	
              	@if_not_null_nor_empty(watch.additionnalModelInfos) {
              		@two_cells_table_line(Html(Messages("admin.customer.watch.label.additional.model.infos")), Html(watch.additionnalModelInfos))
              	}
              	
              	@if_not_null_nor_empty(watch.reference) {
              		@two_cells_table_line(Html(Messages("admin.customer.watch.label.reference")), Html(watch.reference))
              	}
              	
              	@if_not_null_nor_empty(watch.serial) {
              		@two_cells_table_line(Html(Messages("admin.customer.watch.label.serial")), Html(watch.serial))
              	}
              	
              	@if_not_null_nor_empty(watch.serial2) {
              		@two_cells_table_line(Html(Messages("admin.customer.watch.label.serial.2")), Html(watch.serial2))
              	}
              	
              	@if_not_null_nor_empty(watch.movement) {
              		@two_cells_table_line(Html(Messages("admin.customer.watch.label.movement")), Html(watch.movement))
              	}
              	
              	@if_not_null_nor_empty(watch.picturesUrl) {
              		@two_cells_table_line(Html(Messages("admin.customer.watch.label.pictures.url")), Html("<a href="+watch.picturesUrl+">"+watch.picturesUrl+"</a>"))
              	}
              	
              	@two_cells_table_line(Html(Messages("admin.customer.watch.label.status")), Html(Messages("admin.customer.watch.value.status."+watch.status.toString.toLowerCase.replace('_','.'), if (watch.partner != null) { watch.partner.name } else {"N/A"} )))
              	
              	@two_cells_table_line(Html(Messages("admin.customer.watch.label.last.status.update")), display_date_and_countdown(watch.lastStatusUpdate, "dd/MM/yyyy"))
              	
              	<tr><td>-</td><td>@if(watch.status != models.CustomerWatch.CustomerWatchStatus.BACK_TO_CUSTOMER) {
        <div class="col-xs-12 text-left">
        	<a type="button" class="btn btn-warning" href="@routes.CustomerWatch.setQuotationSent(watch.id)"><span class="glyphicon glyphicon-send"></span>@Html(Messages("admin.customer.watch.action.quotation.sent"))</a>
        	<!--<a type="button" class="btn btn-warning" href="@routes.CustomerWatch.setQuotationAccepted(watch.id)"><span class="glyphicon glyphicon-ok"></span>@Html(Messages("admin.customer.watch.action.quotation.accepted"))</a>-->
        	<a type="button" class="btn btn-warning" href="@routes.CustomerWatch.prepareQuotationValidation(watch.id)"><span class="glyphicon glyphicon-ok"></span>@Html(Messages("admin.customer.watch.action.quotation.accepted"))</a>
        	<a type="button" class="btn btn-warning" href="@routes.CustomerWatch.preparePhoneCall(watch.id)"><span class="glyphicon glyphicon-earphone"></span>@Html(Messages("admin.customer.watch.action.phonecall"))</a>
        	<a type="button" class="btn btn-warning" href="@routes.CustomerWatch.setBackToCustomer(watch.id)"><span class="glyphicon glyphicon-send"></span>@Html(Messages("admin.customer.watch.action.back.to.customer"))</a>
        	<a type="button" class="btn btn-info" href="@routes.CustomerWatch.setStoredByPartner(watch.id)"><span class="glyphicon glyphicon-retweet"></span>@Html(Messages("admin.customer.watch.action.stored.by.partner"))</a>
        	<a type="button" class="btn btn-success" href="@routes.CustomerWatch.setStoredByUs(watch.id)"><span class="glyphicon glyphicon-lock"></span>@Html(Messages("admin.customer.watch.action.stored.by.us"))</a>
        	<a type="button" class="btn btn-danger" href="@routes.CustomerWatch.setStoredByUsOutside(watch.id)"><span class="glyphicon glyphicon-plane"></span>@Html(Messages("admin.customer.watch.action.stored.by.us.outside"))</a>
        </div>}</td></tr>
              	
              	@two_cells_table_line(Html(Messages("admin.customer.watch.label.end.of.main.waranty")), display_date_and_countdown(watch.endOfMainWaranty, "dd/MM/yyyy"))
              	
              	@two_cells_table_line(Html(Messages("admin.customer.watch.label.end.of.water.waranty")), display_date_and_countdown(watch.endOfWaterWaranty, "dd/MM/yyyy"))
              	
              	@two_cells_table_line(Html(Messages("admin.customer.watch.label.next.service")), display_date_and_countdown(watch.nextService, "dd/MM/yyyy"))
              	
              	@two_cells_table_line(Html(Messages("admin.customer.watch.label.next.partial.service")), display_date_and_countdown(watch.nextPartialService, "dd/MM/yyyy"))
              	              	
              	@two_cells_table_line(Html(Messages("admin.customer.watch.label.service.infos")), Html(watch.serviceInfos))
              	
              	@two_cells_table_line(Html(Messages("admin.customer.watch.label.other.infos")), Html(watch.otherInfos))
              	
              	<tr><td>-</td><td>-</td></tr>
              	
              	@two_cells_table_line(Html(Messages("admin.customer.watch.label.service.due.date")), display_date_and_countdown(watch.serviceDueDate, "dd/MM/yyyy"))
              	
              	@two_cells_table_line(Html(Messages("admin.customer.watch.label.customer.has.constraint")), Html(watch.customerHasConstraint.toString))
              	
              	@two_cells_table_line(Html(Messages("admin.customer.watch.label.service.due.date.must.have")), display_date_and_countdown(watch.serviceDueDateMustHave, "dd/MM/yyyy"))
              	
              	@two_cells_table_line(Html(Messages("admin.customer.watch.label.customer.has.called.for.delay")), Html(watch.customerHasCalledForDelay.toString))
              	
              	@two_cells_table_line(Html(Messages("admin.customer.watch.label.last.customer.call.date")), display_date_and_countdown(watch.lastCustomerCallDate, "dd/MM/yyyy"))
              	
              	@two_cells_table_line(Html(Messages("admin.customer.watch.label.last.due.communicated.date")), display_date_and_countdown(watch.lastDueDateCommunicated, "dd/MM/yyyy"))
              	
              	@two_cells_table_line(Html(Messages("admin.customer.watch.label.last.delay.information.given")), Html(watch.lastCustomerCallInformation))
              	
              	<tr><td>-</td><td>-</td></tr>
              	
              	@two_cells_table_line(Html(Messages("admin.customer.watch.label.first.entry.in.partner.workshop.date")), display_date_and_countdown(watch.firstEntryInPartnerWorkshopDate, "dd/MM/yyyy"))
              	
              	@two_cells_table_line(Html(Messages("admin.customer.watch.label.expected.service.end.date")), display_date_and_countdown(watch.expectedServiceEndDate, "dd/MM/yyyy"))
              	
              	<tr><td>-</td><td>-</td></tr>
              	              	
              	@two_cells_table_line(Html(Messages("admin.customer.watch.label.partner.to.infos")), Html(watch.partnerToInfos))
              	
              	@two_cells_table_line(Html(Messages("admin.customer.watch.label.service.price")), if (watch.servicePrice != null) { Html(watch.servicePrice.toString) } else {Html("N/A")})
              	
              	@two_cells_table_line(Html(Messages("admin.customer.watch.label.service.accepted")), Html(watch.servicePriceAccepted.toString))
              	
              	@two_cells_table_line(Html(Messages("admin.customer.watch.label.partner.from.infos")), Html(watch.partnerFromInfos))
              	
              	@two_cells_table_line(Html(Messages("admin.customer.watch.label.service.status")), Html(""+watch.serviceStatus))
              	
              	@two_cells_table_line(Html(Messages("admin.customer.watch.label.emergency.level")), Html(""+watch.emergencyLevel))

              </tbody>
            </table>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 text-center">
	        <a type="button" class="btn btn-default" href="@routes.SimplifiedCustomerWatches.displayServicingSheet(watch.id)"><span class="glyphicon glyphicon-print"></span>@Html(Messages("admin.customer.watch.action.print.servicing"))</a>
	        <a type="button" class="btn btn-default" href="@routes.SimplifiedCustomerWatches.displayTestingSheet(watch.id)"><span class="glyphicon glyphicon glyphicon-search"></span>@Html(Messages("admin.customer.watch.action.print.testing"))</a>
	        <!-- Split button -->
		    <div class="btn-group text-left dropup">
		      <span class="btn btn-primary">@Html(Messages("admin.customer.watch.action.new.certificates"))</span>
		      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
		        <span class="caret"></span>
		        <span class="sr-only">Toggle Dropdown</span>
		      </button>
		      <ul class="dropdown-menu" role="menu">
		        <li><a href="@routes.Accounting.addPServiceCByWatchId(watch.id)">@Html(Messages("admin.customer.watch.action.create.certificate"))</a></li>
		        <li><a href="@routes.Accounting.addPServiceCByWatchIdQuartzFull(watch.id)">@Html(Messages("admin.customer.watch.action.create.certificate.quartz.full"))</a></li>
		        <li><a href="@routes.Accounting.addPServiceCByWatchIdQuartzSimple(watch.id)">@Html(Messages("admin.customer.watch.action.create.certificate.quartz.simple"))</a></li>
		      </ul>
		    </div>
        	<!-- Split button -->
		    <div class="btn-group text-left dropup">
		      <span class="btn btn-warning">@Html(Messages("admin.customer.watch.action.new.orders"))</span>
		      <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
		        <span class="caret"></span>
		        <span class="sr-only">Toggle Dropdown</span>
		      </button>
		      <ul class="dropdown-menu" role="menu">
		        <li><a href="@routes.Accounting.addOrderFormFormByWatchToService(watch.id, false)">@Html(Messages("admin.customer.watch.action.new.order.service.without.water"))</a></li>
		        <li><a href="@routes.Accounting.addOrderFormFormByWatchToService(watch.id, true)">@Html(Messages("admin.customer.watch.action.new.order.service.with.water"))</a></li>
		        <li><a href="@routes.Accounting.addOrderFormFormByWatchToRepair(watch.id, false)">@Html(Messages("admin.customer.watch.action.new.order.repair.without.water"))</a></li>
		        <li><a href="@routes.Accounting.addOrderFormFormByWatchToRepair(watch.id, true)">@Html(Messages("admin.customer.watch.action.new.order.repair.with.water"))</a></li>
		        <li><a href="@routes.Accounting.addInvoiceFormByWatchToQuickService(watch.id, false)">@Html(Messages("admin.customer.watch.action.new.order.quick.service.without.water"))</a></li>
		        <li><a href="@routes.Accounting.addInvoiceFormByWatchToQuickService(watch.id, true)">@Html(Messages("admin.customer.watch.action.new.order.quick.service.with.water"))</a></li>
		        <li><a href="@routes.Accounting.addInvoiceFormByWatchEmpty(watch.id, false)">@Html(Messages("admin.customer.watch.action.new.order.empty"))</a></li>
		      </ul>
		    </div>
        	<!-- Split button -->
		    <div class="btn-group text-left dropup">
		      <span class="btn btn-success">@Html(Messages("admin.customer.watch.action.new.invoice.quick.service"))</span>
		      <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
		        <span class="caret"></span>
		        <span class="sr-only">Toggle Dropdown</span>
		      </button>
		      <ul class="dropdown-menu" role="menu">
		        <li><a href="@routes.Accounting.addInvoiceFormByWatchToQuickServiceId(watch.id, 16.67f, false)">@Html(Messages("admin.customer.watch.action.new.invoice.quick.service.without.water", "20"))</a></li>
		        <li><a href="@routes.Accounting.addInvoiceFormByWatchToQuickServiceId(watch.id, 20.83f, false)">@Html(Messages("admin.customer.watch.action.new.invoice.quick.service.without.water", "25"))</a></li>
		        <li><a href="@routes.Accounting.addInvoiceFormByWatchToQuickServiceId(watch.id, 29.17f, false)">@Html(Messages("admin.customer.watch.action.new.invoice.quick.service.without.water", "35"))</a></li>
		        <li><a href="@routes.Accounting.addInvoiceFormByWatchToQuickServiceId(watch.id, 40.83f, true)">@Html(Messages("admin.customer.watch.action.new.invoice.quick.service.with.water", "49"))</a></li>
		        <li><a href="@routes.Accounting.addInvoiceFormByWatchToQuickServiceId(watch.id, 57.5f, true)">@Html(Messages("admin.customer.watch.action.new.invoice.quick.service.with.water", "69"))</a></li>
		        <li><a href="@routes.Accounting.addInvoiceFormByWatchToQuickServiceId(watch.id, 74.17f, true)">@Html(Messages("admin.customer.watch.action.new.invoice.quick.service.with.water", "89"))</a></li>
		      </ul>
		    </div>
        </div>
     </div>
  </div>
}
