@(thisInstance: Form[models.CustomerWatch], isItNew: Boolean)

@import tags._

@actionlink() = @{
	routes.CrudHelper.manage("customer-watch-quotation-validation")
}

@end_scripts = {
	<script>
		$(document).ready(function(){
			$('button[value="delete"]').hide();
			$('button[value="show"]').hide();
		})
	</script>
}

@before_form = {}


@after_form = {
	<div class="container">
		<div class="row">
	        <div class="title col-md-6"><h3>@Html(Messages("customer.watch.waiting.for.quotation.spare.parts"))</h3></div>
     	</div>
		
		@admin.fragments.sparepartslist(models.SparePart.findAllByCustomerWatch(thisInstance.get))
	</div>
}

@defining(new views.FormDisplay(thisInstance, "customer.watch.quotation.validation", "admin.customer.watch.quotation.validation.form")) { formDisplay =>
		@{ 
		   formDisplay.addFormField("id", true, "input", 'readonly -> "readonly");
		   formDisplay.addFormField("b2bId", true, "input", 'readonly -> "readonly");
		   formDisplay.addFormField("brand", true, "input", 'readonly -> "readonly");
		   formDisplay.addFormField("model", true, "input", 'readonly -> "readonly");
		   formDisplay.addFormField("reference", true, "input", 'readonly -> "readonly");
		   formDisplay.addFormField("serial", true, "input", 'readonly -> "readonly");
		   formDisplay.addFormField("partnerToInfos", true, "textarea", 'readonly -> "readonly");
		   formDisplay.addFormField("partnerFromInfos", true, "textarea", 'readonly -> "readonly");
		   formDisplay.addFormField("servicePrice", true, "input", 'readonly -> "readonly");
		   formDisplay.addFormField("finalCustomerServicePriceAcceptedInfos", true, "textarea");
		   formDisplay.addFormField("finalCustomerServicePrice", true, "input", 'type -> "number", 'min -> "0", 'step -> "1");
		   
		   formDisplay.addFormField("finalCustomerServicePriceAccepted", true, "checkbox");
		   formDisplay.addFormField("servicePriceAccepted", true, "checkbox");
		   
		   formDisplay.addFormField("serviceDueDate", true, "input", 'type -> "date");
		   
		   formDisplay.addFormField("customerHasConstraint", true, "checkbox");
		   formDisplay.addFormField("serviceDueDateMustHave", true, "input", 'type -> "date");
		   
		   
		   formDisplay.addFormField("status", true, "input", 'type -> "hidden", '_class -> "hidden");
		   formDisplay.addFormField("servicePriceAccepted", true, "input", 'type -> "hidden", '_class -> "hidden");
		   formDisplay.addFormField("servicePaid", true, "input", 'type -> "hidden", '_class -> "hidden");
		   formDisplay.addFormField("serviceNeeded", true, "input", 'type -> "hidden", '_class -> "hidden");
		   formDisplay.addFormField("finalCustomerQuotationSent", true, "input", 'type -> "hidden", '_class -> "hidden");
		   formDisplay.addFormField("finalCustomerServicePriceAccepted", true, "input", 'type -> "hidden", '_class -> "hidden");
		   formDisplay.addFormField("finalCustomerServicePaid", true, "input", 'type -> "hidden", '_class -> "hidden");
		   
		   
		   formDisplay.addFormField("customerHasCalledForDelay", true, "input", 'type -> "hidden", '_class -> "hidden");
		}
	
	@admin.template.form(formDisplay, false, actionlink, end_scripts, before_form, after_form)
}
