@(template: models.CustomerWatch)
@import tags._
@import fr.hometime.utils._


@end_body = {
	<div id="steps" class="row">
		<div class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-4">
			<img class="img-responsive center-block" src="@routes.Assets.at("images/step"+CustomerWatchHelper.getStatusForCustomerAsLong(template)+".png")" alt="step"+CustomerWatchHelper.getStatusForCustomerAsLong(template)+"">
		</div>
	</div>
	<div class="row for-editing-action">
        <div class="text-center col-xs-12">
        	@if(CustomerWatchHelper.isWaitingQuotationAcceptation(template.id)) {
        	<a type="button" class="btn btn-success" href="@routes.CustomerAdmin.prepareAcceptQuotation(template.id)"><span class="glyphicon glyphicon-ok"></span>@Html(Messages("admin.customer.watch.customer.action.accept.quotation"))</a>
        	<a type="button" class="btn btn-danger" href="@routes.CustomerAdmin.prepareRefuseQuotation(template.id)"><span class="glyphicon glyphicon-remove"></span>@Html(Messages("admin.customer.watch.customer.action.refuse.quotation"))</a>
        	} else {
        		@if(CustomerWatchHelper.isWorkDone(template.id)) {
        		<a type="button" class="btn btn-success" href="@routes.CustomerAdmin.acceptWatchBack(template.id)"><span class="glyphicon glyphicon-log-in"></span>@Html(Messages("admin.customer.watch.customer.action.accept.watch.back"))</a>
        		} else {
        		<a type="button" class="btn btn-primary" href="@routes.CustomerAdmin.prepareWatchEdition(template.id)"><span class="glyphicon glyphicon-edit"></span>@Html(Messages("admin.customer.watch.customer.action.edit.watch"))</a>
        		}
        	}
        </div>
    </div>
}


@defining(new views.ModelDisplay(template, "admin.customer.watch.for.partner")) { modelDisplay =>
		@{ 	modelDisplay.addField("b2bId");
		    modelDisplay.addField("brand");
			modelDisplay.addField("model");
			modelDisplay.addField("reference");
			modelDisplay.addField("serial");
			modelDisplay.addField("finalCustomerWatchInfos", "getFinalCustomerWatchInfos", false, "" , "customer_watch_infos");
			modelDisplay.addField("quotation", "getQuotation", false, "" , "customer_quotation");
			modelDisplay.addField("finalCustomerEmergencyLevel");
			modelDisplay.addField("finalCustomerFromInfos", "getFinalCustomerFromInfos", false, "" , "from_customer_info");
			modelDisplay.addField("finalCustomerServicePriceAcceptedInfos", "getFinalCustomerServicePriceAcceptedInfos", false, "" , "from_customer_service_price_accepted_info");
			
			if(!CustomerWatchHelper.isToBeAccepted(template.id)) {
				modelDisplay.addField("collectingDate", "getCollectingDateAsShortDate");
				if(!CustomerWatchHelper.isWaitingQuotation(template.id)) {
					modelDisplay.addField("finalCustomerServicePrice", "getFinalCustomerServicePrice", false, "", "customer_service_price");
					modelDisplay.addField("finalCustomerServicePriceAccepted", "getFinalCustomerServicePriceAcceptedAsMessageKey", false, "", "customer_service_price_accepted");
				}
			}
			modelDisplay.addField("customerStatus", "getStatusForCustomer", false, "", "customer_status");
			modelDisplay.addField("customerNextStep", "getNextStepForCustomer");
			if(!CustomerWatchHelper.isToBeAccepted(template.id)) {
				modelDisplay.addField("finalCustomerToInfos", "getFinalCustomerToInfos", false, "" , "to_customer_info");
			}
		}
	
	@admin.template.display(modelDisplay, null, null, end_body)
}

    
    <script>
    	$(document).ready(function(){
	        $('#steps').detach().insertAfter( $( ".row" ).first() );
	    });
    </script>