@(watch: Form[models.CustomerWatch], isANewWatch: Boolean, customers: List[models.Customer], partners: List[models.Partner])
@import tags._
@import helper._
@implicitField = @{ FieldConstructor(myBootstrapFieldConstructor.f) }
@actions = {
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-9 text-center">
      	<a class="btn btn-default" href="#" onclick="history.back();return false;"><span class="glyphicon glyphicon-chevron-left">@Html(Messages("admin.customer.watch.action.cancel"))</a>
      @if(isANewWatch) {
      	<button type="submit" class="btn btn-success" name="action" value="save"><span class="glyphicon glyphicon-save">@Html(Messages("admin.customer.watch.action.save"))</button>
      } else {
      	@tags.inputHidden(watch("id"))
        <button type="submit" class="btn btn-primary" name="action" value="edit"><span class="glyphicon glyphicon-save"></span>@Html(Messages("admin.customer.watch.action.edit"))</button>
        <button type="submit" class="btn btn-danger" name="action" value="delete"><span class="glyphicon glyphicon-trash"></span>@Html(Messages("admin.customer.watch.action.delete"))</button>                  
      }
      </div>
    </div>
}

@layouts.admin() {
    <div class="container">
    	@display_flash()
    
            @helper.form(action = routes.CustomerWatch.manage(), 'class -> "form-horizontal", 'role -> "form") {
            
            	@actions
           
	            @helper.select(watch("customer.id"),
                         for (s <- customers) yield s.id.toString -> (s.name + " " + s.firstname),
                         '_default -> Messages("admin.customer.watch.form.value.customer.default"),
                         'placeholder -> Messages("admin.customer.watch.form.placeholder.customer"), '_label -> Messages("admin.customer.watch.form.label.customer"),
                         'class -> "form-control", '_class -> "form-group", '_label_class -> "col-sm-3 control-label", '_body_class -> "col-sm-9", '_showConstraints -> false)

            	@simple_admin_input(watch("b2bId"), "admin.customer.watch.form.VARIABLE.b2b.id")
            	
            	@simple_admin_input(watch("brand"), "admin.customer.watch.form.VARIABLE.brand")
            	
            	@simple_admin_input(watch("model"), "admin.customer.watch.form.VARIABLE.model")
            	
            	@simple_admin_input(watch("reference"), "admin.customer.watch.form.VARIABLE.reference")
            	
            	@simple_admin_input(watch("serial"), "admin.customer.watch.form.VARIABLE.serial")
            	
            	@simple_admin_input(watch("serial2"), "admin.customer.watch.form.VARIABLE.serial2")
            	
            	@simple_admin_input(watch("movement"), "admin.customer.watch.form.VARIABLE.movement")
            	
            	@simple_admin_input(watch("picturesUrl"), "admin.customer.watch.form.VARIABLE.pictures.url")
            	
            	@simple_admin_textarea(watch("additionnalModelInfos"), "admin.customer.watch.form.VARIABLE.additionnal.model.infos")
            	
            	<hr />

				@tags.myInputRadioGroup(watch("status"),
							  for ( s <- models.CustomerWatch.CustomerWatchStatus.values.toList) yield s.toString -> Messages("admin.customer.watch.form.value.status."+s.name.toLowerCase.replace('_','.'))
                              , '_label -> Html(Messages("admin.customer.watch.form.label.status")),
                              '_class -> "form-group", '_label_class -> "col-sm-3 control-label", '_body_class -> "col-sm-9", '_showConstraints -> false)

				@tags.myInputRadioGroup(watch("type"),
							  for ( s <- models.CustomerWatch.CustomerWatchType.values.toList) yield s.toString -> Messages("admin.customer.watch.form.value.type."+s.name.toLowerCase.replace('_','.'))
                              , '_label -> Html(Messages("admin.customer.watch.form.label.type")),
                              '_class -> "form-group", '_label_class -> "col-sm-3 control-label", '_body_class -> "col-sm-9", '_showConstraints -> false)
                              
               	@helper.select(watch("partner.id"),
                         for (s <- partners) yield s.id.toString -> (s.name),
                         '_default -> Messages("admin.customer.watch.form.value.partner.default"),
                         'placeholder -> Messages("admin.customer.watch.form.placeholder.partner"), '_label -> Messages("admin.customer.watch.form.label.partner"),
                         'class -> "form-control", '_class -> "form-group", '_label_class -> "col-sm-3 control-label", '_body_class -> "col-sm-9", '_showConstraints -> false)

				@simple_admin_textarea(watch("partnerToInfos"), "admin.customer.watch.form.VARIABLE.partner.to.infos")
				
				@simple_admin_checkbox(watch("newServicePriceNeeded"), "admin.customer.watch.form.VARIABLE.new.service.price.needed")
				
				<hr />
				
				@simple_admin_input(watch("serviceDueDate"), "admin.customer.watch.form.VARIABLE.service.due.date", 'type -> "date")
				
				@simple_admin_checkbox(watch("customerHasConstraint"), "admin.customer.watch.form.VARIABLE.customer.has.constraint")
				
				@simple_admin_input(watch("serviceDueDateMustHave"), "admin.customer.watch.form.VARIABLE.service.due.date.must.have", 'type -> "date")
				
				@simple_admin_checkbox(watch("customerHasCalledForDelay"), "admin.customer.watch.form.VARIABLE.customer.has.called.for.delay")
				
				@simple_admin_input(watch("lastCustomerCallDate"), "admin.customer.watch.form.VARIABLE.last.customer.call.date", 'type -> "date")
				
				@simple_admin_input(watch("lastDueDateCommunicated"), "admin.customer.watch.form.VARIABLE.last.due.communicated.date", 'type -> "date")
				
				@simple_admin_textarea(watch("lastCustomerCallInformation"), "admin.customer.watch.form.VARIABLE.last.delay.information.given")
				
				
				<hr />
				
				@simple_admin_input(watch("serviceStatus"), "admin.customer.watch.form.VARIABLE.service.status", 'type -> "number", 'min -> "0", 'max -> "100", 'step -> "1")
				
				@simple_admin_input(watch("emergencyLevel"), "admin.customer.watch.form.VARIABLE.emergency.level", 'type -> "number", 'min -> "0", 'step -> "1")
				
				@simple_admin_textarea(watch("partnerFromInfos"), "admin.customer.watch.form.VARIABLE.partner.from.infos", 'readonly -> "readonly")
				
				@simple_admin_input(watch("firstEntryInPartnerWorkhopDate"), "admin.customer.watch.form.VARIABLE.first.entry.in.partner.workshop.date", 'type -> "date", 'readonly -> "readonly")
				
				@simple_admin_input(watch("expectedServiceEndDate"), "admin.customer.watch.form.VARIABLE.expected.service.end.date", 'type -> "date", 'readonly -> "readonly")

				@simple_admin_input(watch("servicePrice"), "admin.customer.watch.form.VARIABLE.service.price", 'type -> "number", 'min -> "0", 'step -> "1", 'readonly -> "readonly")
				
				@simple_admin_checkbox(watch("servicePriceAccepted"), "admin.customer.watch.form.VARIABLE.service.price.accepted")
				
				<hr />
				
				@simple_admin_input(watch("testerEmail"), "admin.customer.watch.form.VARIABLE.tester.email", 'readonly -> "readonly")
				
				@simple_admin_checkbox(watch("serviceNeeded"), "admin.customer.watch.form.VARIABLE.service.needed")
				
				@simple_admin_checkbox(watch("serviceOnHold"), "admin.customer.watch.form.VARIABLE.service.on.hold")
				
				@simple_admin_checkbox(watch("servicePaid"), "admin.customer.watch.form.VARIABLE.service.paid")
				
				<hr />
				
				@simple_admin_checkbox(watch("finalCustomerQuotationSent"), "admin.customer.watch.form.VARIABLE.final.customer.quotation.sent")
				
				@simple_admin_input(watch("finalCustomerServiceStatus"), "admin.customer.watch.form.VARIABLE.final.customer.service.status", 'type -> "number", 'min -> "0", 'max -> "100", 'step -> "1")
				
				@simple_admin_input(watch("finalCustomerEmergencyLevel"), "admin.customer.watch.form.VARIABLE.final.customer.emergency.level", 'type -> "number", 'min -> "0", 'step -> "1")
				
				@simple_admin_input(watch("finalCustomerServicePrice"), "admin.customer.watch.form.VARIABLE.final.customer.service.price", 'type -> "number", 'min -> "0", 'step -> "1")
				
				@simple_admin_checkbox(watch("finalCustomerServicePriceAccepted"), "admin.customer.watch.form.VARIABLE.final.customer.service.price.accepted", 'readonly -> "readonly")
				
				@simple_admin_checkbox(watch("serviceDefinitivelyRefused"), "admin.customer.watch.form.VARIABLE.service.definitively.refused", 'readonly -> "readonly")
				
				@simple_admin_input(watch("quotation"), "admin.customer.watch.form.VARIABLE.quotation", 'readonly -> "readonly")
				
				@simple_admin_checkbox(watch("finalCustomerServicePaid"), "admin.customer.watch.form.VARIABLE.final.customer.service.paid")
				
				@simple_admin_textarea(watch("finalCustomerFromInfos"), "admin.customer.watch.form.VARIABLE.final.customer.from.infos")
				
				@simple_admin_textarea(watch("finalCustomerToInfos"), "admin.customer.watch.form.VARIABLE.final.customer.to.infos")
				
				@simple_admin_textarea(watch("finalCustomerWatchInfos"), "admin.customer.watch.form.VARIABLE.final.customer.watch.infos")
				
				@simple_admin_textarea(watch("finalCustomerServicePriceAcceptedInfos"), "admin.customer.watch.form.VARIABLE.final.customer.service.price.accepted.infos")
				
				@simple_admin_input(watch("backToCustomerDate"), "admin.customer.watch.form.VARIABLE.back.to.customer.date", 'type -> "date", 'readonly -> "readonly")
				
				<hr />
				
				@simple_admin_checkbox(watch("authenticationNeeded"), "admin.customer.watch.form.VARIABLE.authentication.needed")
				
				@simple_admin_checkbox(watch("isAuthentic"), "admin.customer.watch.form.VARIABLE.is.authentic")
				
				@simple_admin_textarea(watch("authenticationInformations"), "admin.customer.watch.form.VARIABLE.authentication.infos")
				
				@simple_admin_textarea(watch("authenticationPrivateInformations"), "admin.customer.watch.form.VARIABLE.authentication.private.infos")
				
				@simple_admin_input(watch("authenticationWatchDetails"), "admin.customer.watch.form.VARIABLE.authentication.watch.details")
				
				
				
				<hr />

	            @simple_admin_input(watch("endOfMainWaranty"), "admin.customer.watch.form.VARIABLE.end.of.main.waranty", 'type -> "date")
	            
	            @simple_admin_input(watch("endOfWaterWaranty"), "admin.customer.watch.form.VARIABLE.end.of.water.waranty", 'type -> "date")
	            
	            @simple_admin_input(watch("nextService"), "admin.customer.watch.form.VARIABLE.next.service", 'type -> "date")
	            
	            @simple_admin_input(watch("nextPartialService"), "admin.customer.watch.form.VARIABLE.next.partial.service", 'type -> "date")
	            
                <div class="form-group">
                  <label for="infos" class="col-xs-3 control-label">@Messages("admin.customer.watch.form.label.cat.infos")</label>
                  <div class="col-xs-9">
                    <div class="row inner-row">
                    	@simple_admin_textarea(watch("serviceInfos"), "admin.customer.watch.form.VARIABLE.service.infos")
                    	
                    	@simple_admin_textarea(watch("otherInfos"), "admin.customer.watch.form.VARIABLE.other.infos")
                    </div>
                  </div>
                </div>
                
                @actions
            }
    </div>
}