@(thisInstance: Form[models.CustomerWatch], isItNew: Boolean)

@import tags._

@actionlink() = @{
	routes.CrudHelper.manage("customer-watch-phonecall")
}

@end_scripts = {
	<script>
		$(document).ready(function(){
			$('button[value="delete"]').hide();
			$('button[value="show"]').hide();
		})
	</script>
}

@before_form = {}


@after_form = {}

@defining(new views.FormDisplay(thisInstance, "customer.watch.phonecall", "admin.customer.watch.phonecall.form")) { formDisplay =>
		@{ 
		   formDisplay.addFormField("id", true, "input", 'readonly -> "readonly");
		   formDisplay.addFormField("b2bId", true, "input", 'readonly -> "readonly");
		   formDisplay.addFormField("brand", true, "input", 'readonly -> "readonly");
		   formDisplay.addFormField("model", true, "input", 'readonly -> "readonly");
		   formDisplay.addFormField("reference", true, "input", 'readonly -> "readonly");
		   formDisplay.addFormField("serial", true, "input", 'readonly -> "readonly");
		   formDisplay.addFormField("partnerToInfos", true, "textarea", 'readonly -> "readonly");
		   formDisplay.addFormField("partnerFromInfos", true, "textarea", 'readonly -> "readonly");
		   formDisplay.addFormField("servicePrice", true, "input", 'readonly -> "readonly");
		   formDisplay.addFormField("finalCustomerServicePriceAcceptedInfos", true, "textarea", 'readonly -> "readonly");
		   formDisplay.addFormField("finalCustomerServicePrice", true, "input", 'readonly -> "readonly");
		   
		   formDisplay.addFormField("finalCustomerServicePriceAccepted", true, "input", 'type -> "hidden", '_class -> "hidden");
		   formDisplay.addFormField("servicePriceAccepted", true, "input", 'type -> "hidden", '_class -> "hidden");
		   
		   formDisplay.addFormField("serviceDueDate", true, "input", 'type -> "date", 'readonly -> "readonly");
		   
		   formDisplay.addFormField("customerHasCalledForDelay", true, "checkbox");
		   formDisplay.addFormField("lastCustomerCallDate", true, "input", 'type -> "date");
		   formDisplay.addFormField("lastDueDateCommunicated", true, "input", 'type -> "date");
		   
		   formDisplay.addFormField("lastCustomerCallInformation", true, "textarea");
		   
		   formDisplay.addFormField("customerHasConstraint", true, "checkbox");
		   formDisplay.addFormField("serviceDueDateMustHave", true, "input", 'type -> "date");
		   
		   
		   formDisplay.addFormField("status", true, "input", 'type -> "hidden", '_class -> "hidden");
		   formDisplay.addFormField("servicePriceAccepted", true, "input", 'type -> "hidden", '_class -> "hidden");
		   formDisplay.addFormField("servicePaid", true, "input", 'type -> "hidden", '_class -> "hidden");
		   formDisplay.addFormField("serviceNeeded", true, "input", 'type -> "hidden", '_class -> "hidden");
		   formDisplay.addFormField("finalCustomerQuotationSent", true, "input", 'type -> "hidden", '_class -> "hidden");
		   formDisplay.addFormField("finalCustomerServicePriceAccepted", true, "input", 'type -> "hidden", '_class -> "hidden");
		   formDisplay.addFormField("finalCustomerServicePaid", true, "input", 'type -> "hidden", '_class -> "hidden");
		   
		}
	
	@admin.template.form(formDisplay, false, actionlink, end_scripts, before_form, after_form)
}
