@(template: models.CustomerWatch)
@import tags._


@end_body = {

}

@test = {
	<div class="toto">
		<p>Essai</p>
	</div>
}

@defining(new views.ModelDisplay(template, "admin.customer.watch.for.collaborator")) { modelDisplay =>
		@{ 	modelDisplay.addTitle("watch");
			modelDisplay.addField("id");
		    modelDisplay.addField("brand");
			modelDisplay.addField("model");
			modelDisplay.addField("reference");
			modelDisplay.addField("serial");
			modelDisplay.addSeparator();
			modelDisplay.addTitle("service");
			modelDisplay.addField("serviceDueDate", "getServiceDueDate", false, null, "date countdown");
			modelDisplay.addField("emergencyLevel", "getEmergencyLevel", false, null, "percent");
			modelDisplay.addField("serviceInfos");
			modelDisplay.addField("otherInfos");
			modelDisplay.addTitle("status");
			modelDisplay.addField("expectedServiceEnding", "getExpectedServiceEnding", false, null, "date countdown");
			modelDisplay.addField("serviceStatus", "getServiceStatus", false, null, "percent");
			modelDisplay.addField("serviceInfoFromWatchmaker");
			modelDisplay.addTitle("blocked");
			modelDisplay.addField("sparepartToFind", "getSparepartToFind", false, null, "boolean");
			modelDisplay.addField("sparepartFound", "getSparepartFound", false, null, "boolean");
			modelDisplay.addField("needHelp", "getNeedHelp", false, null, "boolean");
			modelDisplay.addField("noSolution", "getNoSolution", false, null, "boolean");
			
		}
	
	@admin.template.display(modelDisplay, null, null, end_body)
}