@(currentPage: com.avaje.ebean.Page[models.CustomerWatch], currentSortBy: String, currentOrder: String, currentFilter: String, currentSize: Integer, currentStatus: String)
@import tags._

@optionallink(id:Long) = {
    @routes.Partner.acceptWatch(id)
}

@end_scripts = {
	<script>
		$(document).ready(function(){
			$('a[class~="btn-default"]').hide();
			$('a[class~="btn-primary"]').append(" Modifier l'avancement");
		})
	</script>
}


@defining(new views.PageDisplay(currentPage, "Modèle ou marque", "admin.customer.watch.partner.work.in.progress.page")) { pageDisplay =>
	@{  pageDisplay.addTableField("id", "id", "getFullId", false);
		pageDisplay.addTableField("firstEntryInPartnerWorkshopDate", "acceptance.date", "getFirstEntryInPartnerWorkshopDate", false, "date medium");
	    pageDisplay.addTableField("serviceDueDate", "due.date", "getServiceDueDate", false, "date medium");
	    pageDisplay.addTableField("brand", "brand", "getBrand", false);
	    pageDisplay.addTableField("model", "model", "getWatchDetails", false, "take 20");
	    pageDisplay.addTableField("partnerToInfos", "infos", "getPartnerToInfos", false, "take 20");
	    pageDisplay.addTableField("serviceStatus", "service.status", "getServiceStatus", false, "i18n");
	    		   
	}
	
	@admin.template.page_with_default_links(pageDisplay, "customer-watch-part-work-in-progress", null, currentSortBy, currentOrder, currentFilter, currentSize, false, false, end_scripts)
}