@(thisInstance: Form[models.CustomerWatch], isItNew: Boolean)

@import tags._

@actionlink() = @{
	routes.CrudHelper.manage("customer-watch-watchmaker-waiting-quotation")
}

@end_scripts = {
	<script>
		$(document).ready(function(){
			$('button[value="delete"]').hide();
			$('button[value="show"]').hide();
		})
	</script>
}

@defining(new views.FormDisplay(thisInstance, "customer.watch.waiting.for.quotation", "admin.customer.watch.waiting.for.quotation.form")) { formDisplay =>
		@{ 
		   formDisplay.addFormField("id", true, "input", 'readonly -> "readonly");
		   formDisplay.addFormField("brand", true, "input", 'readonly -> "readonly");
		   formDisplay.addFormField("model", true, "input", 'readonly -> "readonly");
		   formDisplay.addFormField("reference", true, "input", 'readonly -> "readonly");
		   formDisplay.addFormField("serial", true, "input", 'readonly -> "readonly");
		   formDisplay.addFormField("partnerToInfos", true, "textarea", 'readonly -> "readonly");
		   formDisplay.addFormField("servicePrice", true, "input", 'type -> "number", 'min -> "0", 'step -> "1");
		   formDisplay.addFormField("expectedServiceEndDate", true, "input", 'type -> "date");
		   formDisplay.addFormField("partnerFromInfos", true, "textarea");
		   formDisplay.addFormField("status", true, "input", 'type -> "hidden", '_class -> "hidden");
		   formDisplay.addFormField("finalCustomerQuotationSent", true, "input", 'type -> "hidden", '_class -> "hidden");
		}
	
	@admin.template.form(formDisplay, false, actionlink, end_scripts)
}
