@(currentPage: com.avaje.ebean.Page[models.CustomerWatch], currentSortBy: String, currentOrder: String, currentFilter: String, currentSize: Integer, currentStatus: String)
@import tags._

@optionallink(id:Long) = {
    
}


@defining(new views.PageDisplay(currentPage, "Modèle ou marque", "admin.customer.watch.partner.page")) { pageDisplay =>
	@{	pageDisplay.addTableField("id", "id", "getId", false);
	    pageDisplay.addTableField("firstEntryInPartnerWorkshopDate", "acceptance.date", "getFirstEntryInPartnerWorkshopDate", false, "date medium");
	    pageDisplay.addTableField("serviceDueDate", "due.date", "getServiceDueDate", false, "date medium");
	    pageDisplay.addTableField("brand", "brand", "getBrand", false);
	    pageDisplay.addTableField("servicePrice", "price", "getServicePrice", false, "price");
	    pageDisplay.addTableField("partnerToInfos", "infos", "getPartnerToInfos", false);
	}
	
	@admin.template.page_with_default_links(pageDisplay, "customer-watch-part", optionallink, currentSortBy, currentOrder, currentFilter, currentSize, false)
}
