@(message: String = "", page: Integer = 1)
@import tags._

@end_script = {
<script>
$(document).ready(function(){
		var initialPage = @page;
		displayPage(initialPage);
		
		$('a#a-page-1').click( function(e) {e.preventDefault(); displayPage(1); return false; } );
		$('a#a-page-2').click( function(e) {e.preventDefault(); displayPage(2); return false; } );
		$('a#a-page-3').click( function(e) {e.preventDefault(); displayPage(3); return false; } );
		
		function displayPage(page) {
			$('[id^=page-].page-section').addClass("hidden");
			$('[id^=a-page-]').parent().removeClass("active");
    		$('#page-'+page+'.page-section').removeClass("hidden");
    		$('a#a-page-'+page).parent().addClass("active");
		}
});
</script>

}

@header(cssid: String, title: String)(content: Html) = {
				<div id="@cssid" class="hidden">
	            <h1 class="cover-heading">@title</h1>
	            @content
	            </div>
}


@import fr.hometime.utils._

@import java.util.List; var quotation=CustomerWatchHelper.findUnderOurResponsabilityFilteredByStatus(CustomerWatchHelper.CustomerWatchDetailedStatus.TO_QUOTE); var tosend=CustomerWatchHelper.findUnderOurResponsabilityFilteredByStatus(CustomerWatchHelper.CustomerWatchDetailedStatus.QUOTATION_TO_SEND_TO_CUSTOMER); var testing=CustomerWatchHelper.findUnderOurResponsabilityFilteredByStatus(CustomerWatchHelper.CustomerWatchDetailedStatus.TESTING)

@figure(data: List[models.CustomerWatch], text: String) = {
@if(data != null && data.size() > 0) { - <b>@data.size() @text</b>}
}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hometime- Dashboard</title>
    
    @layouts.fragments.bootstrap_css()

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/admin.min.css")">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/cover.min.css")">

  </head>

  <body data-ws-url="@routes.Dashboard.socket">
  
  <div id="data_internal_messages_dic" class="hidden">
	    	@for(messageType <- models.InternalMessage.InternalMessageType.values) {
	    		<div data_key="@messageType.name" data_value="@Html(Messages("admin.message.type.name.value."+messageType.name.toLowerCase.replace("_",".")))"/></div>
	    	}
  </div>
  	
  </div>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Hometime / Dashboard<span id="stats"></span><span class="message-holder"></span></h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li @if(page==1) {class="active"}><a href="#" id="a-page-1">Home</a></li>
                  <li @if(page==2) {class="active"}><a href="#" id="a-page-2">Priorités</a></li>
                  <li @if(page==3) {class="active"}><a href="#" id="a-page-3">Messages</a></li>
                </ul>
              </nav>
              <span class="dash-clock">
              <a href="https://time.is/Paris" id="time_is_link" rel="nofollow" style="font-size:30px"></a>
			  <span id="Paris_z71f" style="font-size:30px"></span>
			  </span>
			  <script src="//widget.time.is/t.js"></script>
			  <script>
				time_is_widget.init({Paris_z71f:{}});
			  </script>
              
              
            </div>
          </div>

	
          
		  
          
          <div class="cover-content">
          
          <div id="dialog" title="Basic dialog">
			  <p>Offline...</p>
			</div>
          
          <!-- Page 1 -->
          <div class="page-section hidden" id="page-1">
           <div class="row">
          	
          	<div class="col-lg-6">
          		@header("order_requests", "Nouvelles demandes") {
          		@fragments.orderlist(null, false, "admin.index.order.requests", true, true)
          		}
          		@header("appointments", "Rendez-vous") {
	            @fragments.appointments(null, false, "admin.index.appointment.requests", true, true)
				}
				@header("sav", "Retours SAV") {
	            @fragments.watchlist_on_dash(null, "admin.index.watches", false, true)
				}
				@header("quick_wins", "Entretiens rapides") {
	            @fragments.watchlist_on_dash(null, "admin.index.watches", false, true)
				}
	            
	            @header("emergencies", "Urgences") {
	            @fragments.watchlist_on_dash(null, "admin.index.watches", false, true)
				}
	        </div>
	        
	        <div class="col-lg-6">
		        @header("managed", "Montres en cours") {
				@fragments.watchlistServicing(null, false, "admin.index.watches", true, true)
				}
				@header("spare_parts", "Pièces détachées") {
				@fragments.sparepartsws(null, false, "admin.spare.parts.to.receive", true)
				}
	        </div>
	      </div>
	     </div>
         <!-- Fin page 1 -->
         <!-- Page 2 -->
         <div class="page-section hidden" id="page-2">
          <div class="row">
          		@header("emergencies_full", "Urgences") {
          			<div class="col-lg-12">
	            	@fragments.watchlist_on_dash(null, "admin.index.watches", false, true)
	            	</div>
				}
          </div>
         </div>
         <!-- Fin page 2 -->
         <!-- Page 3 -->
         <div class="page-section hidden" id="page-3">
          	<div class="row">
          		@header("display_messages", "Messages") {
          			<div class="" id="internal_messages">
          			</div>
          			<div class="hidden" id="no-messages">
	          			<h3>
        	  				@Html(Messages("admin.index.messages.active.none"))
    	      			</h3>
          			</div>

				}
		    </div>    
          </div>
         </div>
         <!-- Fin page 3 -->

          <div class="mastfoot">
            <div class="inner">
              <p>-</p>
            </div>
          </div>

        </div>
        
        </div>

      </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="@remote_assets("javascripts/admin.js")"></script>
    <script src="@remote_assets("javascripts/dashboard.js")"></script>
    
    @end_script
    
  </body>
</html>
