@(currentPage: com.avaje.ebean.PagedList[models.ExternalDocument], currentSortBy: String, currentOrder: String, currentFilter: String, currentSize: Integer)
@import tags._

@optionallink(id:Long) = {
    @routes.Admin.goToExternalDocumentUrl(id)
}

@defining(new views.PageDisplay(currentPage, "nom ou description", "admin.externaldocument.page")) { pageDisplay =>
	@{ 	pageDisplay.addTableField("name", "name", "getName", false);
		pageDisplay.addTableField("description", "description", "getDescription", false);
	}
	
	@admin.template.page_with_default_links(pageDisplay, "ExternalDocuments", optionallink, currentSortBy, currentOrder, currentFilter, currentSize)
}
