@(message: String = "", calls: List[models.IncomingCall])
@import tags._

@import fr.hometime.utils._

@end_scripts = {
<script>

</script> 
}

@layouts.admin("Admin", end_scripts) {
	<div class="container">
		@for(call <- calls) {
			<div class="row display">
				<div class="col-xs-4">
					<span>
					@call.phone_number
					</span>
				</div>
				<div class="col-xs-4">
					<span>
					@call.missed
					</span>
				</div>
				<div class="col-xs-4">
					<span>
					@call.call_date
					</span>
				</div>
			</div>
		}
	</div>
}
