@(message: String = "", activeCustomers: List[models.Customer], unrepliedOrderRequests: List[models.OrderRequest], unrepliedBuyRequests: List[models.BuyRequest], watches: List[models.CustomerWatch])
@import tags._

@import fr.hometime.utils._

@end_scripts = {
<script>
	function copyToClipboard(value) {
      var aux = document.createElement("input");

      aux.setAttribute("value", value);
      // Append it to the body
      document.body.appendChild(aux);
      // Highlight its content
      aux.select();
      // Copy the highlighted text
      document.execCommand("copy");
      // Remove it from the body
      document.body.removeChild(aux);
    }
    
    function doAction(url) {
  		$.get(url);
  		location.reload();
	  }
</script> 
}

@layouts.admin("Admin", end_scripts) {
	<div class="container">
	@if_admin_or_collaborator() {
    @if(unrepliedOrderRequests != null && unrepliedOrderRequests.size >0) {
    	<h3>
    		@Html(Messages("admin.index.order.requests.active"))
    	</h3>
    	<table class="table table-condensed table-striped table-bordered">
          <thead>
	        <tr>
	          <th>@Html(Messages("admin.index.order.requests.head.link.to"))</th>
	          <th>@Html(Messages("admin.index.order.requests.head.request.date"))</th>
	          <th>@Html(Messages("admin.index.order.requests.head.email"))</th>
	          <th>@Html(Messages("admin.index.order.requests.head.details"))</th>
	          <th>@Html(Messages("admin.index.order.requests.head.actions"))</th>
	        </tr>
	      </thead>
	      <tbody>
	      	@for(request <- unrepliedOrderRequests) {
	      	<tr class="feedback_asked_@request.feedbackAsked">
	      		<td><a href="@routes.Admin.displayOrderRequest(request.id)">#@request.id</a></td>
	      		<td>@display_date(request.requestDate, "dd/MM/yyyy HH:mm")</td>
	      		<td>@display_copyable_email_admin_only(request.email, "admin.index.order.requests.action.copy.email.address")</td>
	      		<td>@(request.brand), @takeif(request.model, 30), @(request.city)</td>
	      		<td>
		      		<a type="button" class="btn btn-primary btn-xs" href="@routes.Admin.setRepliedOrderRequest(request.id)" title="@Messages("admin.index.order.requests.action.set.replied.title")"><span class="glyphicon glyphicon-new-window"></span></a>
	                <a type="button" class="btn btn-warning btn-xs" href="@routes.Admin.closeOrderRequest(request.id)" title="@Messages("admin.index.order.requests.action.close.title")"><span class="glyphicon glyphicon-remove"></span></a>
	                <a type="button" class="btn btn-success btn-xs" href="@routes.Admin.changeFeedbackAsked(request.id)" title="@Messages("admin.index.order.requests.action.change.feedback.asked.title")"><span class="glyphicon glyphicon-envelope"></span></a>
                </td>
	      	</tr>
	      	}
		  </tbody>
		</table>
    } else {
    	<h3>
    		@Html(Messages("admin.index.order.requests.active.none"))
    	</h3>
    }
    <br />
    @if(unrepliedBuyRequests != null && unrepliedBuyRequests.size >0) {
    	<h3>
    		@Html(Messages("admin.index.buy.requests.active"))
    	</h3>
    	<table class="table table-condensed table-striped table-bordered">
          <thead>
	        <tr>
	          <th>@Html(Messages("admin.index.buy.requests.head.link.to"))</th>
	          <th>@Html(Messages("admin.index.buy.requests.head.request.date"))</th>
	          <th>@Html(Messages("admin.index.buy.requests.head.email"))</th>
	          <th>@Html(Messages("admin.index.buy.requests.head.details"))</th>
	          <th>@Html(Messages("admin.index.buy.requests.head.actions"))</th>
	        </tr>
	      </thead>
	      <tbody>
	      	@for(request <- unrepliedBuyRequests) {
	      	<tr>
	      		<td><a href="@routes.BuyRequest.displayBuyRequest(request.id)">#@request.id</a></td>
	      		<td>@display_date(request.requestDate, "dd/MM/yyyy HH:mm")</td>
	      		<td>@display_copyable_email_admin_only(request.email, "admin.index.buy.requests.action.copy.email.address")</td>
	      		<td>@(request.brand), @(request.model), @(request.city)</td>
	      		<td>
		      		<a type="button" class="btn btn-primary btn-xs" href="@routes.BuyRequest.setRepliedBuyRequest(request.id)" title="@Messages("admin.index.buy.requests.action.set.replied.title")"><span class="glyphicon glyphicon-new-window"></span></a>
	                <a type="button" class="btn btn-warning btn-xs" href="@routes.BuyRequest.closeBuyRequest(request.id)" title="@Messages("admin.index.buy.requests.action.close.title")"><span class="glyphicon glyphicon-remove"></span></a>
                </td>
	      	</tr>
	      	}
		  </tbody>
		</table>
    } else {
    	<h3>
    		@Html(Messages("admin.index.buy.requests.active.none"))
    	</h3>
    }
    <br />
    @if(watches != null && watches.size >0) {
    	<h3>
    		@Html(Messages("admin.index.watches.active"))
    	</h3>
    	<table class="table table-condensed table-striped table-bordered">
          <thead>
	        <tr>
	          <th>@Html(Messages("admin.index.watches.head.id"))</th>
	          <th>@Html(Messages("admin.index.watches.head.name"))</th>
	          <th>@Html(Messages("admin.index.watches.head.brand"))</th>
	          <th>@Html(Messages("admin.index.watches.head.model"))</th>
	          <th>@Html(Messages("admin.index.watches.head.last.communication.date"))</th>
	          <th>@Html(Messages("admin.index.watches.head.status"))</th>
	          <th>@Html(Messages("admin.index.watches.head.actions"))</th>
	        </tr>
	      </thead>
	      <tbody>
	      	@for(watch <- watches) {
	      	<tr class="@watch.getQuotationClass">
	      		<td>@if_admin() {<a href="@routes.CustomerWatch.display(watch.id)">}#@watch.id@if_admin() {</a>}</td>
	      		<td>@display_clickable_customer_admin_only(watch.customer)</td>
	      		<td>@watch.brand</td>
	      		<td>@watch.model</td>
	      		<td>@display_date(watch.lastStatusUpdate, "dd/MM/yyyy HH:mm")</td>
	      		<!--<td>@Html(Messages("admin.index.watches.value.status."+watch.status.name.toString.toLowerCase.replace('_','.')))</td>-->
	      		<td>@Messages(CustomerWatchHelper.getStatusName(watch).toLowerCase.replace('_','.'))</td>
	      		<td>
	      			<a type="button" class="btn btn-primary btn-xs" href="@routes.CustomerWatch.setBackToCustomer(watch.id)" title="@Messages("admin.index.watches.action.back.to.customer.title")"><span class="glyphicon glyphicon-user"></span></a>
	      			@watch_actions_button(watch, "admin.index.watches", 'commonclass -> "btn-success")
	      		</td>
	      	</tr>
	      	}
		  </tbody>
		</table>
    } else {
    	<h3>
    		@Html(Messages("admin.index.watches.active.none"))
    	</h3>
    }
    <br />
    @if_admin() {
    @if(activeCustomers != null && activeCustomers.size >0) {
    	<h3>
    		@Html(Messages("admin.index.customers.active"))
    	</h3>
    	<table class="table table-condensed table-striped table-bordered">
          <thead>
	        <tr>
	          <th>@Html(Messages("admin.index.customers.head.name"))</th>
	          <th>@Html(Messages("admin.index.customers.head.last.communication.date"))</th>
	          <th>@Html(Messages("admin.index.customers.head.status"))</th>
	        </tr>
	      </thead>
	      <tbody>
	      	@for(customer <- activeCustomers) {
	      	<tr>
	      		<td><a href="@routes.Customer.display(customer.id)">@customer.name @customer.firstname</a></td>
	      		<td>@display_date(customer.lastCommunicationDate, "dd/MM/yyyy HH:mm")</td>
	      		<td>@Html(Messages("admin.index.customers.value.status."+customer.status.name.toString.toLowerCase.replace('_','.')))</td>
	      	</tr>
	      	}
		  </tbody>
		</table>
    } else {
    	<h3>
    		@Html(Messages("admin.index.customers.active.none"))
    	</h3>
    }
    }
    <br />
    }
    @if_partner() {
    	@index_partner_content()
    }
    @if_customer() {
    	@index_customer_content()
    }
    </div>
}
