@()
@import tags._

@displayWatches(watches: List [models.CustomerWatch], step: Long, key: String = "admin.customer.index.watches", typeOfDisplay: String = "std")  = {

	<div class="row vertical-align">
	<div class="col-xs-2 col-sm-1">
		<img class="img-responsive" src="@routes.Assets.at("images/step"+step+"_only.png")" alt="step"+step+"">
	</div>
	<div class="col-xs-10 col-sm-11">
	@if(watches != null && watches.size >0) {
    	<h3>
    		@Html(Messages(key+".active")) (@watches.size)
    	</h3>
    	<table class="table table-condensed table-striped table-bordered">
          <thead>
	        <tr>
	          <th>@Html(Messages("admin.index.watches.head.id"))</th>
	          <th>@Html(Messages("admin.index.watches.head.brand"))</th>
	          <th>@Html(Messages("admin.index.watches.head.model"))</th>

	          @typeOfDisplay match {
				  case "std" => {
				    <th>@Html(Messages("admin.index.watches.head.last.communication.date"))</th>
				  }
				  
				  case "quotation" => {
				    <th>@Html(Messages("admin.index.watches.head.service.price"))</th>
				  }
				  
				  case "working" => {
				    <th>@Html(Messages("admin.index.watches.head.service.status"))</th>
				  }
				  
				  case "payment" => {
				    <th>@Html(Messages("admin.index.watches.head.service.price.final"))</th>
				  }
				
				  case _ => {
				    <th>-</th>
				  }
				}
	        </tr>
	      </thead>
	      <tbody>
	      	@for(watch <- watches) {
	      	<tr>
	      		<td><a href="@routes.CustomerAdmin.displayWatch(watch.id)">#@watch.b2bId</a></td>
	      		<td>@watch.brand</td>
	      		<td>@watch.model</td>
	      		
	      		@typeOfDisplay match {
				  case "std" => {
				    <td>@display_date(watch.lastStatusUpdate, "dd/MM/yyyy")</td>
				  }
				  
				  case "quotation" => {
				    <td>@display_price(watch.finalCustomerServicePrice.toFloat)</td>
				  }
				  
				  case "working" => {
				    <td>@watch.serviceStatus %</td>
				  }
				  
				  case "payment" => {
				    <td>@display_price(watch.finalCustomerServicePrice.toFloat)</td>
				  }
				
				  case _ => {
				    <td>-</td>
				  }
				}
	      	</tr>
	      	}
		  </tbody>
		</table>
    } else {
    	<h3>
    		@Html(Messages(key+".active.none"))
    	</h3>
    }
    </div>
    </div>
}

	<div class="row">
        <div class="title col-md-6"><h3>@Html(Messages("admin.customer.watch.customer.head.watches"))</h3></div>
        <div class="text-right col-md-6">
        	<a type="button" class="btn btn-success" href="@routes.CustomerAdmin.prepareNewWatchCreation()"><span class="glyphicon glyphicon-plus"></span>@Html(Messages("admin.customer.watch.customer.head.new.watch"))</a>
        </div>
    </div>

@displayWatches(models.CustomerWatch.findForLoggedInCustomerWaitingToBeCollected(session), 1, "admin.customer.index.watches.waiting.to.be.collected")

@displayWatches(models.CustomerWatch.findForLoggedInCustomerWaitingForQuotation(session), 2, "admin.customer.index.watches.waiting.for.quotation")

@displayWatches(models.CustomerWatch.findForLoggedInCustomerWaitingForQuotationApproval(session), 3, "admin.customer.index.watches.waiting.for.quotation.approval", "quotation")

@displayWatches(models.CustomerWatch.findForLoggedInCustomerWorkingOnIt(session), 4, "admin.customer.index.watches.working", "working")

@displayWatches(models.CustomerWatch.findForLoggedInCustomerWorkDone(session), 5, "admin.customer.index.watches.work.done")

@displayWatches(models.CustomerWatch.findForLoggedInCustomerWaitingForPayment(session), 6, "admin.customer.index.watches.waiting.payment", "payment")



