@(thisInstance: Form[models.NewsCategory], isItNew: Boolean)

@import tags._

@actionlink() = @{
	routes.CrudHelper.manage("NewsCategories")
}


@end_scripts = {
	<script>
		$(document).ready(function(){
			$('button[value="delete"]').hide();
			$('button[value="show"]').hide();
		})
	</script>
}

@before_form = {}


@after_form = {

}

@defining(new views.FormDisplay(thisInstance, "news.category", "admin.news.category.form")) { formDisplay =>
		@{ formDisplay.addFormField("name", true, "input");
		   formDisplay.addFormField("description", true, "textarea");
		}
	
	
	@admin.template.form(formDisplay, isItNew, actionlink, end_scripts, before_form, after_form)
}