@(message: String = "", unrepliedOrderRequests: List[models.OrderRequest])
@import tags._

@import fr.hometime.utils._

@end_scripts = {
<script>
	function copyToClipboard(value) {
      var aux = document.createElement("input");

      aux.setAttribute("value", value);
      // Append it to the body
      document.body.appendChild(aux);
      // Highlight its content
      aux.select();
      // Copy the highlighted text
      document.execCommand("copy");
      // Remove it from the body
      document.body.removeChild(aux);
    }

		$(document).ready(function(){
			$('a[id="sms"]').on('click',function(e){
			    if (window.confirm('Envoyer le SMS ？')== false) {
			      e.preventDefault();
			    }
  			});
			
		})    

</script> 
}

@layouts.admin("Admin", end_scripts) {
	<div class="container">
	@if_admin_or_collaborator() {
	@fragments.orderlist(unrepliedOrderRequests, false, "admin.index.order.requests")
	}
}
