@(request: OrderRequest, presetsForBrand: List[PresetQuotationForBrand], presetsForOut: List[PresetQuotationForBrand])
@import tags._

@end_scripts = {
<script>
	@fragments.script_copy_to_clipboard()
</script>

<script src="@remote_assets("javascripts/gmail-api-alt.js")"></script>

<script>
	  var lastEmailInDate;
	  var lastEmailOutDate; 

	  function defaultActionAfterSignin() {
  		readMails();
	  }

	  function getNumberOfMails(emailAddress, qKey, cbFunc) {
	  	var query = qKey + ":" + emailAddress;
	  	var request = gapi.client.gmail.users.messages.list({
          'userId': signedInEmail,
          'q': query,
          'fields': 'resultSizeEstimate'
        });
        
        request.execute(function(resp) {
        	cbFunc(resp.resultSizeEstimate);
        });

	  }
	  
	  function getLastEmail(emailAddress, qKey, cbFunc) {
	  	var query = qKey + ":" + emailAddress;
	  	var request = gapi.client.gmail.users.messages.list({
          'userId': signedInEmail,
          'q': query,
          'maxResults': 1
        });
        
        request.execute(function(resp) {
        if (resp.messages) {
	      $.each(resp.messages, function() {
		    var messageRequest = gapi.client.gmail.users.messages.get({
		      'userId': signedInEmail,
		      'id': this.id
		    });
	
	      	messageRequest.execute(cbFunc);
	      });
	    }
	  	});
	  }
	  
	  function getNumberOfMailsSentTo(emailAddress, cbFunc) {
	  	getNumberOfMails(emailAddress, 'to', cbFunc);
	  }
	  
	  function getNumberOfMailsReceivedFrom(emailAddress,cbFunc) {
	  	getNumberOfMails(emailAddress, 'from', cbFunc);
	  }
	  
      function readMails() {
      	var emailAddress = '@request.email'; 
      	getNumberOfMailsSentTo(emailAddress, function(resp) { updateSpan('mailssent', resp) });
      	getNumberOfMailsReceivedFrom(emailAddress, function(resp) { updateSpan('mailsreceived', resp) });
      	getLastEmail(emailAddress, 'from', function(resp) { appendDate('mailsreceived', resp) });
      	getLastEmail(emailAddress, 'to', function(resp) { appendDate('mailssent', resp) });
      }
      
      function updateSpan(id, value) {
      	$('#'+id).text(value);
      }
      
      function appendToSpan(id, value) {
      	$('#'+id).append(value);
      }
      
      function appendDate(id, message) {
        var d = new Date(parseInt(message.internalDate));
        appendToSpan(id, " - ");
      	appendToSpan(id, d.toISOString().substring(0, 10));
      }
</script>

}

@layouts.admin_with_gmail_api("", end_scripts) {
    
    <div class="container">
    <div class="row">
        <div class="title"><h3>@request.nameOfCustomer le @display_date(request.requestDate, "dd/MM/yyyy")</h3></div>
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
              <colgroup>
                <col class="col-xs-2">
                <col class="col-xs-7">
              </colgroup>
              <thead>
                <tr>
                  <th>Champ</th>
                  <th>Valeur</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    Numéro de demande
                  </td>
                  <td>#@request.id</td>
                </tr>
                <tr>
                  <td>
                    Date
                  </td>
                  <td>@display_date(request.requestDate, "dd/MM/yyyy HH:mm:ss")</td>
                </tr>
                <tr>
                  <td>
                    Type d'entretien
                  </td>
                  <td>@request.orderType.name()</td>
                </tr>
                <tr>
                  <td>
                    Marque de la montre
                  </td>
                  <td>@request.brand.display_name</td>
                </tr>
                <tr>
                  <td>
                    Modèle
                  </td>
                  <td>@request.model</td>
                </tr>
                <tr>
                  <td>
                    Réseau
                  </td>
                  <td>@request.method.name()</td>
                </tr>
                <tr>
                  <td>
                    Montre choisie
                  </td>
                  <td>
                    @if(request.watchChosen != null) {
                        @request.watchChosen.full_name
                    } else {
                        none
                    }
                  </td>
                </tr>
                <tr>
                  <td>
                    Client
                  </td>
                  <td>@request.nameOfCustomer</td>
                </tr>
                <tr>
                  <td>
                    Email
                    <button id="authorize-button" style="display: none;">Authorize</button>
    				<button id="signout-button" style="display: none;">Sign Out</button>
                  </td>
                  <td><table><tr><td>@display_copyable_email(request.email)</td></tr><tr><td><ul><li>Nombre de messages envoyés : <span id="mailssent">0</span></li><li>Nombre de messages reçus : <span id="mailsreceived">0</span></li><li><a class="btn btn-warning" href="@routes.Admin.displayPrepareMail(request.id)" role="button"><span class="glyphicon glyphicon-envelope"></span>&nbsp;Envoyer mail</a> </li></ul></td></tr></table></td>
                </tr>
                <tr>
                  <td>
                    Téléphone
                  </td>
                  <td>@request.phoneNumber</td>
                </tr>
                <tr>
                  <td>
                    Ville
                  </td>
                  <td>@request.city</td>
                </tr>
                <tr>
                  <td>
                    Remarques
                  </td>
                  <td>
                    @if(request.remark ==null || request.remark.isEmpty()) {
                        none
                    } else {
                        @request.remark
                    }
                  </td>
                </tr>
                <tr>
                  <td>
                    Informations internes
                    <a type="button" class="btn btn-success btn-xs" href="@routes.Admin.changeFeedbackAsked(request.id)" title="@Messages("admin.order.action.change.feedback.asked.title")"><span class="glyphicon glyphicon-pencil"></span></a>
                  </td>
                  <td>
                    @if(request.privateInfos ==null || request.privateInfos.isEmpty()) {
                        none
                    } else {
                    <div class="text-preformated">@request.privateInfos</div>
                    }
                  </td>
                </tr>
              </tbody>
            </table>
        </div>
      </div>
      <div class="row">
    	<div class="col-xs-12 text-center">
    		<a class="btn btn-warning" href="@routes.Order.addFromRequest(request.id)" role="button">@Messages("admin.order.create.call.to.action")</a>
            <a class="btn btn-warning" href="@routes.Customer.addFromRequest(request.id)" role="button">@Messages("admin.customer.create.call.to.action")</a>
        </div>
 	  </div>
 	  <br />
      <div class="row dropup">
          @request.method match {
          case OrderRequest.MethodTypes.BOTH => {
            <div class="col-xs-6 text-right">
              @prepare_quotation_button(presetsForBrand, request, true, "btn-default")
            </div>
            <div class="col-xs-6 text-left">
              @prepare_quotation_button(presetsForOut, request, false, "btn-primary")
            </div>
          }
          case OrderRequest.MethodTypes.BRAND => {
            <div class="col-xs-12 text-center">
              @prepare_quotation_button(presetsForBrand, request, true, "btn-default")
            </div>
          }
          case OrderRequest.MethodTypes.OUTLET => {
            <div class="col-xs-12 text-center">
              @prepare_quotation_button(presetsForOut, request, false, "btn-primary")
            </div>
          }
        }
    </div>
}
