@(instance: models.Partner)
@import tags._

@editlink(id:Long) = {
    @routes.CrudHelper.edit("Partners", id)
}

@newlink() = {
    @routes.CrudHelper.create("Partners")
}

@end_body = {
    <div class="form-group">
      <div class="col-sm-offset-1 col-sm-10 text-center">
	    End                
      </div>
    </div>
}

@defining(new views.ModelDisplay(instance, "admin.partner")) { modelDisplay =>
		@{ 	modelDisplay.addField("name");
			modelDisplay.addField("internalName");
			modelDisplay.addField("address");
			modelDisplay.addField("email");
		}
	
	@admin.template.display(modelDisplay, null, editlink, end_body)
}
