@(instance: models.Partner)
@import tags._

@editlink(id:Long) = {
    @routes.CrudHelper.edit("Partners", id)
}

@newlink() = {
    @routes.CrudHelper.create("Partners")
}

@end_body = {

	
	<div class="row">
        <div class="title col-md-6"><h3>@Html(Messages("admin.partner.head.watches.waiting.acceptation"))</h3></div>
    </div>
	
	@fragments.watchlist(models.CustomerWatch.findByPartnerWaitingAcceptation(instance))
	
	<div class="row">
        <div class="title col-md-6"><h3>@Html(Messages("admin.partner.head.watches.waiting.service.price"))</h3></div>
    </div>
    
    @fragments.watchlist(models.CustomerWatch.findByPartnerWaitingServicePrice(instance))
	
	<div class="row">
        <div class="title col-md-6"><h3>@Html(Messages("admin.partner.head.watches.waiting.service.price.to.accept"))</h3></div>
    </div>
	
	@fragments.watchlist(models.CustomerWatch.findByPartnerWaitingServicePriceAcceptation(instance))
	
	<div class="row">
        <div class="title col-md-6"><h3>@Html(Messages("admin.partner.head.watches.work.in.progress"))</h3></div>
    </div>
	
	@fragments.watchlist(models.CustomerWatch.findByPartnerWorkInProgress(instance))
	
	<div class="row">
        <div class="title col-md-6"><h3>@Html(Messages("admin.partner.head.watches.waiting.to.collect"))</h3></div>
    </div>
	
	@fragments.watchlist(models.CustomerWatch.findByPartnerServiceFinishedWaitingToCollect(instance))
	
    <div class="form-group">
      <div class="col-sm-offset-1 col-sm-10 text-center">
	    End                
      </div>
    </div>
}

@defining(new views.ModelDisplay(instance, "admin.partner")) { modelDisplay =>
		@{ 	modelDisplay.addField("name");
			modelDisplay.addField("internalName");
			modelDisplay.addField("address");
			modelDisplay.addField("email");
		}
	
	@admin.template.display(modelDisplay, null, editlink, end_body)

}
