@(currentPage: com.avaje.ebean.Page[models.Partner], currentSortBy: String, currentOrder: String, currentFilter: String, currentSize: Integer)
@import tags._

@optionallink(id:Long) = {
    @routes.MailTemplates.duplicateMailTemplate(id)
}

@defining(new views.PageDisplay(currentPage, "nom", "admin.partner.page")) { pageDisplay =>
	@{  pageDisplay.addTableField("name", "name", "getName", false);
		pageDisplay.addTableField("internalName", "internalName", "getInternalName", false);
	}
	
	@admin.template.page_with_default_links(pageDisplay, "Partners", optionallink, currentSortBy, currentOrder, currentFilter, currentSize)
}
