@(form: Form[Application.QuickLoginForm], origin: String)

@import tags._
@import helper.twitterBootstrap._

@layouts.admin_login("Quick Signin admin") {
	@helper.form(action = routes.Application.quickAdminAuthenticate(), args = 'class -> "form-signin") {
        <h2 class="form-signin-heading">@Html(Messages("admin.quick.sign.in.login.title"))</h2>
        <input name="password" type="number" pattern="[0-9]*" inputmode="numeric" class="form-control" placeholder="Password">
        
        <input name="origin" type="hidden" value="@origin">

        <button class="btn btn-lg btn-primary btn-block" type="submit">@Html(Messages("admin.quick.sign.in.login.action"))</button>
	}
	<div class="text-center"><a href="@routes.Application.login(origin)">Classical Login</a></div>
}