@(quotation: Form[Admin.QuotationForm], available_watches: List[models.Watch])
@import tags._
@import helper._
@implicitField = @{ FieldConstructor(myBootstrapFieldConstructor.f) }

@end_scripts = {
<script type="text/javascript" src="//maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyBILpKrEOIAOcjVBa9-ownlM_oiEQqBTyc"></script>
<script type="text/javascript">
var source, destination;
var directionsDisplay;
var defaultSource = "Maisons-Laffitte";
var destinationToUse = '@quotation("customerCity").value'; 
var urlForQuickAccessToMaps = "https://www.google.fr/maps/dir/"+defaultSource+"/"+destinationToUse
 
function GetRoute() {
    source = defaultSource;
    destination = destinationToUse;
 
    var service = new google.maps.DistanceMatrixService();
    service.getDistanceMatrix({
        origins: [source],
        destinations: [destination],
        travelMode: google.maps.TravelMode.DRIVING,
        unitSystem: google.maps.UnitSystem.METRIC,
        avoidHighways: false,
        avoidTolls: false
    }, function (response, status) {
        if (status == google.maps.DistanceMatrixStatus.OK && response.rows[0].elements[0].status != "ZERO_RESULTS") {
            var distance = response.rows[0].elements[0].distance.text;
            var duration = response.rows[0].elements[0].duration.text;
            var durationInSec = response.rows[0].elements[0].duration.value;
            var dvDistance = document.getElementById("dvDistance");

 			if(durationInSec > 4000) {
 				$( "#outsideZone_1" ).prop( "checked", true );
 			} else {
 				$( "#outsideZone_0" ).prop( "checked", true );
 			}
 			$("label[for='outsideZone']").append(" <- <a target='_blank' href="+urlForQuickAccessToMaps+">"+duration + "["+distance+"]<a/>");
        } else {
        	console.log("Unable to find the distance via road.");
        }
    });
}
</script>


<script>
    $(document).ready(function(){
        $('#shouldTalkAboutWaterResistance_0').on('click', function(event) {
        		markWaterResistanceInPage();
        	});
        $('#shouldTalkAboutWaterResistance_1').on('click', function(event) {
        		unmarkWaterResistanceInPage();
        	});
        GetRoute();
    });
    
    function markWaterResistanceInPage() {
    	markIfContains($('#warantyTime'), "tanch");
    	markIfContains($('#hypothesis1'), "tanch");
    	markIfContains($('#hypothesis2'), "tanch");
    	markIfContains($('#hypothesis3'), "tanch");
    }
    
    function unmarkWaterResistanceInPage() {
    	$(":input[type=text]").css("color","black");
    }
    
    function markIfContains(input, toFind) {
    	if (contains(input.val(), toFind)) {
    		input.css("color","red");
    	}
    }
    
    function contains(str, toFind) {
    	return str.indexOf(toFind) !== -1;
    }
</script> 
}

@layouts.admin("", end_scripts) {
    <div class="container">
    	@display_flash()
    
            @helper.form(action = routes.Admin.manageQuotation(), 'class -> "form-horizontal", 'role -> "form") {
            
            	@tags.inputHidden(quotation("customerEmail"))
            	@tags.inputHidden(quotation("customerCity"))
        
                @tags.myInputRadioGroup(quotation("serviceType"),
                                Seq( OrderRequest.OrderTypes.SETTINGUP.toString -> Messages("admin.quotation.form.value.type.of.service.setting.up"), OrderRequest.OrderTypes.INTERMEDIATE.toString -> Messages("admin.quotation.form.value.type.of.service.intermediate"), OrderRequest.OrderTypes.SERVICE.toString -> Messages("admin.quotation.form.value.type.of.service.service"), OrderRequest.OrderTypes.REPAIR.toString -> Messages("admin.quotation.form.value.type.of.service.repair"), OrderRequest.OrderTypes.WATER.toString -> Messages("admin.quotation.form.value.type.of.service.water")), '_label -> Messages("admin.quotation.form.label.type.of.service"),
                                '_class -> "form-group", '_label_class -> "col-sm-3 control-label", '_body_class -> "col-sm-9", '_showConstraints -> false)

                @tags.myInputRadioGroup(quotation("typeOfNetwork"),
                                Seq( Quotation.TypesOfNetwork.IN_BOTH.toString -> Messages("admin.quotation.form.value.type.of.network.in.both"), Quotation.TypesOfNetwork.IN_ONLY.toString -> Messages("admin.quotation.form.value.type.of.network.in.only"), Quotation.TypesOfNetwork.OUT_BOTH.toString -> Messages("admin.quotation.form.value.type.of.network.out.both"), Quotation.TypesOfNetwork.OUT_ONLY.toString -> Messages("admin.quotation.form.value.type.of.network.out.only")), '_label -> Messages("admin.quotation.form.label.type.of.network"),
                                '_class -> "form-group", '_label_class -> "col-sm-3 control-label", '_body_class -> "col-sm-9", '_showConstraints -> false)

                @helper.inputText(quotation("watch"),
                                'placeholder -> Messages("admin.quotation.form.placeholder.watch"), '_label -> Messages("admin.quotation.form.label.watch"),
                                'class -> "form-control", '_class -> "form-group", '_label_class -> "col-sm-3 control-label", '_body_class -> "col-sm-9", '_showConstraints -> false)

                @helper.inputText(quotation("brand"),
                                'placeholder -> Messages("admin.quotation.form.placeholder.brand"), '_label -> Messages("admin.quotation.form.label.brand"),
                                'class -> "form-control", '_class -> "form-group", '_label_class -> "col-sm-3 control-label", '_body_class -> "col-sm-9", '_showConstraints -> false)

                @helper.select(quotation("watchChosen"),
                                     for (w <- available_watches) yield w.id.toString -> (w.brand ++ " - " ++ w.short_name),
                                     '_default -> Messages("admin.quotation.form.value.watch.chosen.default"),
                                     '_label -> Messages("admin.quotation.form.label.watch.chosen"),
                                     'class -> "form-control", '_class -> "form-group", '_label_class -> "col-sm-3 control-label", '_body_class -> "col-sm-9", '_showConstraints -> false)

                @helper.inputText(quotation("delay"),
                                'placeholder -> Messages("admin.quotation.form.placeholder.delay"), '_label -> Messages("admin.quotation.form.label.delay"),
                                'class -> "form-control", '_class -> "form-group", '_label_class -> "col-sm-3 control-label", '_body_class -> "col-sm-9", '_showConstraints -> false)

                @tags.myInputRadioGroup(quotation("delayCanBeReduced"),
                                Seq( "0" -> Messages("admin.quotation.form.value.delay.can.be.reduced.no"), "1" -> Messages("admin.quotation.form.value.delay.can.be.reduced.yes")), '_label -> Messages("admin.quotation.form.label.delay.can.be.reduced"),
                                '_class -> "form-group", '_label_class -> "col-sm-3 control-label", '_body_class -> "col-sm-9", '_showConstraints -> false)

                @tags.myInputRadioGroup(quotation("delayIsNotSure"),
                                Seq( "0" -> Messages("admin.quotation.form.value.delay.is.sure"), "1" -> Messages("admin.quotation.form.value.delay.is.not.sure")), '_label -> Messages("admin.quotation.form.label.delay.is.not.sure"),
                                '_class -> "form-group", '_label_class -> "col-sm-3 control-label", '_body_class -> "col-sm-9", '_showConstraints -> false)

                @helper.inputText(quotation("delayReturn"),
                                'placeholder -> Messages("admin.quotation.form.placeholder.delay.return"), '_label -> Messages("admin.quotation.form.label.delay.return"),
                                'class -> "form-control", '_class -> "form-group", '_label_class -> "col-sm-3 control-label", '_body_class -> "col-sm-9", '_showConstraints -> false)

                @helper.inputText(quotation("delayBrand1"),
                                'placeholder -> Messages("admin.quotation.form.placeholder.delay.brand.1"), '_label -> Messages("admin.quotation.form.label.delay.brand.1"),
                                'class -> "form-control", '_class -> "form-group", '_label_class -> "col-sm-3 control-label", '_body_class -> "col-sm-9", '_showConstraints -> false)

                @helper.inputText(quotation("delayBrand2"),
                                'placeholder -> Messages("admin.quotation.form.placeholder.delay.brand.2"), '_label -> Messages("admin.quotation.form.label.delay.brand.2"),
                                'class -> "form-control", '_class -> "form-group", '_label_class -> "col-sm-3 control-label", '_body_class -> "col-sm-9", '_showConstraints -> false)

                @helper.inputText(quotation("price"),
                                'placeholder -> Messages("admin.quotation.form.placeholder.price"), '_label -> Messages("admin.quotation.form.label.price"),
                                'class -> "form-control", '_class -> "form-group", '_label_class -> "col-sm-3 control-label", '_body_class -> "col-sm-9", '_showConstraints -> false)

                @tags.myInputRadioGroup(quotation("priceIsNotFinal"),
                                Seq( "0" -> Messages("admin.quotation.form.value.price.is.final"), "1" -> Messages("admin.quotation.form.value.price.is.not.final")), '_label -> Messages("admin.quotation.form.label.price.is.not.final"),
                                '_class -> "form-group", '_label_class -> "col-sm-3 control-label", '_body_class -> "col-sm-9", '_showConstraints -> false)

                @helper.inputText(quotation("priceService"),
                                'placeholder -> Messages("admin.quotation.form.placeholder.price.service"), '_label -> Messages("admin.quotation.form.label.price.service"),
                                'class -> "form-control", '_class -> "form-group", '_label_class -> "col-sm-3 control-label", '_body_class -> "col-sm-9", '_showConstraints -> false)

                @helper.inputText(quotation("priceLoan"),
                                'placeholder -> Messages("admin.quotation.form.placeholder.price.loan"), '_label -> Messages("admin.quotation.form.label.price.loan"),
                                'class -> "form-control", '_class -> "form-group", '_label_class -> "col-sm-3 control-label", '_body_class -> "col-sm-9", '_showConstraints -> false)

                @helper.inputText(quotation("warantyTime"),
                                'placeholder -> Messages("admin.quotation.form.placeholder.waranty"), '_label -> Messages("admin.quotation.form.label.waranty"),
                                'class -> "form-control", '_class -> "form-group", '_label_class -> "col-sm-3 control-label", '_body_class -> "col-sm-9", '_showConstraints -> false)

				@tags.myInputRadioGroup(quotation("shouldTalkAboutWaterResistance"),
                                Seq( "1" -> Messages("admin.quotation.form.value.should.talk.about.water.resistance"), "0" -> Messages("admin.quotation.form.value.should.not.talk.about.water.resistance")), '_label -> Html(Messages("admin.quotation.form.label.should.talk.about.water.resistance", quotation("shouldTalkAboutWaterResistance").value)),
                                '_class -> "form-group", '_label_class -> "col-sm-3 control-label", '_body_class -> "col-sm-9", '_showConstraints -> false)

                @tags.myInputRadioGroup(quotation("outsideZone"),
                                Seq( "0" -> Messages("admin.quotation.form.value.outside.zone.inside"), "1" -> Messages("admin.quotation.form.value.outside.zone.outside")), '_label -> Html(Messages("admin.quotation.form.label.outside.zone", quotation("customerCity").value)),
                                '_class -> "form-group", '_label_class -> "col-sm-3 control-label", '_body_class -> "col-sm-9", '_showConstraints -> false)
                                
                                <tr>

                <div class="form-group">
                  <label for="infosGivenByCustomer" class="col-xs-3 control-label">@Messages("admin.quotation.form.label.cat.infos.given.by.customer")</label>
                  <div class="col-xs-9">
                    <div class="row inner-row">
                        @helper.inputText(quotation("infosGivenByCustomer1"),
                                        'placeholder -> Messages("admin.quotation.form.placeholder.infos.given.by.customer.1"), '_label -> Messages("admin.quotation.form.label.infos.given.by.customer.1"),
                                        'class -> "form-control", '_class -> "form-group", '_label_class -> "col-sm-1 control-label", '_body_class -> "col-sm-11", '_showConstraints -> false)
                        @helper.inputText(quotation("infosGivenByCustomer2"),
                                        'placeholder -> Messages("admin.quotation.form.placeholder.infos.given.by.customer.2"), '_label -> Messages("admin.quotation.form.label.infos.given.by.customer.2"),
                                        'class -> "form-control", '_class -> "form-group", '_label_class -> "col-sm-1 control-label", '_body_class -> "col-sm-11", '_showConstraints -> false)
                        @helper.inputText(quotation("infosGivenByCustomer3"),
                                        'placeholder -> Messages("admin.quotation.form.placeholder.infos.given.by.customer.3"), '_label -> Messages("admin.quotation.form.label.infos.given.by.customer.3"),
                                        'class -> "form-control", '_class -> "form-group", '_label_class -> "col-sm-1 control-label", '_body_class -> "col-sm-11", '_showConstraints -> false)
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label for="hypothesis" class="col-xs-3 control-label">@Messages("admin.quotation.form.label.cat.hypothesis")</label>
                  <div class="col-xs-9">
                    <div class="row inner-row">
                        @helper.inputText(quotation("hypothesis1"),
                                        'placeholder -> Messages("admin.quotation.form.placeholder.hypothesis.1"), '_label -> Messages("admin.quotation.form.label.hypothesis.1"),
                                        'class -> "form-control", '_class -> "form-group", '_label_class -> "col-sm-1 control-label", '_body_class -> "col-sm-11", '_showConstraints -> false)
                        @helper.inputText(quotation("hypothesis2"),
                                        'placeholder -> Messages("admin.quotation.form.placeholder.hypothesis.2"), '_label -> Messages("admin.quotation.form.label.hypothesis.2"),
                                        'class -> "form-control", '_class -> "form-group", '_label_class -> "col-sm-1 control-label", '_body_class -> "col-sm-11", '_showConstraints -> false)
                        @helper.inputText(quotation("hypothesis3"),
                                        'placeholder -> Messages("admin.quotation.form.placeholder.hypothesis.3"), '_label -> Messages("admin.quotation.form.label.hypothesis.3"),
                                        'class -> "form-control", '_class -> "form-group", '_label_class -> "col-sm-1 control-label", '_body_class -> "col-sm-11", '_showConstraints -> false)
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label for="remark" class="col-xs-3 control-label">@Messages("admin.quotation.form.label.cat.remark")</label>
                  <div class="col-xs-9">
                    <div class="row inner-row">
                        @helper.inputText(quotation("remark1"),
                                        'placeholder -> Messages("admin.quotation.form.placeholder.remark.1"), '_label -> Messages("admin.quotation.form.label.remark.1"),
                                        'class -> "form-control", '_class -> "form-group", '_label_class -> "col-sm-1 control-label", '_body_class -> "col-sm-11", '_showConstraints -> false)
                        @helper.inputText(quotation("remark2"),
                                        'placeholder -> Messages("admin.quotation.form.placeholder.remark.2"), '_label -> Messages("admin.quotation.form.label.remark.2"),
                                        'class -> "form-control", '_class -> "form-group", '_label_class -> "col-sm-1 control-label", '_body_class -> "col-sm-11", '_showConstraints -> false)
                        @helper.inputText(quotation("remark3"),
                                        'placeholder -> Messages("admin.quotation.form.placeholder.remark.3"), '_label -> Messages("admin.quotation.form.label.remark.3"),
                                        'class -> "form-control", '_class -> "form-group", '_label_class -> "col-sm-1 control-label", '_body_class -> "col-sm-11", '_showConstraints -> false)
                    </div>
                  </div>
                </div>
                
                <div class="form-group">
                  <label for="remark" class="col-xs-3 control-label">@Messages("admin.quotation.form.label.cat.partner.asset")</label>
                  <div class="col-xs-9">
                    <div class="row inner-row">
                        @helper.inputText(quotation("partnerAsset"),
                                        'placeholder -> Messages("admin.quotation.form.placeholder.partner.asset"), '_label -> Messages("admin.quotation.form.label.partner.asset"),
                                        'class -> "form-control", '_class -> "form-group", '_label_class -> "col-sm-1 control-label", '_body_class -> "col-sm-11", '_showConstraints -> false)
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-sm-offset-2 col-sm-9 text-center">
                    <button type="submit" class="btn btn-default" name="action" value="preview" formtarget="_blank">@Html(Messages("admin.quotation.action.preview"))</button>
                    <button type="submit" class="btn btn-primary" name="action" value="edit">@Html(Messages("admin.quotation.action.edit"))</button>
                    <button type="submit" class="btn btn-warning" name="action" value="send">@Html(Messages("admin.quotation.action.submit"))</button>
                  </div>
                </div>
            }
    </div>
}