@(thisInstance: Form[models.Customer], isItNew: Boolean)

@import tags._

@end_scripts = {
	@admin.fragments.customer_javascript()
}


@defining(new views.FormDisplay(thisInstance, "SimplifiedCustomer", "admin.simplifiedcustomer.form")) { formDisplay =>
		@{ 
		   formDisplay.addFormField("email", true, "input");
		   formDisplay.addFormFieldForSelect("civility", models.Customer.CustomerCivility.values.toList);
		   formDisplay.addFormField("firstname", true, "input");
		   formDisplay.addFormField("name", true, "input");
		   formDisplay.addFormField("phoneNumber", true, "input");
		   formDisplay.addFormField("billingAddress", true, "textarea");
		   formDisplay.addFormField("privateInfos", true, "textarea");
		}
	
	@admin.template.form_with_default_links(formDisplay, isItNew, end_scripts)
}