@(currentPage: com.avaje.ebean.PagedList[models.Customer], currentSortBy: String, currentOrder: String, currentFilter: String, currentSize: Integer)
@import tags._


@defining(new views.PageDisplay(currentPage, "nom/tel", "admin.simplified.customer.page")) { pageDisplay =>
	@{  pageDisplay.addTableField("name", "fullname", "getFullNameWithCivility", false);
	}
	
	@admin.template.page_with_default_links(pageDisplay, "SimplifiedCustomers", null, currentSortBy, currentOrder, currentFilter, currentSize)
}
