@(instance : models.CustomerWatch)
@import tags._
@import models.CustomerWatch.CustomerWatchType
@import java.lang.String; var title=""
@import models.Customer; var customer=new models.Customer()


@two_cells(cell1: Html, cell2: String) = {
	@two_cells_table_line_managing_emptyness(cell1, Html(cell2), "RAS", 'datatrclass -> "simplified_customer_watch_row")
}

@two_cells_without_RAS(cell1: Html, cell2: String) = {
	@two_cells_table_line_managing_emptyness(cell1, Html(cell2), "", 'datatrclass -> "simplified_customer_watch_row")
}

@{
	title=Messages("admin.simplified.customer.watch.title.testing.sheet", instance.brand);
	if(instance.customer.id != null) {
		customer = models.Customer.findById(instance.customer.id);
		if(customer != null && customer.civility!=null) {
			title=title+" - "+Messages("admin.customer.text.civility."+customer.civility.toString.toLowerCase.replace('_','.'));
		}
		if(customer != null) {
			title=title+" "+customer.firstname+" "+customer.name;
		}
	}
	
}

@layouts.admin_to_print_a5(title, instance.collectingDate, instance.customer) {
 
	<div class="row testing">
     	<div class="type col-xs-8">
	        <h2>#@instance.id - @sheet_get_model(instance).toString - @sheet_get_references(instance).toString</h2>
        </div>
        <div class="text-right col-xs-4">
	        <h2>@Html(Messages("admin.simplified.customer.watch.servicing.sheet.text.head", instance.id))</h2>
        </div>
     </div>
     
     <div class="row">
     	<div class="type col-xs-6">
     	@admin_accounting_info_field(display_boolean(instance.picturesDoneOnCollect).toString, "admin.simplified.customer.watch.servicing.sheet.pictures", 'dataclass -> "descriptions simplified_customer_watch")
     	</div>
     	<div class="type col-xs-6">
     	@Html(Messages("admin.simplified.customer.watch.servicing.sheet.testing.date", ""))
		</div>
     </div>
     <br />
     
     <div class="row">
     	<div class="col-xs-12">
	        <div class="table-responsive">
	            <table class="table table-bordered">
	              <colgroup>
	                <col class="col-xs-6">
	                <col class="col-xs-6">
	              </colgroup>
	              <thead>
	                <tr>
						<th class="header">@Html(Messages("admin.simplified.customer.watch.watch.servicing.testing.head.check"))</th>
						<th class="header">@Html(Messages("admin.simplified.customer.watch.watch.servicing.testing.head.check.result"))</th>
					</tr>
				  </thead>
				  <tbody>
				  	@if(instance.getTypeOfWatch == CustomerWatchType.AUTO_SIMPLE || instance.getTypeOfWatch == CustomerWatchType.AUTO_CHRONO || instance.getTypeOfWatch == CustomerWatchType.AUTO_COMPLEX) {
				  		@two_cells_without_RAS(Html(Messages("admin.simplified.customer.watch.watch.servicing.testing.check.auto")), "<br /><br />")
				  	}
				  	@if(instance.getTypeOfWatch == CustomerWatchType.MECA_CHRONO || instance.getTypeOfWatch == CustomerWatchType.AUTO_CHRONO || instance.getTypeOfWatch == CustomerWatchType.AUTO_COMPLEX || instance.getTypeOfWatch == CustomerWatchType.MECA_COMPLEX) {
				  		@two_cells_without_RAS(Html(Messages("admin.simplified.customer.watch.watch.servicing.testing.check.auto.no.chrono.start")), "<br /><br />")
				  		@two_cells_without_RAS(Html(Messages("admin.simplified.customer.watch.watch.servicing.testing.check.auto.no.chrono.result")), "<br /><br />")
				  		@two_cells_without_RAS(Html(Messages("admin.simplified.customer.watch.watch.servicing.testing.check.auto.chrono.start")), "<br /><br />")
				  		@two_cells_without_RAS(Html(Messages("admin.simplified.customer.watch.watch.servicing.testing.check.auto.chrono.result")), "<br /><br />")
				  	} else {
				  		@two_cells_without_RAS(Html(Messages("admin.simplified.customer.watch.watch.servicing.testing.check.working.start")), "<br /><br />")
				  		@two_cells_without_RAS(Html(Messages("admin.simplified.customer.watch.watch.servicing.testing.check.working.result")), "<br /><br />")
				  	}
				  		
				  		@two_cells_without_RAS(Html(Messages("admin.simplified.customer.watch.watch.servicing.testing.check.dial.hands")), "<br /><br />")
				  		@two_cells_without_RAS(Html(Messages("admin.simplified.customer.watch.watch.servicing.testing.check.general")), "<br /><br />")
				  		@two_cells_without_RAS(Html(Messages("admin.simplified.customer.watch.watch.servicing.testing.check.glass")), "<br /><br />")
				  		@two_cells_without_RAS(Html(Messages("admin.simplified.customer.watch.watch.servicing.testing.check.operating")), "<br /><br />")
				  		@two_cells_without_RAS(Html(Messages("admin.simplified.customer.watch.watch.servicing.testing.check.date")), "<br /><br />")
				  		@two_cells_without_RAS(Html(Messages("admin.simplified.customer.watch.watch.servicing.testing.check.other")), "<br /><br /><br />")
	              </tbody>
	            </table>
	       </div>
        </div>
        
        <div class="row">
     	<div class="type col-xs-6">
	        <h3>@Html(Messages("admin.simplified.customer.watch.watch.servicing.testing.stamp"))</h3>
        </div>
        <div class="text-right col-xs-6">
	        <h3>@Html(Messages("admin.simplified.customer.watch.watch.servicing.testing.signature"))</h3>
        </div>
     </div>


}
