@(currentPage: com.avaje.ebean.Page[models.Watch], currentSortBy: String, currentOrder: String, currentFilter: String)
@import tags._

@****************************************
* Helper generating navigation links    *
****************************************@
@link(newPage:Int, newSortBy:String) = @{
    
    var sortBy = currentSortBy
    var order = currentOrder
    
    if(newSortBy != null) {
        sortBy = newSortBy
        if(currentSortBy == newSortBy) {
            if(currentOrder == "asc") {
                order = "desc"
            } else {
                order = "asc"
            }
        } else {
            order = "asc"
        }
    }
    
    // Generate the link
    routes.Watch.displayAll(newPage, sortBy, order, currentFilter)
    
}


@**********************************
* Helper generating table headers *
***********************************@
@header(key:String, title:Html, hideSmall: Boolean = false) = {
    <th class="@key.replace(".","_") header @if(currentSortBy == key) @{if(currentOrder == "asc") "headerSortDown" else "headerSortUp"} @if(hideSmall) {hidden-xs}">
        <a href="@link(0, key)">@title</a>
    </th>
}

@layouts.admin() {
  <div class="container">

    @admin.fragments.page_header(link(0, "id").toString, "model or brand", currentFilter, routes.Watch.add().url)
    
    @if(currentPage.getTotalRowCount == 0) {
        <div class="well">
            <em>Nothing to display</em>
        </div>
    } else {
        <div class="table-responsive">
            <table class="table table-bordered table-striped">

              <thead>
                <tr>
                  <th>#</th>
                  @header("id", Html(Messages("admin.watch.watches.header.id")))
                  @header("brand", Html(Messages("admin.watch.watches.header.brand")))
                  @header("full_name", Html(Messages("admin.watch.watches.header.full.name")))
                  @header("shouldDisplay", Html(Messages("admin.watch.watches.header.should.display")))
                  @header("isAvailable", Html(Messages("admin.watch.watches.header.is.available")))
                </tr>
              </thead>
              <tbody>
              @for((watch, index) <- currentPage.getList.zipWithIndex) {
                <tr>
                  <td>
                  	<a type="button" class="btn btn-default btn-xs" href="@routes.Watch.display(watch.id)"><span class="glyphicon glyphicon-time"></span></a>
	                <a type="button" class="btn btn-primary btn-xs" href="@routes.Watch.edit(watch.id)"><span class="glyphicon glyphicon-edit"></span></a>
                  </td>
                  <td>
                    @watch.id
                  </td>
                  <td>
                    @watch.brand
                  </td>
                  <td>
                    @takeif(watch.full_name)
                  </td>
                  <td>
                    @watch.should_display
                  </td>
                  <td>
                    @watch.is_available
                  </td>
                </tr>
              }
              </tbody>
            </table>
        </div>
    
        <div class="row">
            <div class="col-md-5 col-md-offset-7 text-right">
                    @if(currentPage.hasPrev) {
                        <span class="prev">
                            <a class="btn btn-default" href="@link(currentPage.getPageIndex - 1, null)">&larr; Previous</a>
                        </span>
                    } else {
                        <span class="prev disabled">
                            <a class="btn btn-default" disabled="disabled">&larr; Previous</a>
                        </span>
                    }
                    <span class="current">
                        Displaying @currentPage.getDisplayXtoYofZ(" to "," of ")
                    </span>
                    @if(currentPage.hasNext) {
                        <span class="next">
                            <a class="btn btn-default"  href="@link(currentPage.getPageIndex + 1, null)">Next &rarr;</a>
                        </span>
                    } else {
                        <span class="next disabled">
                            <a class="btn btn-default" disabled="disabled" >Next &rarr;</a>
                        </span>
                    }
            </div>
        </div>
    }
    </div>
}
