@(index: Integer = 1)
@import tags._

        <div class="navbar navbar-default" role="navigation">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="@routes.Admin.index()">@Messages("admin.text.home")</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                @li_activable(1, index) {<a href="@routes.Admin.index()"><span class="glyphicon glyphicon-home"></span></a>}
                @li_activable(10, index, args = 'class -> "dropdown") {
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">@Html(Messages("admin.navbar.link.text.requests")) <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    @li_activable(20, index) {<a href="@routes.Admin.displayOrderRequests()">@Messages("admin.navbar.link.text.order.requests")</a>}
	                @li_activable(25, index) {<a href="@routes.BuyRequest.displayBuyRequests()">@Messages("admin.navbar.link.text.buy.requests")</a>}
                	@li_activable(30, index) {<a href="@routes.Admin.displayServiceTests()">@Messages("admin.navbar.link.text.service.tests")</a>}
                  </ul>
                }
                @li_activable(35, index) {<a href="@routes.Customer.displayAll()">@Messages("admin.navbar.link.text.customers")</a>}
                @li_activable(36, index) {<a href="@routes.CustomerWatch.displayAll()">@Messages("admin.navbar.link.text.customer.watches")</a>}
                @li_activable(37, index) {<a href="@routes.CrudHelper.displayAll("WatchesToSell")">@Messages("admin.navbar.link.text.watches.to.sell")</a>}
                @li_activable(38, index) {<a href="@routes.Order.displayAll()">@Messages("admin.navbar.link.text.orders")</a>}
                @li_activable(40, index, args = 'class -> "dropdown") {
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">@Html(Messages("admin.navbar.link.text.prepare")) <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    @li_activable(40, index) {<a href="@routes.Admin.prepareQuotation()">@Messages("admin.navbar.link.text.prepare.quotation")</a>}
	                @li_activable(45, index) {<a href="@routes.BuyRequest.prepareProposal()">@Messages("admin.navbar.link.text.prepare.buy.request.proposal")</a>}
                  </ul>
                }
                @li_activable(50, index, args = 'class -> "dropdown") {
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">@Html(Messages("admin.navbar.link.text.other")) <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    @li_activable(50, index) {<a href="@routes.Feedback.displayAll()">@Messages("admin.navbar.link.text.feedbacks")</a>}
                    @li_activable(55, index) {<a href="@routes.UsefullLink.displayAll()">@Messages("admin.navbar.link.text.links")</a>}
                  </ul>
                }
                @li_activable(60, index, args = 'class -> "dropdown") {
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">@Html(Messages("admin.navbar.link.text.accounting")) <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    @li_activable(60, index) {<a href="@routes.Accounting.displayAllInvoice()">@Messages("admin.navbar.link.text.accounting.invoices")</a>}
                    @li_activable(61, index) {<a href="@routes.Accounting.addInvoice()">@Messages("admin.navbar.link.text.accounting.add.invoice")</a>}
                    <li class="divider hidden-xs"></li>
                    @li_activable(64, index) {<a href="@routes.Accounting.displayAllOrderDocument()">@Messages("admin.navbar.link.text.accounting.order.documents")</a>}
	                @li_activable(65, index) {<a href="@routes.Accounting.addOrderDocument()">@Messages("admin.navbar.link.text.accounting.add.order.document")</a>}
	                <li class="divider hidden-xs"></li>
                	@li_activable(66, index) {<a href="@routes.Accounting.displayAllSellingDocument()">@Messages("admin.navbar.link.text.accounting.selling.documents")</a>}
                	@li_activable(67, index) {<a href="@routes.Accounting.addSellingDocument()">@Messages("admin.navbar.link.text.accounting.add.selling.document")</a>}
                	<li class="divider hidden-xs"></li>
                	@li_activable(69, index) {<a href="@routes.CrudHelper.displayAll("ExternalDocuments")">@Messages("admin.navbar.link.text.accounting.external.documents")</a>}
                	@li_activable(70, index) {<a href="@routes.CrudHelper.create("ExternalDocuments")">@Messages("admin.navbar.link.text.accounting.add.external.document")</a>}
                  </ul>
                }
                
              </ul>
              <ul class="nav navbar-nav navbar-right">
                @li_activable(100, index) {<a href="@routes.Application.logout()">@Messages("admin.navbar.link.text.logout")</a>}
              </ul>
            </div>
          </div>
        </div>
