@(index: Integer = 1)
@import tags._

        <div class="navbar navbar-default" role="navigation">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="@routes.Admin.index()">@Messages("admin.text.home")</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                @li_activable(1, index) {<a href="@routes.Admin.index()"><span class="glyphicon glyphicon-home"></span></a>}
                @li_activable(20, index) {<a href="@routes.Admin.displayOrders()">@Messages("admin.navbar.link.text.orders")</a>}
                @li_activable(30, index) {<a href="@routes.Admin.displayServiceTests()">@Messages("admin.navbar.link.text.service.tests")</a>}
                @li_activable(40, index) {<a href="@routes.Admin.prepareQuotation()">@Messages("admin.navbar.link.text.prepare.quotation")</a>}
              </ul>
              <ul class="nav navbar-nav navbar-right">
                @li_activable(100, index) {<a href="@routes.Application.logout()">@Messages("admin.navbar.link.text.logout")</a>}
              </ul>
            </div>
          </div>
        </div>
