@(index: Integer = 1)
@import tags._

        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              
    		  @if_admin_or_watchmaker_or_collaborator() {
    		  	<a class="navbar-brand" href="@routes.Admin.index()">@Messages("admin.text.home")</a>
    		  }
	    	  @if_customer() {
	    		<a class="navbar-brand" href="@routes.CustomerAdmin.index()">@Messages("admin.customer.text.home")</a>
    		  }
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
              	
              	@if_admin_or_watchmaker_or_collaborator() {
    		  		@li_activable(1, index) {<a href="@routes.Admin.index()"><span class="glyphicon glyphicon-home"></span></a>}
    		  	}
	    		@if_customer() {
              		@li_activable(1, index) {<a href="@routes.CustomerAdmin.index()"><span class="glyphicon glyphicon-home"></span></a>}
    		  	}
                
                @if_admin_or_collaborator() {
                @li_activable(10, index, args = 'class -> "dropdown") {
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">@Html(Messages("admin.navbar.link.text.requests")) <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    @li_activable(20, index) {<a href="@routes.Admin.displayOrderRequests()">@Messages("admin.navbar.link.text.order.requests")</a>}
	                @li_activable(25, index) {<a href="@routes.BuyRequest.displayBuyRequests()">@Messages("admin.navbar.link.text.buy.requests")</a>}
                	@li_activable(30, index) {<a href="@routes.Admin.displayServiceTests()">@Messages("admin.navbar.link.text.service.tests")</a>}
                  </ul>
                }
                }
                @if_partner() {
                @li_activable(10, index, args = 'class -> "dropdown") {
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">@Html(Messages("admin.navbar.link.text.requests")) <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    @li_activable(21, index) {<a href="@routes.Partner.displayWorkInProgressWatches()">@Messages("admin.navbar.link.text.display.watches.for.partner.work.in.progress")</a>}
                    @li_activable(22, index) {<a href="@routes.Partner.displayWaitingQuotationWatches()">@Messages("admin.navbar.link.text.display.watches.for.partner.waiting.for.quotation")</a>}
                    @li_activable(23, index) {<a href="@routes.Partner.displayWaitingAcceptationWatches()">@Messages("admin.navbar.link.text.display.watches.for.partner.waiting.acceptation")</a>}
                    <li class="divider hidden-xs"></li>
                	@li_activable(39, index) {<a href="@routes.CrudHelper.displayAll("SparePartsOpen")">@Messages("admin.navbar.link.text.spare.parts")</a>}
                  </ul>
                }
                }
                @if_watchmaker() {
                @li_activable(10, index, args = 'class -> "dropdown") {
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">@Html(Messages("admin.navbar.link.text.requests")) <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    @li_activable(21, index) {<a href="@routes.Watchmaker.displayWorkInProgressWatches()">@Messages("admin.navbar.link.text.display.watches.for.watchmaker.work.in.progress")</a>}
                    @li_activable(22, index) {<a href="@routes.Watchmaker.displayWaitingQuotationWatches()">@Messages("admin.navbar.link.text.display.watches.for.watchmaker.waiting.for.quotation")</a>}
                    <li class="divider hidden-xs"></li>
                	@li_activable(39, index) {<a href="@routes.SpareParts.displayOverview()">@Messages("admin.navbar.link.text.spare.parts")</a>}
                  </ul>
                }
                @li_activable(34, index) {<a href="@routes.CrudHelper.displayAll("SimplifiedCustomers")">@Messages("admin.navbar.link.text.simplified.customers")</a>}
                @li_activable(36, index) {<a href="@routes.SimplifiedCustomers.createNewCustomerByCustomer()">@Messages("admin.navbar.link.text.simplified.customers.by.customer")</a>}
                }
                @if_collaborator() {
                	
                @li_activable(30, index, args = 'class -> "dropdown") {
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">@Html(Messages("admin.navbar.link.text.customers")) <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                  	@li_activable(31, index) {<a href="@routes.CrudHelper.displayAll("QuickServiceWatches")">@Messages("admin.navbar.link.text.quick.service.watches")</a>}
                	@li_activable(32, index) {<a href="@routes.CrudHelper.create("QuickServiceWatches")">@Messages("admin.navbar.link.text.quick.service.new.watch")</a>}
                	<li class="divider hidden-xs"></li>
                    @li_activable(34, index) {<a href="@routes.CrudHelper.displayAll("SimplifiedCustomers")">@Messages("admin.navbar.link.text.simplified.customers")</a>}
                	@li_activable(36, index) {<a href="@routes.SimplifiedCustomers.pageOfSpecialCustomers()">@Messages("admin.navbar.link.text.simplified.customers.big")</a>}
                	<li class="divider hidden-xs"></li>
                	@li_activable(39, index) {<a href="@routes.SpareParts.displayOverview()">@Messages("admin.navbar.link.text.spare.parts")</a>}
                	<li class="divider hidden-xs"></li>
                	@li_activable(36, index) {<a href="@routes.SimplifiedCustomers.createNewCustomerByCustomer()">@Messages("admin.navbar.link.text.simplified.customers.by.customer")</a>}
                  </ul>
                }
                @li_activable(40, index, args = 'class -> "dropdown") {
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">@Html(Messages("admin.navbar.link.text.watches")) <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                  	@li_activable(41, index) {<a href="@routes.CollaboratorWatchmaker.displayWatches()">@Messages("admin.navbar.link.text.watches.to.do")</a>}
                  </ul>
                }
                }
                @if_admin() {
                @li_activable(30, index, args = 'class -> "dropdown") {
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">@Html(Messages("admin.navbar.link.text.customers")) <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    @li_activable(31, index) {<a href="@routes.Customer.displayAll()">@Messages("admin.navbar.link.text.customers")</a>}
                	@li_activable(32, index) {<a href="@routes.CrudHelper.displayAll("SimplifiedCustomers")">@Messages("admin.navbar.link.text.simplified.customers.for.admin")</a>}
                	@li_activable(33, index) {<a href="@routes.SimplifiedCustomers.pageOfSpecialCustomers()">@Messages("admin.navbar.link.text.simplified.customers.for.admin.big")</a>}
                	<li class="divider hidden-xs"></li>
                	@li_activable(34, index) {<a href="@routes.CrudHelper.displayAll("QuickServiceWatches")">@Messages("admin.navbar.link.text.quick.service.watches")</a>}
                	@li_activable(35, index) {<a href="@routes.CrudHelper.create("QuickServiceWatches")">@Messages("admin.navbar.link.text.quick.service.new.watch")</a>}
                	<li class="divider hidden-xs"></li>
                	@li_activable(36, index) {<a href="@routes.SimplifiedCustomers.createNewCustomerByCustomer()">@Messages("admin.navbar.link.text.simplified.customers.by.customer")</a>}
                  </ul>
                }
                @li_activable(34, index) {<a href="@routes.CrudHelper.displayAll("Partners")">@Messages("admin.navbar.link.text.partners")</a>}
                @li_activable(35, index, args = 'class -> "dropdown") {
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">@Html(Messages("admin.navbar.link.text.watches")) <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    @li_activable(36, index) {<a href="@routes.CustomerWatch.displayAll()">@Messages("admin.navbar.link.text.customer.watches")</a>}
                    <li class="divider hidden-xs"></li>
                	@li_activable(37, index) {<a href="@routes.CrudHelper.displayAll("WatchesToSell")">@Messages("admin.navbar.link.text.watches.to.sell")</a>}
                	<li class="divider hidden-xs"></li>
                	@li_activable(38, index) {<a href="@routes.CrudHelper.displayAll("SpareParts")">@Messages("admin.navbar.link.text.spare.parts")</a>}
                	<li class="divider hidden-xs"></li>
                	@li_activable(39, index) {<a href="@routes.SpareParts.displayOverview()">@Messages("admin.navbar.link.text.spare.parts")</a>}
                  </ul>
                }
                @li_activable(60, index, args = 'class -> "dropdown") {
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">@Html(Messages("admin.navbar.link.text.accounting")) <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    @li_activable(60, index) {<a href="@routes.Accounting.displayAllInvoice()">@Messages("admin.navbar.link.text.accounting.invoices")</a>}
                    @li_activable(61, index) {<a href="@routes.Accounting.addInvoice()">@Messages("admin.navbar.link.text.accounting.add.invoice")</a>}
                    <li class="divider hidden-xs"></li>
                    @li_activable(64, index) {<a href="@routes.Accounting.displayAllOrderDocument()">@Messages("admin.navbar.link.text.accounting.order.documents")</a>}
	                @li_activable(65, index) {<a href="@routes.Accounting.addOrderDocument()">@Messages("admin.navbar.link.text.accounting.add.order.document")</a>}
	                <li class="divider hidden-xs"></li>
                	@li_activable(66, index) {<a href="@routes.Accounting.displayAllSellingDocument()">@Messages("admin.navbar.link.text.accounting.selling.documents")</a>}
                	@li_activable(67, index) {<a href="@routes.Accounting.addSellingDocument()">@Messages("admin.navbar.link.text.accounting.add.selling.document")</a>}
                	<li class="divider hidden-xs"></li>
                	@li_activable(68, index) {<a href="@routes.CrudHelper.displayAll("SellingWarrants")">@Messages("admin.navbar.link.text.accounting.selling.warrants")</a>}
                	@li_activable(69, index) {<a href="@routes.CrudHelper.create("SellingWarrants")">@Messages("admin.navbar.link.text.accounting.add.selling.warrants")</a>}
					<li class="divider hidden-xs"></li>
                	@li_activable(70, index) {<a href="@routes.CrudHelper.displayAll("Authentications")">@Messages("admin.navbar.link.text.accounting.authentications")</a>}
                	@li_activable(71, index) {<a href="@routes.CrudHelper.create("Authentications")">@Messages("admin.navbar.link.text.accounting.add.authentications")</a>}
                	<li class="divider hidden-xs"></li>
                	@li_activable(68, index) {<a href="@routes.CrudHelper.displayAll("ExternalDocuments")">@Messages("admin.navbar.link.text.accounting.external.documents")</a>}
                	@li_activable(69, index) {<a href="@routes.CrudHelper.create("ExternalDocuments")">@Messages("admin.navbar.link.text.accounting.add.external.document")</a>}
                	<li class="divider hidden-xs"></li>
                	@li_activable(72, index) {<a href="@routes.CrudHelper.displayAll("PostServiceCertificates")">@Messages("admin.navbar.link.text.accounting.post.service.certificate")</a>}
                	@li_activable(73, index) {<a href="@routes.CrudHelper.create("PostServiceCertificates")">@Messages("admin.navbar.link.text.accounting.add.post.service.certificate")</a>}
                	<li class="divider hidden-xs"></li>
                	@li_activable(76, index) {<a href="@routes.CrudHelper.displayAll("PostSellingCertificates")">@Messages("admin.navbar.link.text.accounting.post.selling.certificate")</a>}
                	@li_activable(77, index) {<a href="@routes.CrudHelper.create("PostSellingCertificates")">@Messages("admin.navbar.link.text.accounting.add.post.selling.certificate")</a>}
                  </ul>
                }
                @li_activable(70, index, args = 'class -> "dropdown") {
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">@Html(Messages("admin.navbar.link.text.payment")) <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    @li_activable(76, index) {<a href="@routes.CrudHelper.displayAll("PaymentRequests")">@Messages("admin.navbar.link.text.payment.requests")</a>}
                	@li_activable(77, index) {<a href="@routes.CrudHelper.create("PaymentRequests")">@Messages("admin.navbar.link.text.payment.add.request")</a>}
                	<li class="divider hidden-xs"></li>
                	@li_activable(78, index) {<a href="@routes.CrudHelper.displayAll("Payments")">@Messages("admin.navbar.link.text.payment.methods")</a>}
                	@li_activable(79, index) {<a href="@routes.CrudHelper.create("Payments")">@Messages("admin.navbar.link.text.payment.add.method")</a>}
                  </ul>
                }
                @li_activable(80, index, args = 'class -> "dropdown") {
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">@Html(Messages("admin.navbar.link.text.reporting")) <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    @li_activable(70, index) {<a href="@routes.Reporting.invoiceLinesEnhanced(12)">@Messages("admin.navbar.link.text.reporting.invoice.lines")</a>}
                    @li_activable(71, index) {<a href="@routes.Reporting.marginVat()">@Messages("admin.navbar.link.text.reporting.margin.vat")</a>}
                    @li_activable(71, index) {<a href="@routes.Reporting.exportSales()">@Messages("admin.navbar.link.text.reporting.export.sales")</a>}
                    @li_activable(71, index) {<a href="@routes.Reporting.withVat()">@Messages("admin.navbar.link.text.reporting.with.vat.sales")</a>}
                    @li_activable(72, index) {<a href="@routes.Reporting.stock()">@Messages("admin.navbar.link.text.reporting.stock")</a>}
                    @li_activable(73, index) {<a href="@routes.Reporting.legalRegister()">@Messages("admin.navbar.link.text.reporting.legal.register")</a>}
                    @li_activable(73, index) {<a href="@routes.Reporting.legalRegisterHelper()">@Messages("admin.navbar.link.text.reporting.legal.register.helper")</a>}
                    @li_activable(74, index) {<a href="@routes.Reporting.payments()">@Messages("admin.navbar.link.text.reporting.payments")</a>}
                    @li_activable(74, index) {<a href="@routes.Reporting.paymentsByCreationDate()">@Messages("admin.navbar.link.text.reporting.payments.by.creation.date")</a>}
                    <li class="divider hidden-xs"></li>
                    @li_activable(75, index) {<a href="@routes.Reporting.financialChartsReport()">@Messages("admin.navbar.link.text.reporting.financial.charts")</a>}
                    @li_activable(75, index) {<a href="@routes.Reporting.financialReportEnhanced2()">@Messages("admin.navbar.link.text.reporting.financial.enhanced")</a>}
                    @li_activable(75, index) {<a href="@routes.Reporting.financialDetailedReport()">@Messages("admin.navbar.link.text.reporting.financial.detailed")</a>}
                    <li class="divider hidden-xs"></li>
                    @li_activable(76, index) {<a href="@routes.Reporting.currentOrdersReport()">@Messages("admin.navbar.link.text.reporting.current.orders")</a>}
                    <li class="divider hidden-xs"></li>
                    @li_activable(78, index) {<a href="@routes.Reporting.invoicesStillToPayWithStats()">@Messages("admin.navbar.link.text.reporting.invoices.to.pay")</a>}
                    <li class="divider hidden-xs"></li>
                    @li_activable(79, index) {<a href="@routes.Reporting.possibleWatchesJustGoneReportWithStats()">@Messages("admin.navbar.link.text.reporting.possible.watches.just.gone")</a>}
                    <li class="divider hidden-xs"></li>
                    @li_activable(79, index) {<a href="@routes.Reporting.watchmakerProductionReport()">@Messages("admin.navbar.link.text.reporting.watchmaker.production")</a>}
                  </ul>
                }
                @li_activable(90, index, args = 'class -> "dropdown") {
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">@Html(Messages("admin.navbar.link.text.other")) <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    @li_activable(91, index) {<a href="@routes.Order.displayAll()">@Messages("admin.navbar.link.text.orders")</a>}
                    <li class="divider hidden-xs"></li>
                    @li_activable(92, index) {<a href="@routes.Admin.prepareQuotation()">@Messages("admin.navbar.link.text.prepare.quotation")</a>}
	                @li_activable(93, index) {<a href="@routes.BuyRequest.prepareProposal()">@Messages("admin.navbar.link.text.prepare.buy.request.proposal")</a>}
                    <li class="divider hidden-xs"></li>
                    @li_activable(94, index) {<a href="@routes.Feedback.displayAll()">@Messages("admin.navbar.link.text.feedbacks")</a>}
                    @li_activable(95, index) {<a href="@routes.UsefullLink.displayAll()">@Messages("admin.navbar.link.text.links")</a>}
                    <li class="divider hidden-xs"></li>
                    @li_activable(96, index) {<a href="@routes.CrudHelper.displayAll("InternalMessages")">@Messages("admin.navbar.link.text.internal.messages")</a>}
                    <li class="divider hidden-xs"></li>
                    @li_activable(97, index) {<a href="@routes.CrudHelper.displayAll("AppointmentRequests")">@Messages("admin.navbar.link.text.appointment.requests")</a>}
                    <li class="divider hidden-xs"></li>
                    @li_activable(37, index) {<a href="@routes.CrudHelper.displayAll("MailTemplates")">@Messages("admin.navbar.link.text.mail.templates")</a>}
                    <li class="divider hidden-xs"></li>
                    @li_activable(101, index) {<a href="@routes.CrudHelper.displayAll("AnalyticCodes")">@Messages("admin.navbar.link.text.analytics.codes")</a>}
                    @li_activable(102, index) {<a href="@routes.CrudHelper.displayAll("AccountingLineAnalyticPresets")">@Messages("admin.navbar.link.text.analytics.presets")</a>}
                    @li_activable(103, index) {<a href="@routes.CrudHelper.displayAll("AccountingLineAnalytics")">@Messages("admin.navbar.link.text.analytics.lines")</a>}
                  </ul>
                }
                @helper.form(action = routes.Admin.search(), args = 'class -> "navbar-form navbar-left col-xs-12") {
			        <div class="form-group col-xs-10">
			          <input name="pattern" type="text" class="form-control" placeholder="Recherche">
			        </div>
			        <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
				}
				}
                
              </ul>
              <ul class="nav navbar-nav navbar-right">
                
                @if_customer() {
    				@li_activable(100, index) {<a href="@routes.Application.customerLogout()"><span class="glyphicon glyphicon-log-out"></span></a>}
    		  	}
    		  	@if_admin_or_watchmaker_or_collaborator() {
    		  		@li_activable(100, index) {<a href="@routes.Application.logout()"><span class="glyphicon glyphicon-log-out"></span></a>}
    		  	}
              </ul>
            </div>
          </div>
        </div>
