      @import tags._
      <!--minimum footer-->
      <footer>
          <div class="row hidden-xs text-left">
            <div class="col-sm-3 col-sm-offset-9">
                <p class="pull-right"><a href="#" title="@Messages("global.text.back.to.top.title")"><span class="glyphicon glyphicon-chevron-up"></span>&nbsp;@Messages("global.text.back.to.top")</a></p>
            </div>
        </div>
        <div class="row hidden-xs text-left">
            <div class="col-sm-3">
                @a_(routes.Application.about().url, "global.text.who.are.we")
                <br />
                @a_(routes.Application.appointment().url, "global.text.coming")
                <br />
                @a_(routes.Application.legal().url, "global.text.legal")
                <br />
                @a_(routes.Assets.at("CGV%20-%20Hometime.pdf").url, "global.text.terms")
                <br />
                @a_(routes.Application.privacy().url, "global.text.privacy")
                <br />
                @a_(routes.Application.siteplan().url, "global.text.site.plan")
                <br />
                <a href="https://www.facebook.com/HometimeFr" title="@Messages("global.text.facebook.follow.title")" target="_blank"><span class="fa fa-facebook-square"></span>&nbsp;@Html(Messages("global.text.facebook.follow"))</a>
                <br />
                @a_(routes.Application.contact().url, "global.text.issue")
             </div>
             <div class="col-sm-3">
                @a_(routes.Application.feedback().url, "global.text.feedback")
                <br />
                @a_(routes.Application.faq().url, "global.text.faq")
                <br />
                <a href="@routes.Application.contact()" title="@Messages("global.text.contact.title")">@Html(Messages("global.text.contact"))&nbsp;<span class="glyphicon glyphicon-envelope"></span></a>
                <br />
                <a href="@routes.Application.callRequest()" title="@Messages("global.text.call.request.title")">@Html(Messages("global.text.call.request"))&nbsp;<span class="glyphicon glyphicon-earphone"></span></a>
                <br />
                <div class="call-block">
                  @Html(Messages("global.text.call.us")) : @Html(Messages("global.text.phone.number"))
                  <div class="conditions">
                    <p>@Html(Messages("global.text.footer.conditions.cost"))</p>
                    <p>@Html(Messages("global.text.footer.conditions.when"))</p>
                  </div>
                </div>
                <br />
            </div>
            <div class="col-sm-3">
                @a_(routes.Application.offer().url, "global.text.services.service")
                <br />
                @a_(routes.Application.quartz(null).url, "global.text.services.quartz")
                <br />
                @a_(routes.Application.broking().url, "global.text.services.broking")
                <br />
                @a_(routes.Application.offer().url+"#loan", "global.text.services.loan")
                <br />
                @a_(routes.Application.offer().url+"#home", "global.text.services.at.home")
                <br />
                @a_(routes.Application.more().url, "global.text.services.other")
                <br />
                @a_(routes.Application.prices().url, "global.text.services.prices")
                <br />
                @a_(routes.Application.service().url, "global.text.service.content")
                <br />
                @a_(routes.Application.service_test().url, "global.text.service.service.test")
                <br />
                @a_(routes.Application.around().url, "global.text.service.around")
                <br />
                @a_(routes.Application.water().url, "global.text.service.water")
                <br />
                @a_(routes.Application.customization().url, "global.text.customization")
            </div>
            <div class="col-sm-3">
                @a_("http://watchnext.fr/blog/", "global.text.blog", 'target -> "_blank")
                <div id="feeddiv"></div>
            </div>
        </div>
        <div class="row hidden-xs text-center" id="copyright">
            <div class="col-sm-12">@Messages("global.text.copyright")</div>
        </div>
        <div class="visible-xs">
            <p class="pull-right"><a href="#" title="@Messages("global.text.back.to.top.title")"><span class="glyphicon glyphicon-chevron-up"></span>&nbsp;@Messages("global.text.back.to.top")</a></p>
            <div class="footer-links">
                <h4>@Messages("global.text.footer.links.contact")</h4>
                <p><a href="@routes.Application.contact()" title="@Messages("global.text.contact.title")">@Html(Messages("global.text.contact"))&nbsp;<span class="glyphicon glyphicon-envelope"></span></a></p>
                <p><a href="@routes.Application.callRequest()" title="@Messages("global.text.call.request.title")">@Html(Messages("global.text.call.request"))&nbsp;<span class="glyphicon glyphicon-earphone"></span></a></p>
                <div class="call-block">
                  <p><a href="tel:@Messages("global.href.phone.number")" rel="nofollow">@Html(Messages("global.text.phone.number"))</a></p>
                  <div class="conditions">
                    <p>@Html(Messages("global.text.footer.conditions.cost"))</p>
                    <p>@Html(Messages("global.text.footer.conditions.when"))</p>
                  </div>
                </div>
            </div>
            <div class="footer-links">
                <h4>@Messages("global.text.footer.links.help")</h4>
                <p>@a_(routes.Application.about().url, "global.text.who.are.we")</p>
                <p>@a_(routes.Application.appointment().url, "global.text.coming")</p>
                <p>@a_(routes.Application.faq().url, "global.text.faq")</p>
            </div>
            <div class="footer-links">
                <h4>@Messages("global.text.footer.links.legal")</h4>
                <p>@a_(routes.Assets.at("CGV%20-%20Hometime.pdf").url, "global.text.terms")</p> 
                <p>@a_(routes.Application.privacy().url, "global.text.privacy")</p>
                <p>@a_(routes.Application.legal().url, "global.text.legal")</p>
            </div>
            <div class="footer-links">
                <h4>@Messages("global.text.footer.links.other")</h4>
                <p>@a_(routes.Application.siteplan().url, "global.text.site.plan")</p>
                <p>@a_(routes.Application.contact().url, "global.text.issue")</p>
            </div>
            <p class="text-center">@Messages("global.text.copyright")</p>
        </div>
      </footer>
       <script type="text/javascript">

            google.load("feeds", "1");
            
            function Truncate(str, maxLength, suffix)
            {
                if(str.length > maxLength)
                {
                    str = str.substring(0, maxLength + 1); 
                    str = str.substring(0, Math.min(str.length, str.lastIndexOf(" ")));
                    str = str + suffix;
                }
                return str;
            }
        
            function initialize() {
              var feed = new google.feeds.Feed("http://watchnext.fr/blog/feed/");
              var rssoutput="";
              feed.setNumEntries(8);
              feed.load(function(result) {
                if (!result.error) {
                  var container = document.getElementById("feeddiv");
                  for (var i = 0; i < result.feed.entries.length; i++) {
                    var entry = result.feed.entries[i];
                    rssoutput+=" &nbsp;&gt;&nbsp; <a href='" + entry.link + "' target='_blank' title='" + entry.title + "'>" + Truncate(entry.title, 30, "...") + "</a>"
                    rssoutput+="<br />"
                    container.innerHTML=rssoutput
                  }
                }
              });
            }
            google.setOnLoadCallback(initialize);

        </script>