      <!--minimum footer-->
      <footer>
        <p class="pull-right"><a href="#"><span class="glyphicon glyphicon-chevron-up"></span>&nbsp;@Messages("global.text.back.to.top")</a></p>
        <p>@Messages("global.text.copyright") &middot; 
        <a href="@routes.Application.privacy()">@Html(Messages("global.text.privacy"))</a> &middot;
        <a href="@routes.Application.cgv()">@Html(Messages("global.text.terms"))</a> &middot; 
        <a href="@routes.Application.about()">@Html(Messages("global.text.who.are.we"))</a> &middot; 
        <a href="mailto:contact@@hometime.fr">@Html(Messages("global.text.contact"))&nbsp;<span class="glyphicon glyphicon-envelope"></span></a></p>
      </footer>