@(key: String = "global.home", title_option : String = "", description_option : String = "")

        @if(title_option.isEmpty()) {<title>@Messages(key+".html.title")</title>} else {<title>@Messages(key+".html.title", title_option)</title>}
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        @if(title_option.isEmpty()) {<meta name="description" content="@Messages(key+".html.description")">} else {<meta name="description" content="@Messages(key+".html.description", description_option)"></title>}
        <meta name="keywords" content="@Messages(key+".html.keywords")">
        <meta name="author" content="@Messages("global.home.html.author")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.ico")">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:700italic,400,700' rel='stylesheet' type='text/css'>
        