@(index: Integer = 1)
@import tags._
    <div class="navbar-wrapper">
      <div class="container">

        <div class="navbar navbar-inverse navbar-static-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="@routes.Application.index()" title="">@Html(Messages("global.text.brand.name"))</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                @li_activable(1, index, args = 'class -> "hidden-xs") {<a href="@routes.Application.index()"><span class="glyphicon glyphicon-home"></span></a>}
                @li_activable(50, index, args = 'class -> "dropdown") {
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">@Html(Messages("global.navbar.link.text.services")) <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="@routes.Application.offer()">@Html(Messages("global.navbar.link.text.services.service"))</a></li>
                    <li class="hidden-xs"><a href="@routes.Application.offer()#restore">@Html(Messages("global.navbar.link.text.services.restore"))</a></li>
                    <li class="hidden-xs"><a href="@routes.Application.offer()#loan">@Html(Messages("global.navbar.link.text.services.loan"))</a></li>
                    <li class="hidden-xs"><a href="@routes.Application.offer()#home">@Html(Messages("global.navbar.link.text.services.at.home"))</a></li>
                    <li class="divider hidden-xs"></li>
                    <li><a href="@routes.Application.customization()">@Html(Messages("global.navbar.link.text.customization"))</a></li>
                    <li class="divider hidden-xs"></li>
                    <li class="hidden-xs"><a href="@routes.Application.more()">@Html(Messages("global.navbar.link.text.services.other"))</a></li>
                    <li class="divider hidden-xs"></li>
                    <li><a href="@routes.Application.prices()">@Html(Messages("global.navbar.link.text.services.prices"))</a></li>
                    <li class="divider hidden-xs"></li>
                    <li class="hidden-xs"><a href="@routes.Application.about()">@Html(Messages("global.navbar.link.text.about"))</a></li>
                    <li class="hidden-xs"><a href="@routes.Application.faq()">@Html(Messages("global.navbar.link.text.services.faq"))</a></li>
                    <li><a href="@routes.Application.feedback()">@Html(Messages("global.navbar.link.text.services.feedback"))</a></li>
                    <li class="divider hidden-xs"></li>
                    <li class="hidden-xs"><a href="@routes.Application.around()">@Html(Messages("global.navbar.link.text.services.around"))</a></li>
                  </ul>
                }
                @li_activable(20, index, args = 'class -> "dropdown") {
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">@Html(Messages("global.navbar.link.text.watches")) <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="@routes.Application.watch_collection()">@Html(Messages("global.navbar.link.text.watch.collection"))</a></li>
                    <li class="divider hidden-xs"></li>
                    <li><a href="@routes.Application.broking()">@Html(Messages("global.navbar.link.text.broking"))</a></a></li>
                    <li class="divider hidden-xs"></li>
                    <li><a href="@routes.Application.sell()">@Html(Messages("global.navbar.link.text.sell"))</a></a></li>
                  </ul>
                }
                @li_activable(80, index, args = 'class -> "dropdown") {
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">@Html(Messages("global.navbar.link.text.service")) <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="@routes.Application.service()">@Html(Messages("global.navbar.link.text.service.content"))</a></li>
                    <li class="divider hidden-xs"></li>
                    <li><a href="@routes.Application.water()">@Html(Messages("global.navbar.link.text.water.content"))</a></li>
                    <li class="divider hidden-xs"></li>
                    <li><a href="@routes.Application.service_test()">@Html(Messages("global.navbar.link.text.service.service.test"))</a></li>
                  </ul>
                }
              </ul>
              <ul class="nav navbar-nav navbar-right">
                @li_activable(100, index) {<button type="button" onclick="window.location = '@routes.Application.order(null)';return false;" class="visible-lg btn btn-primary navbar-btn">@Html(Messages("global.navbar.link.text.order"))</button><a href="@routes.Application.order(null)" class="hidden-lg">@Html(Messages("global.navbar.link.text.order"))</a>}
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>