@(index: Integer = 1)
@import tags._
    <div class="navbar-wrapper">
      <div class="container">

        <div class="navbar navbar-inverse navbar-static-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="@routes.Application.index()">@Messages("global.text.brand.name")</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                @li_activable(1, index) {<a href="@routes.Application.index()"><span class="glyphicon glyphicon-home"></span></a>}
                @li_activable(50, index, args = 'class -> "dropdown") {
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">@Messages("global.navbar.link.text.services") <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="@routes.Application.offer()">@Messages("global.navbar.link.text.services.service")</a></li>
                    <li><a href="@routes.Application.offer()#loan">@Messages("global.navbar.link.text.services.loan")</a></li>
                    <li><a href="@routes.Application.offer()#home">@Messages("global.navbar.link.text.services.at.home")</a></li>
                    <li class="divider"></li>
                    <li><a href="@routes.Application.more()">@Messages("global.navbar.link.text.services.other")</a></li>
                    <li class="divider"></li>
                    <li><a href="@routes.Application.prices()">@Messages("global.navbar.link.text.services.prices")</a></li>
                    <li class="divider"></li>
                    <li><a href="@routes.Application.faq()">@Messages("global.navbar.link.text.services.faq")</a></li>
                  </ul>
                }
                @li_activable(20, index) {<a href="@routes.Application.watch_collection()">@Messages("global.navbar.link.text.watch.collection")</a>}
                @li_activable(80, index, args = 'class -> "dropdown") {
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">@Messages("global.navbar.link.text.service") <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="@routes.Application.service()">@Messages("global.navbar.link.text.service.content")</a></li>
                    <li class="divider"></li>
                    <li><a href="@routes.Application.service_test()">@Messages("global.navbar.link.text.service.service.test")</a></li>
                  </ul>
                }
              </ul>
              <ul class="nav navbar-nav navbar-right">
                @li_activable(100, index) {<a href="@routes.Application.order(null)">@Messages("global.navbar.link.text.order")</a>}
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>