@(isTop: Boolean=true)
@import fr.hometime.utils._

    <div class="@if(isTop) {warning-store-closed-top hidden-xs} else {warning-store-closed}">
        <span class="glyphicon glyphicon-exclamation-sign"></span>&nbsp; @Html(LiveConfigHelper.tryToGetString(LiveConfigConstants.STORE_CLOSED_TITLE_FORCED).orElse(Messages("global.text.store.closed")))
        <div class="conditions">
            <p>@Html(LiveConfigHelper.tryToGetString(LiveConfigConstants.STORE_CLOSED_MESSAGE_FORCED).orElse(Messages("global.text.store.closed.consequences")))</p>
        </div>
    </div>