@(appointments: List[models.AppointmentRequest], displayLink: Boolean, key: String = "admin.customer.watch", darkMode: Boolean = false)
@import tags._
@import fr.hometime.utils._

    @if(appointments != null && appointments.size >0) {
    	<h3>
    		@Html(Messages(key+".active"))
    	</h3>
    	<table class="table table-condensed @if(!darkMode) {table-striped table-bordered}">
          <thead>
	        <tr>
	          <th>@Html(Messages(key+".appointment"))</th>
	          <th>@Html(Messages(key+".customer"))</th>
	          <th>@Html(Messages(key+".reason"))</th>
	          <th>@Html(Messages(key+".status"))</th>
	        </tr>
	      </thead>
	      <tbody>
	      	@for(request <- appointments) {
	      	<tr class="">
	      		<td>@request.getNiceDisplayableDatetime</td>
	      		<td>@request.customerDetails</td>
	      		<td>@display_i18n_value(request.reason.name, "admin.appointment.reason.value")</td>
	      		<td>@display_i18n_value(request.status.name, "admin.appointment.status.value")</td>
	      	</tr>
	      	}
		  </tbody>
		</table>
    } else {
    	<h3>
    		@Html(Messages(key+".active.none"))
    	</h3>
    }
    <br />
    
    