@(appointments: List[models.AppointmentRequest], displayLink: Boolean, key: String = "admin.customer.watch", darkMode: Boolean = false, placeholder: Boolean = false)
@import tags._
@import fr.hometime.utils._


@header(content: Html) = {
    	<h3>
    		@Html(Messages(key+".active"))
    	</h3>
    	<table class="table table-condensed @if(!darkMode) {table-striped table-bordered}">
          <thead>
	        <tr>
	          <th>@Html(Messages(key+".appointment"))</th>
	          <th>@Html(Messages(key+".customer"))</th>
	          <th>@Html(Messages(key+".reason"))</th>
	          <th>@Html(Messages(key+".status"))</th>
	        </tr>
	      </thead>
	      <tbody>
	      @content
	      </tbody>
		</table>
}

    @if(appointments != null && appointments.size >0) {
		@header{
	      	@for(request <- appointments) {
	      	<tr class="">
	      		<td>@request.getNiceDisplayableDatetime</td>
	      		<td>@request.customerDetails</td>
	      		<td>@display_i18n_value(request.reason.name, "admin.appointment.reason.value")</td>
	      		<td>@display_i18n_value(request.status.name, "admin.appointment.status.value")</td>
	      	</tr>
	      	}
	    }
    } else {
    	@if(placeholder) {
	    	@header{
		    	<tr class="hidden" id="ph_line_template">
		    		<td class="ph_date"></td>
		    		<td class="ph_details"></td>
		    		<td class="ph_reason"></td>
		    		<td class="ph_status"></td>
		    	</tr>
	    	}
	    	<div id="data_reason_dic" class="hidden">
	    	@for(reason <- models.AppointmentRequest.Reason.values) {
	    		<div data_key="@reason.name" data_value="@Html(Messages(key+".reason.value."+reason.name.toLowerCase.replace("_",".")))"/></div>
	    	}
	    	</div>
	    	<div id="data_status_dic">
	    	@for(status <- models.AppointmentRequest.Status.values) {
	    		<div data_key="@status.name" data_value="@Html(Messages(key+".status.value."+status.name.toLowerCase.replace("_",".")))"></div>
	    	}
	    	</div>
	    	
    	} else {
    	<h3>
    		@Html(Messages(key+".active.none"))
    	</h3>
    	}
    }
    <br />
    
    