@(unrepliedOrderRequests: List[models.OrderRequest], displayLink: Boolean, key: String = "admin.customer.watch")
@import tags._
@import fr.hometime.utils._

    @if(unrepliedOrderRequests != null && unrepliedOrderRequests.size >0) {
    	<h3>
    		@Html(Messages(key+".active"))
    	</h3>
    	<table class="table table-condensed table-striped table-bordered">
          <thead>
	        <tr>
	          <th>@Html(Messages(key+".head.link.to"))</th>
	          <th>@Html(Messages(key+".head.request.date"))</th>
	          <th>@Html(Messages(key+".head.email"))</th>
	          <th>@Html(Messages(key+".head.details"))</th>
	          <th>@Html(Messages(key+".head.managed.by"))</th>
	          <th>@Html(Messages(key+".head.actions"))</th>
	        </tr>
	      </thead>
	      <tbody>
	      	@for(request <- unrepliedOrderRequests) {
	      	<tr class="feedback_asked_@request.feedbackAsked">
	      		@if(request.isManagedByCurrentLogin(session)) {
	      		<td><a href="@routes.Admin.displayOrderRequest(request.id)">#@request.id</a></td>
	      		} else {
	      		<td>#@request.id</td>
	      		}
	      		<td>@display_date(request.requestDate, "dd/MM/yyyy HH:mm")</td>
	      		<td>@display_copyable_email_admin_only(request.email, key+".action.copy.email.address")</td>
	      		<td>@(request.brand), @takeif(request.model, 30), @(request.city)</td>
	      		<td>@(request.getNameIfManaged)</td>
	      		<td>
		      		@if(request.isManagedByCurrentLogin(session)) {
	      			<a type="button" class="btn btn-primary btn-xs" href="@routes.Admin.setRepliedOrderRequest(request.id)" title="@Messages(key+".action.set.replied.title")"><span class="glyphicon glyphicon-new-window"></span></a>
	                <a type="button" class="btn btn-warning btn-xs" href="@routes.Admin.closeOrderRequest(request.id)" title="@Messages(key+".action.close.title")"><span class="glyphicon glyphicon-remove"></span></a>
	                <a type="button" class="btn btn-success btn-xs" href="@routes.Admin.changeFeedbackAsked(request.id)" title="@Messages(key+".action.change.feedback.asked.title")"><span class="glyphicon glyphicon-envelope"></span></a>
	                <a type="button" class="btn btn-info btn-xs" href="@routes.Admin.unsetOrderRequestManaged(request.id)" title="@Messages(key+".action.set.unmanaged.by.title")"><span class="glyphicon glyphicon-share"></span></a>
	                @if(SMSHelper.canSendFirstSMS(request)) {
	                	<a type="button" id="sms" class="btn btn-warning btn-xs" href="@routes.SMS.sendFirstSMS(request.id)" title="@Messages(key+".action.send.first.sms.title")"><span class="glyphicon glyphicon-earphone"></span></a>
	                }
	      			}
	      			@if(request.isManagedByNobody()) {
	      			<a type="button" class="btn btn-info btn-xs" href="@routes.Admin.setOrderRequestManaged(request.id)" title="@Messages(key+".action.set.managed.by.title")"><span class="glyphicon glyphicon-lock"></span></a>
	      			}
                </td>
	      	</tr>
	      	}
	      	@if(displayLink) {
	      	<tr>
	      		<td colspan="6"><a href="@routes.Admin.currentOrderRequests()">@Html(Messages("admin.index.order.requests.number.waiting", OrderRequest.numberOfFeedbacksWaited()))</a></td>
	      	</tr>
	      	}
		  </tbody>
		</table>
    } else {
    	<h3>
    	@if(displayLink) {
    		@Html(Messages("admin.index.order.requests.active.none")) <a href="@routes.Admin.currentOrderRequests()">@Html(Messages("admin.index.order.requests.number.waiting", OrderRequest.numberOfFeedbacksWaited()))</a>
    	} else {
    		@Html(Messages(key+".active.none"))
    	}
    	</h3>
    }
    <br />
    
    