@(action: String, currentFilter: String)
@import tags._

    @display_flash()
    
    <div class="row filter">
        <div class="col-md-6">  
            <form action="@action" method="GET" class="form-inline" role="form">
              <div class="form-group">
                <input class="form-control" type="search" id="searchbox" name="f" value="@currentFilter" placeholder="Filter by email...">
              </div>
              <div class="form-group">
                <input class="form-control" type="submit" id="searchsubmit" value="Filter by name" class="btn primary">
              </div>
            </form>
        </div>
    </div>
