@(action: String, filterName: String, currentFilter: String, addNewURL: String="", addNewLabelKey: String="admin.action.label.add.new.default")
@import tags._

    <div class="row filter">
        <div class="col-md-6">  
            <form action="@action" method="GET" class="form-inline" role="form">
              <div class="form-group">
                <input class="form-control" type="search" id="searchbox" name="f" value="@currentFilter" placeholder="Filtrer par @filterName...">
              </div>
              <div class="form-group">
                <input class="form-control" type="submit" id="searchsubmit" value="Filtrer par @filterName" class="btn primary">
              </div>
            </form>
        </div>
        @if(!"".equals(addNewURL)) {
        <div class="col-md-6 text-right">
        	<a type="button" class="btn btn-success" href="@addNewURL"><span class="glyphicon glyphicon-plus"></span>@Html(Messages(addNewLabelKey))</a>
        </div>
        }
    </div>
