@(quotation: Quotation)
@import tags._

<u>Caractère provisoire de cette proposition :<br></u>
<br>
Cette proposition commerciale est valable 2 semaines pour une intervention à Paris ou première couronne parisienne.
<br><br>
Même si l'entretien de chaque montre est différent, pour vous apporter un maximum de sérénité nous vous proposons des tarifs fermes qui intégrent les aléas courants que nous pouvons rencontrer (usure prématurée d'une pièce par exemple).
<br><br>
Cependant, si l’examen approfondi de la montre (lors du premier rendez-vous, ou de la prise en charge par l’atelier) révélait des problèmes particuliers inhabituels nécessitant la commande de pièces rares, cette proposition pourrait être modifiée pour intégrer les coûts de main d’œuvre ou de fourniture de pièces supplémentaires.
<br><br>
Dans ce cas, une nouvelle proposition commerciale sera présentée, il vous appartiendra de l’accepter ou de la refuser. Si vous la refusez, la montre vous sera restituée <strong>sans frais dans un délai de @quotation.delayReturn</strong>.
<br><br>