@(quotation: Quotation)
@import tags._
<u>A propos de nos partenaires horlogers :<br></u>
<br>
Hometime travaille avec un petit nombre d'ateliers horlogers réputés disposant de plus de 20 ans d'expérience.
<br><br>
Ces horlogers disposent obligatoirement d'une connaissance des montres que nous leur confions. @if(quotation.partnerAsset != null) {@quotation.partnerAsset}
<br><br>
A aucun moment votre montre n'est envoyée par un biais quelconque dans un lieu différent de l'atelier de l'horloger situé dans Paris.
<br><br>
Sur demande de votre part, nous pouvons vous fournir les coordonnées et références de l'atelier partenaire dans lequel votre montre est entretenue.
<br><br>