@(quotation: Quotation)
@import tags._
<br><br>
Nous sommes à votre disposition pour toute précision.
<br><br>
Dans l’attente de votre réponse, merci de votre confiance.
<br><br>
Cette proposition commerciale s'entend dans le cadre des <a href="@absolute_frontend_url(routes.Assets.at("CGV%20-%20Hometime.pdf").url, true)">Conditions&nbsp;Générales&nbsp;de&nbsp;Ventes&nbsp;Hometime</a>.
<br><br>
Raphaël de Hometime.fr
<br>
<a href="mailto:raphael@@hometime.fr" target="_blank" style="color: #0033cc; ;border: none;">raphael@@hometime.fr</a>
<br>
07 82 43 47 51
<br><br>
<p style="margin: 0 0 10px;line-height: 1.3em;"></p>