@(quotation: Quotation)
@import tags._
<u>A propos de nos horlogers :<br></u>
<br>
Hometime dispose de ses propres horlogers diplômés. Expérimentés et ayant travaillé dans les plus grandes maisons, ils ont l'ensemble des capacités leur permettant d'entretenir les montres les plus compliquées comme les plus simples.
<br><br>
Ces horlogers disposent obligatoirement d'une connaissance des montres que nous leur confions. @if(quotation.partnerAsset != null) {@quotation.partnerAsset}
<br><br>
A aucun moment votre montre n'est envoyée par un biais quelconque dans un lieu différent de l'atelier sauf si cela a été convenu avec vous.
<br><br>