@(quotation: Quotation)
@import tags._
@if(quotation.outsideZone) {
<br>
<u>Déplacements en dehors de la première couronne autour de Paris :<br></u>
<br>
Pour vous permettre d'appréhender le coût réel de la révision, le montant de la prestation n'inclue pas les frais de déplacement au delà de la première couronne autour de Paris.
<br><br>
Si vous êtes d'accord sur le devis, nous vous proposons de convenir ensemble de la meilleure façon de collecter et restituer la montre en fonction de vos contraintes et de vos attentes, et d'évaluer alors le coûts lié au déplacement de la façon la plus précise et juste possible.
<br><br>
}