@(quotation: Quotation)
@import tags._

<ul class="main"><li>Entretien auprès d'un excellent atelier partenaire parisien</li></ul>
<ul>
    <ul>
    @quotation.serviceType match {
      case OrderRequest.OrderTypes.SERVICE => {
        <li>Diagnostic horloger exhaustif préalable
            <ul>
                <li>Ouverture de la boite pour confirmation de la prise en charge dans un forfait de révision complète.</li>
            </ul>
        </li>
        <li>Révision complète du mouvement,
            <ul>
                <li>Démontage de la montre et du mouvement,</li>
                <li>Nettoyage des pièces du mouvement,</li>
                <li>Changement éventuel de quelques pièces (par des pièces d'origine) habituellement changées lors d'une révision,</li>
                <li>Huilage des pièces,</li>
                <li>Remontage du mouvement,</li>
                <li>Changement des joints d’étanchéité,</li>
                <li>Fermeture du boitier,</li>
                <li>Contrôle d’étanchéité et production de certificat.</li>
            </ul>
        </li>
        <li>Contrôle du bon fonctionnement et des performances chronométriques,</li>
        <li>Polissage de la boite et du bracelet s’il s’agit d’un bracelet métal (sauf mention expresse de votre part). Après polissage, les montres récentes retrouvent un aspect très proche du neuf.</li>
      }
      case OrderRequest.OrderTypes.SETTINGUP => {
        <li>Diagnostic de régularité de marche
            <ul>
                <li>Sans être ouverte, la montre est placée sur une machine mesurant fréquence et amplitude de marche du mouvement.</li>
                <li>En fonction du résultat, il est possible de régler le problème de marche par démagnétisation simple ou via un entretien intermédiaire.</li>
            </ul>
        </li>
        <li>La démagnétisation simple comprend,
            <ul>
                <li>Démagnétisation du mouvement,</li>
                <li>Contrôle du bon fonctionnement et des performances chronométriques.</li>
            </ul>
        </li>
        <li>L'entretien intermédiaire comprend,
            <ul>
                <li>Démontage de la montre,</li>
                <li>Démagnétisation du mouvement,</li>
                <li>Polissage de la boite et de la boucle du bracelet (ce polissage est léger pour éviter de retirer trop de matière),</li>
                <li>Changement des joints d’étanchéité,</li>
                <li>Fermeture du boitier,</li>
                <li>Contrôle du bon fonctionnement et des performances chronométriques,</li>
                <li>Contrôle d’étanchéité sous basse et haute pression et production de certificat.</li>
            </ul>
        </li>
      }
      case OrderRequest.OrderTypes.INTERMEDIATE => {
        <li>Diagnostic horloger exhaustif préalable
            <ul>
                <li>Ouverture de la boite pour confirmation de la prise en charge dans un forfait d'entretien intermédiaire.</li>
            </ul>
        </li>
        <li>L'entretien intermédiaire comprend,
            <ul>
                <li>Démontage de la montre,</li>
                <li>Démagnétisation du mouvement,</li>
                <li>Polissage de la boite et de la boucle du bracelet (ce polissage est léger pour éviter de retirer trop de matière),</li>
                <li>Changement des joints d’étanchéité,</li>
                <li>Fermeture du boitier,</li>
                <li>Contrôle du bon fonctionnement et des performances chronométriques,</li>
                <li>Contrôle d’étanchéité sous basse et haute pression et production de certificat.</li>
            </ul>
        </li>
      }
      case OrderRequest.OrderTypes.REPAIR => {
      <li>Diagnostic horloger exhaustif préalable
            <ul>
                <li>Ouverture de la boite pour confirmation de la prise en charge dans un forfait de révision complète avec remplacement de certaines pièces.</li>
                <li>Identification d'éventuels problèmes nécessitant le remplacement de pièces coûteuses non incluses dans ce type d'intervention (dans ce cas là, un nouveau devis vous est présenté avant toute intervention).</li>
            </ul>
        </li>
        <li>Révision complète du mouvement,
            <ul>
                <li>Démontage de la montre et du mouvement,</li>
                <li>Nettoyage des pièces du mouvement,</li>
                <li>Changement des pièces défectueuses (par des pièces d'origine),</li>
                <li>Huilage des pièces,</li>
                <li>Remontage du mouvement,</li>
                <li>Changement des joints d’étanchéité,</li>
                <li>Fermeture du boitier,</li>
                <li>Contrôle d’étanchéité et production de certificat.</li>
            </ul>
        </li>
        <li>Contrôle du bon fonctionnement et des performances chronométriques,</li>
        <li>Polissage de la boite et du bracelet s’il s’agit d’un bracelet métal (sauf mention expresse de votre part). Après polissage, les montres récentes retrouvent un aspect très proche du neuf.</li>
      }
    }
    </ul>
</ul>
<br><br>
<u>Durée et tarifs :<br></u>
<br>
Hometime vous propose de réaliser la prestation sous un délai <strong>@quotation.delay</strong>.
Le délai comprend la vérification du bon fonctionnement pour tester les performances chronométriques de la montre.
@if(quotation.delayCanBeReduced) {Ce délai peut être légèrement raccourci si vous le souhaitez.}
<br><br>
@if(quotation.watchChosen != null) {
Hometime vous propose pour l'ensemble de la prestation les tarifs suivants :
<ul>
    <li>@Html(Messages("admin.quotation.request.service.type.value."+quotation.serviceType.intValue, quotation.watch)) : @{quotation.priceService}.</li>
    <li>Essai @quotation.watchChosen pendant toute la durée de l’entretien : @{quotation.priceLoan}.</li>
</ul>
Ainsi, nous vous proposons un tarif total <strong>@{quotation.price}</strong>.
} else {
Pour l’ensemble des prestations ci-dessus, Hometime vous propose un tarif <strong>@{quotation.price}</strong>.
}
<br><br>
Les opérations sont garanties 1 an, l'étanchéité pendant 2 ans.
<br><br>
Sur accord de principe de votre part par e-mail, nous éditerons un devis formel que nous vous ferons parvenir pour signature et pourrons convenir avec vous d’une date pour le premier rendez-vous.
<br><br>
