@(quotation: Quotation)
@import tags._
<u>Prochaines étapes :<br></u>
<br>
Si vous acceptez ce devis, nous vous proposons les étapes suivantes :
<ol class="main">
    <li><a href="mailto:contact@@hometime.fr?subject=Acceptation%20de%20devis" target="_blank">Répondez-nous par mail</a> ou par <a href="tel:@Messages("global.href.phone.number")">téléphone au 07 82 43 47 51</a> pour confirmer votre accord,</li>
    <li>Nous vous éditons un bon de commande formel et convenons ensemble d'un rendez-vous,</li>
    <li>Lors du rendez-vous nous prenons le temps de répondre à vos questions et vous remettons les documents de prise en charge.</li>
</ol>