@(watches: List[models.CustomerWatch], key: String = "admin.simplified.customer.watch")
@import tags._

@import fr.hometime.utils._

	@if(watches == null || watches.size == 0) {
      <div class="row">
        <div class="well">
            <em>@Html(Messages(key+".no.watch.to.display"))</em>
        </div>
      </div>
      } else {
      <div class="row">
       	<div class="table-responsive">
            <table class="table table-bordered table-striped">

              <thead>
                <tr>
                  <th>#</th>
                  <th>@Html(Messages(key+".watches.header.id"))</th>
                  <th>@Html(Messages(key+".watches.header.brand"))</th>
                  <th>@Html(Messages(key+".watches.header.model"))</th>
                  <th>@Html(Messages(key+".watches.header.reference"))</th>
                  <th>@Html(Messages(key+".watches.header.status"))</th>
                </tr>
              </thead>
              <tbody>
              @for((watch, index) <- watches.zipWithIndex) {
                <tr>
                  <td>
                  	@if(CustomerWatchHelper.isToBeAccepted(watch)) {
                   		<a type="button" class="btn btn-success btn-xs" href="@routes.SimplifiedCustomerWatches.acceptWatch(watch.id)" title="Accepter la montre"><span class="glyphicon glyphicon-arrow-down"></span></a>
                   	} else {
                    <a type="button" class="btn btn-default btn-xs" href="@routes.SimplifiedCustomerWatches.displayCollectingForm(watch.id)"><span class="glyphicon glyphicon-eye-open"></span></a>
                    <a type="button" class="btn btn-success btn-xs" href="@pdf(routes.SimplifiedCustomerWatches.displayCollectingForm(watch.id).url)"><span class="glyphicon glyphicon-file"></span></a>
	                <a type="button" class="btn btn-primary btn-xs" href="@routes.CrudHelper.edit("SimplifiedCustomerWatches", watch.id)"><span class="glyphicon glyphicon-list-alt"></span></a>
                   	<!--<a type="button" class="btn btn-warning btn-xs" href="@routes.Order.addFromCustomerWatch(watch.id)"><span class="glyphicon glyphicon-arrow-up"></span></a>-->
                   	<a type="button" class="btn btn-default btn-xs" href="@routes.SimplifiedCustomerWatches.displayServicingSheet(watch.id)"><span class="glyphicon glyphicon-print"></span></a>
                   	<a type="button" class="btn btn-success btn-xs" href="@pdf(routes.SimplifiedCustomerWatches.displayServicingSheet(watch.id).url)"><span class="glyphicon glyphicon-file"></span></a>
                   	@if_admin() {<a type="button" class="btn btn-warning btn-xs" href="@routes.CustomerWatch.edit(watch.id)"><span class="glyphicon glyphicon-edit"></span></a>}
                   	@watch_actions_button(watch, "admin.watch.watches", 'commonclass -> "btn-success")
                   	}
                  </td>
                  <td>
                    @watch.id
                  </td>
                  <td>
                    @watch.brand
                  </td>
                  <td>
                    @watch.model
                  </td>
                  <td>
                    @watch.reference
                  </td>
                  <td>
                  	@Html(Messages(key+".value.status."+CustomerWatchHelper.getStatusForCustomer(watch).toLowerCase.replace('_','.')))
                  </td>
                </tr>
              }
              </tbody>
            </table>
		</div>
	  </div>
	}
