@(message: String = "", autoOrder: Form[Application.AutoOrderForm], supported_brands: List[Brand], available_watches: List[models.Watch], is_it_first_page: Boolean)
@import tags._
@import helper._
@import fr.hometime.utils._
@implicitField = @{ FieldConstructor(myBootstrapFieldConstructor.f) }
@in_head = {
    @if(flash.containsKey("success")) {
        @fragments.send_order_event_google_analytics()
    }
}
@end_scripts = {
<script>
$(document).ready(function(){
    function resetToStep(stepNumber) {
		if (stepNumber <= 1)
 			$( '.movement-type' ).addClass('hidden');
 		if (stepNumber <= 2)
 			$( '.movement-complexity' ).addClass('hidden');
 		if (stepNumber <= 3)
     		$( '.condition' ).addClass('hidden');
	    if (stepNumber <= 4)
	    	$( '.emergency' ).addClass('hidden');
	    
 		$( '.result' ).addClass('hidden');


 		updateStepInHeader(stepNumber);
    }
    
    function displayMovementTypeSelection() {
    		$( '.movement-type' ).removeClass('hidden');
     		$( '.movement-complexity' ).addClass('hidden');
     		$( '.condition' ).addClass('hidden');
     		$( '.emergency' ).addClass('hidden');
     		scroller('.movement-type');
     		
     		updateStepInHeader(2);
    }
    
    function displayMovementComplexitySelection() {
     		$( '.movement-complexity' ).removeClass('hidden');
     		$( '.condition' ).addClass('hidden');
     		$( '.emergency' ).addClass('hidden');
     		scroller('.movement-complexity');
     		
     		updateStepInHeader(3);
    }
    
    function displayConditionSelection() {
     		$( '.condition' ).removeClass('hidden');
     		$( '.emergency' ).addClass('hidden');
     		scroller('.condition');
     		
     		updateStepInHeader(4);
    }
    
    function displayEmergencySelection() {
     		$( '.emergency' ).removeClass('hidden');
     		scroller('.emergency');
     		
     		updateStepInHeader(5);
    }

    function displayBatteryChange() {
    	brandValue = $('#'+activeBrand).attr("data_quot").split(',');
    	$('.resultbrand').html(activeBrandName);
    	if (activeType == 'QUARTZ') {
	    	$('#battery').html(brandValue[1]);
	    	$('#water').html(brandValue[2]);
    	}
    	ga('send', 'event', 'auto-order', 'battery-change-displayed', "brandValue[0]");
    }
    
    function displayChoices() {
    	brandValue = $('#'+activeBrand).attr("data_quot").split(',');
    	$('.resultbrand').html(activeBrandName);
    	if (activeType == 'QUARTZ') {
	    	$('#lowerprice').html(brandValue[1]);
	    	$('#higherprice').html(brandValue[2]);
    	} else {
    		factor = 100;
    		if (activeEmergency == 'HIGH') {
    			factor = brandValue[11];	
    		}
    		if (activeEmergency == 'LOW') {
    			factor = brandValue[12];	
    		}
    		$('#lowerprice').html(roundValue(brandValue[3],factor));
	    	$('#higherprice').html(roundValue(brandValue[4],factor));
    		if(activeComplexity == 'CHRONO') {
	    		$('#lowerprice').html(roundValue(brandValue[5],factor));
	    		$('#higherprice').html(roundValue(brandValue[6],factor));
    		}
    		if(activeComplexity == 'GMT') {
    			$('#lowerprice').html(roundValue(brandValue[7],factor));
	    		$('#higherprice').html(roundValue(brandValue[8],factor));
    		}
    		if(activeComplexity == 'OTHER') {
    			$('#lowerprice').html(roundValue(brandValue[9],factor));
	    		$('#higherprice').html(roundValue(brandValue[10],factor));
    		}
    	}
    	
    	ga('send', 'event', 'auto-order', 'quotation-displayed', "brandValue[0]");
    }
    
    function roundValue(value, factor) {
    	return Math.round( value * (factor/100) / 10 ) * 10;
    }
    
    function displayResult() {
    		updateStepInHeader(5);
     		$( '.result' ).addClass('hidden');
    		$( '.quotation' ).removeClass('hidden');
     		displayChoices();
     		$('#privateInfos').val($('#quotation-price').text().trim());
     		scroller('.quotation');
    }
    
    function displayQuartz() {
    		updateStepInHeader(5);
     		$( '.result' ).addClass('hidden');
    		$( '.quartz' ).removeClass('hidden');
     		displayBatteryChange();
     		scroller('.quartz');
    }
    
    function displayActionContact() {
    		updateStepInHeader(5);
     		$( '.result' ).addClass('hidden');
    		$( '.contact' ).removeClass('hidden');
    		scroller('.contact');
    }
    
    function unknownSelectedForMovementType() {
    		resetToStep(2);
     		displayActionContact();
    }
    
    function mecaValueSelectedForMovementType() {
    		$( '.result' ).addClass('hidden');
   			displayMovementComplexitySelection();
    }
    
    function quartzValueSelectedForMovementType() {
    		$( '.result' ).addClass('hidden');
    		$( '.movement-complexity' ).addClass('hidden');
   			displayConditionSelection();
    }
    
    function unknownSelectedForMovementComplexity() {
     		resetToStep(3);
     		displayActionContact();
    }
    
    function knownValueSelectedForMovementComplexity() {
    		$( '.result' ).addClass('hidden');
     		displayConditionSelection();
    }
    
    function knownValueSelectedForWorkingCondition() {
    		if (activeCondition == 'BROKEN') {
    			$( '.emergency' ).addClass('hidden');
    			displayActionContact();
    		} else if (activeType == 'QUARTZ') {
    			$( '.result' ).addClass('hidden');
    			$( '.emergency' ).addClass('hidden');
     			displayQuartz();
     		} else {
     			$( '.result' ).addClass('hidden');
     			displayEmergencySelection();
     		}
    }
    
	function scroller(classToScrollTo) {
    	$('html, body').animate({scrollTop: $(classToScrollTo).offset().top -100 }, 'slow');
    }
    
    function updateStepInHeader(step) {
     		$('#step-value').html(step);
    }
    

    var activeBrand;
    var activeBrandName;
    var activeType;
    var activeComplexity;
    var activeCondition;
    var activeEmergency;
    
    function manageBrandSelection() {
    	if ($('#brand').find('option:selected').val() != "") {
     		$('input[name="movementType"]').removeAttr("checked");
     		$('input[name="movementComplexity"]').removeAttr("checked");
     		$('input[name="workingCondition"]').removeAttr("checked");
     		$('input[name="emergencyLevel"]').removeAttr("checked");
     		activeBrand = $('#brand').find('option:selected').val();
     		activeBrandName = $('#brand').find('option:selected').text();
     		if (activeBrandName == 'Autre marque') {
     			resetToStep(1);
	     		displayActionContact();
	     	} else {
	     		$( '.result' ).addClass('hidden');
	     	   	displayMovementTypeSelection();
	     	}
     	} else {
     		$( '.result' ).addClass('hidden');
    		resetToStep(1); 	
     	}	
    }
        	
	$('h1').append(" - étape <span id='step-value'>1</span> sur <span id='step-out-of'>5</span>");
    
    resetToStep(1);
    manageBrandSelection();
	
	$('#brand').change(function() {
     	manageBrandSelection();																																															
 	});
    
    $('input[name="movementType"]').change(function() {
		selected_value = $('input[name="movementType"]:checked').val();
		$('input[name="movementComplexity"]').removeAttr("checked");
		$('input[name="workingCondition"]').removeAttr("checked");
     	$('input[name="emergencyLevel"]').removeAttr("checked");
		if (selected_value == "UNKNOWN") {
			unknownSelectedForMovementType();
        } else if ( selected_value == "QUARTZ" ) {
        	$( '.result' ).addClass('hidden');
        	activeType = selected_value;
        	quartzValueSelectedForMovementType()
        } else {
        	$( '.result' ).addClass('hidden');;
        	activeType = selected_value;
        	mecaValueSelectedForMovementType()
        }
    });
    
    $('input[name="movementComplexity"]').change(function(){
    		selected_value = $('input[name="movementComplexity"]:checked').val();
    		$('input[name="workingCondition"]').removeAttr("checked");
     		$('input[name="emergencyLevel"]').removeAttr("checked");
    		if (selected_value == "UNKNOWN") {
    			unknownSelectedForMovementComplexity();
            } else {
            	activeComplexity = selected_value;
            	knownValueSelectedForMovementComplexity()
            }
    });
    
    $('input[name="workingCondition"]').change(function(){
    		selected_value = $('input[name="workingCondition"]:checked').val();
    		$('input[name="emergencyLevel"]').removeAttr("checked");
    		activeCondition = selected_value;
           	knownValueSelectedForWorkingCondition()
    });
    
    $('input[name="emergencyLevel"]').change(function(){
    		selected_value = $('input[name="emergencyLevel"]:checked').val();
    		activeEmergency = selected_value;
    		if (selected_value == 'VERY_HIGH') {
    			displayActionContact();
    		} else {
    			displayResult();
    		}
    });
         
})
</script>
}

@key_ = {
	@if(autoOrder("brand").value!=null && !"".equals(autoOrder("brand").value)) {auto.order.@Brand.findById(Long.valueOf(autoOrder("brand").value)).internal_name.toLowerCase} else {auto.order.undefined}
}

@keySimplified = {
	auto.order.VARIABLE
}

@title = {
	@Messages("auto.order.generic.html.title", Messages(key_.toString.trim+".brand.name"))
}

@description = {
	@Messages("auto.order.generic.html.description", Messages(key_.toString.trim+".brand.name"), Messages(key_.toString.trim+".brand.models"))
}

@keywords = {
	@Messages("auto.order.generic.html.keywords", Messages(key_.toString.trim+".brand.name"), Messages(key_.toString.trim+".brand.models"))
}

@defining(key_.toString.trim) { key =>


@layouts.main_with_options(title.toString.trim, description.toString.trim, keywords.toString.trim, end_scripts, in_head) {
    @layouts.fragments.navbar(100)
    
    <div class="container pure-content-call-block-ahead order">
	  <div class="row visible-xs">
        <div class="col-xs-12">
        	@layouts.fragments.top_banner(false)
        </div>
      </div>
      @baseline("auto.order.generic.baseline", true)
      @if(flash.containsKey("success")) {
      <div class="row success">
          <div class="col-xs-12 col-sm-10 col-sm-offset-1">
            <div class="panel panel-success">
              <div class="panel-heading">@Html(Messages("auto.order.success.panel.heading"))</div>
              <div class="panel-body">
                @Html(Messages("auto.order.success.panel.body"))
              </div>
            </div>
        </div>
      </div>
      } else {
      <div class="row explanation">
          <div class="col-sm-10 col-sm-offset-1">
            @if(is_it_first_page) {
            <div class="head"><img class="img-responsive" src="/assets/images/order/movement.jpg" alt="@Messages("auto.order.movement.alt")"></div>
            <div class="quick-sumup explanation-body">@Html(Messages("auto.order.text.pre.explanation", routes.Application.index(), routes.Application.about()))</div>
            }
            <div class="explanation-body">@Html(Messages("auto.order.generic.text.explanation", Messages(key+".brand.name")))</div>
            <hr>
          </div>
      </div>
      @helper.form(action = routes.Application.manageAutoOrder(), 'class -> "form-horizontal", 'role -> "form") {
	  <div class="row content step1">
        <div class="col-xs-12 col-sm-9 col-sm-offset-1">
	        @helper.select(autoOrder("brand"),
    			for (s <- supported_brands) yield s.id.toString -> s.display_name,
                '_default -> Messages("auto.order.form.value.brand.default"),
                'placeholder -> Messages("auto.order.form.placeholder.brand"), '_label -> Messages("auto.order.form.label.brand"),
                'class -> "form-control", '_class -> "form-group", '_label_class -> "col-sm-3 control-label", '_body_class -> "col-sm-9", '_showConstraints -> false)
        </div>
        @for(s <- supported_brands) {
      	<div id="@s.id" data_quot='@s.display_name@PriceHelper.getPricesForAutoOrder(s)'></div>
      	}
      </div>

      <div class="row content movement-type">
        <div class="col-xs-12 col-sm-9 col-sm-offset-1">
            <hr/>
      		@tags.myInputRadioGroup(autoOrder("movementType"),
            	for (s <- AutoOrder.MovementTypes.values) yield s.toString -> Option(Messages(keySimplified.toString.trim.replaceAll("VARIABLE", "movement.type.value")+"."+s.toString.toLowerCase.replace('_','.'))).filter(!_.contains(".")).getOrElse(s.toString),
                '_label -> Messages(keySimplified.toString.trim.replaceAll("VARIABLE", "movement.type")),	'_class -> "form-group", '_label_class -> "col-sm-3 control-label", '_body_class -> "col-sm-9", '_showConstraints -> false)

	  	</div>
	  </div>
	  
	  <div class="row content movement-complexity">
        <div class="col-xs-12 col-sm-9 col-sm-offset-1">
                @tags.myInputRadioGroup(autoOrder("movementComplexity"),
                                for (s <- AutoOrder.MovementComplexity.values) yield s.toString -> Option(Messages(keySimplified.toString.trim.replaceAll("VARIABLE", "movement.complexity.value")+"."+s.toString.toLowerCase.replace('_','.'))).filter(!_.contains(".")).getOrElse(s.toString),
                                '_label -> Messages(keySimplified.toString.trim.replaceAll("VARIABLE", "movement.complexity"))	, '_class -> "form-group", '_label_class -> "col-sm-3 control-label", '_body_class -> "col-sm-9", '_showConstraints -> false)
      
      	</div>
	  </div>
	  
      <div class="row content condition">
        <div class="col-xs-12 col-sm-9 col-sm-offset-1">
        	<hr/>
      		@tags.myInputRadioGroup(autoOrder("workingCondition"),
            	for (s <- AutoOrder.WorkingCondition.values) yield s.toString -> Option(Messages(keySimplified.toString.trim.replaceAll("VARIABLE", "working.condition.value")+"."+s.toString.toLowerCase.replace('_','.'))).filter(!_.contains(".")).getOrElse(s.toString),
                '_label -> Messages(keySimplified.toString.trim.replaceAll("VARIABLE", "working.condition")),	'_class -> "form-group", '_label_class -> "col-sm-3 control-label", '_body_class -> "col-sm-9", '_showConstraints -> false)

	  	</div>
	  </div>
	  
      <div class="row content emergency">
        <div class="col-xs-12 col-sm-9 col-sm-offset-1">
        	<hr/>
      		@tags.myInputRadioGroup(autoOrder("emergencyLevel"),
            	for (s <- AutoOrder.EmergencyLevel.values) yield s.toString -> Option(Messages(keySimplified.toString.trim.replaceAll("VARIABLE", "emergency.level.value")+"."+s.toString.toLowerCase.replace('_','.'))).filter(!_.contains(".")).getOrElse(s.toString),
                '_label -> Messages(keySimplified.toString.trim.replaceAll("VARIABLE", "emergency.level")),	'_class -> "form-group", '_label_class -> "col-sm-3 control-label", '_body_class -> "col-sm-9", '_showConstraints -> false)

	  	</div>
	  </div>
	  
      <div class="row hidden">
        <div class="col-xs-12 col-sm-9 col-sm-offset-1">
        	<hr/>
      		@tags.simple_textarea(autoOrder("privateInfos"), "privateInfos", '_showConstraints -> false)

	  	</div>
	  </div>
      <div class="row result content action1">
      	<div class="col-xs-12 col-sm-9 col-sm-offset-1">
                  <hr/>
		
                <div>
                    @Html(Messages("auto.order.form.mandatory.mark.explanation"))
                </div>
                <div class="form-group">
                  <div class="col-sm-offset-2 col-sm-9 text-center order-action">
                    <button type="submit" class="btn btn-primary">@Html(Messages("auto.order.action.submit"))</button>
                  </div>
                  <div class="col-sm-offset-2 col-sm-9 text-center order-separator">
                    @Html(Messages("auto.order.action.alternative.separator"))
                  </div>
                  <div class="col-sm-offset-2 col-sm-9 text-center">
                    <a class="btn btn-default" href="@routes.Application.callRequest()" title="@Messages("global.text.call.request.title")">@Html(Messages("auto.order.action.alternative"))&nbsp;<span class="glyphicon glyphicon-earphone"></span></a>
                  </div>
                </div>
        </div>
      </div>
      <div class="row result result_unknown hidden">
      	<div class="col-xs-12 col-sm-9 col-sm-offset-1">
                  <hr/>
		
                <div>
                    Envoyez nous des photos de votre montre
                </div>
        </div>
      </div>
      
       <div class="row result quotation hidden">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        	<div class="offer-box-container ">
	        	<div class="offer-box-only-selected ">
	        		@Html(Messages("auto.order.quotation.header.service.prices"))
	        		<br /><br />
	        	</div>
	        	<div class="offer-box-only-selected  text-center" id="category-1">
	        		<span id="quotation-price">@Html(Messages("auto.order.quotation.body.service.prices"))</span>
	        		<br /><br />
	        	</div>
	        	<div class="offer-box-only-selected form-group">
                  <div class="text-center order-action">
                    <button type="submit" class="btn btn-primary">@Html(Messages("auto.order.action.submit"))</button>
                  </div>
                  <div class="text-center order-separator">
                    @Html(Messages("auto.order.action.alternative.separator"))
                  </div>
                  <div class="text-center">
                    <a class="btn btn-default" href="@routes.Application.callRequest()" title="@Messages("global.text.call.request.title")">@Html(Messages("auto.order.action.alternative"))&nbsp;<span class="glyphicon glyphicon-earphone"></span></a>
                  </div>
            	</div>
	        	@Html(Messages("prices.auto.quotation.footer.service.prices"))
        	</div>
        </div>
      </div>
	  }
      
      <div class="row result quartz hidden">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        	<div class="offer-box-container ">
	        	<div class="offer-box-only-selected ">
	        		@Html(Messages("auto.order.quartz.header.service.prices"))
	        		<br /><br />
	        	</div>
	        	<div class="offer-box-only-selected  text-center" id="category-1">
	        		@Html(Messages("auto.order.quartz.body.service.prices"))
	        		<br /><br />
	        	</div>
	        	<div class="offer-box-only-selected form-group">
                  <div class="text-center order-action">
                    <a class="btn btn-success" href="@routes.Application.appointment()" title="@Messages("auto.order.action.visit.us")">@Html(Messages("auto.order.action.visit.us"))</a>
                  </div>
                  <div class="text-center order-separator">
                    @Html(Messages("auto.order.action.alternative.separator"))
                  </div>
                  <div class="text-center">
                    <a class="btn btn-default" href="@routes.Application.callRequest()" title="@Messages("global.text.call.request.title")">@Html(Messages("auto.order.action.alternative"))&nbsp;<span class="glyphicon glyphicon-earphone"></span></a>
                  </div>
            	</div>
            	@Html(Messages("prices.auto.quartz.footer.service.prices"))
        	</div>
        </div>
      </div>
      
      <div class="row result contact hidden">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        	<div class="offer-box-container ">
	        	<div class="offer-box-only-selected ">
	        		@Html(Messages("auto.order.header.contact"))
	        		<br /><br />
	        	</div>
	        	<div class="offer-box-only-selected  text-center" id="category-1">
	        		@Html(Messages("auto.order.body.contact"))
	        		<br /><br />
	        	</div>
              <div class="text-center order-separator">
                @Html(Messages("auto.order.action.alternative.separator"))
              </div>
              <div class="text-center">
                <a class="btn btn-default" id="contact-call-requet-link" href='@routes.Application.callRequest("")' title="@Messages("global.text.call.request.title")">@Html(Messages("auto.order.action.call.request"))&nbsp;<span class="glyphicon glyphicon-earphone"></span></a>
              </div>
        	</div>
        </div>
      </div>
      
      
      }
      <div class="row disclaimer">
          <div class="col-sm-10 col-sm-offset-1">
            <hr/>
            <div class="disclaimer-body">@Html(Messages("auto.order.text.disclaimer"))</div>
          </div>
      </div>
    </div><!-- /.container -->
}
}
