@(message: String = "", autoOrder: Form[Application.AutoOrderForm], supported_brands: List[Brand], available_watches: List[models.Watch], is_it_first_page: Boolean)
@import tags._
@import helper._
@implicitField = @{ FieldConstructor(myBootstrapFieldConstructor.f) }
@in_head = {
    @if(flash.containsKey("success")) {
        @fragments.send_order_event_google_analytics()
    }
}
@end_scripts = {
<script>
$(document).ready(function(){
    
    function resetToStep1() {
     		$( '.step2' ).addClass('hidden');
     		$( '.step3' ).addClass('hidden');
     		$( '.action1' ).addClass('hidden');
     		$( '.action2' ).addClass('hidden');
    }
    
    function moveToStep2() {
    		$( '.step2' ).removeClass('hidden');
     		$( '.step3' ).addClass('hidden');
    }
    
    function moveToStep3() {
     		$( '.step3' ).removeClass('hidden');
    }
    
    function displayAction1() {
     		$( '.action1' ).removeClass('hidden');
    }
    
    function displayActionTypeUnknown() {
     		$( '.action2' ).removeClass('hidden');
    }
    
	resetToStep1();
    $('#brand').change(function() {
		moveToStep2();
	});
	
	$('#brandChosen').change(function() {
			resetDisplayCategory()
     		$( '#brand-dname' ).text($(this).find('option:selected').text());
         	if ($(this).find('option:selected').val() != "0") {
         		activeCategory($(this).find('option:selected').val());
         	}
 	});
         
})
</script>
}

@key_ = {
	@if(autoOrder("brand").value!=null && !"".equals(autoOrder("brand").value)) {auto.order.@Brand.findById(Long.valueOf(autoOrder("brand").value)).internal_name.toLowerCase} else {auto.order.undefined}
}

@keySimplified = {
	auto.order.VARIABLE
}

@title = {
	@Messages("auto.order.generic.html.title", Messages(key_.toString.trim+".brand.name"))
}

@description = {
	@Messages("auto.order.generic.html.description", Messages(key_.toString.trim+".brand.name"), Messages(key_.toString.trim+".brand.models"))
}

@keywords = {
	@Messages("auto.order.generic.html.keywords", Messages(key_.toString.trim+".brand.name"), Messages(key_.toString.trim+".brand.models"))
}

@defining(key_.toString.trim) { key =>


@layouts.main_with_options(title.toString.trim, description.toString.trim, keywords.toString.trim, end_scripts, in_head) {
    @layouts.fragments.navbar(100)
    
    <div class="container pure-content-call-block-ahead order">
	  <div class="row visible-xs">
        <div class="col-xs-12">
        	@layouts.fragments.top_banner(false)
        </div>
      </div>
      @baseline("auto.order.generic.baseline", true)
      @if(flash.containsKey("success")) {
      <div class="row success">
          <div class="col-xs-12 col-sm-10 col-sm-offset-1">
            <div class="panel panel-success">
              <div class="panel-heading">@Html(Messages("auto.order.success.panel.heading"))</div>
              <div class="panel-body">
                @Html(Messages("auto.order.success.panel.body"))
              </div>
            </div>
        </div>
      </div>
      } else {
      <div class="row explanation">
          <div class="col-sm-10 col-sm-offset-1">
            @if(is_it_first_page) {
            <div class="head"><img class="img-responsive" src="/assets/images/order/movement.jpg" alt="@Messages("auto.order.movement.alt")"></div>
            <div class="quick-sumup explanation-body">@Html(Messages("auto.order.text.pre.explanation", routes.Application.index(), routes.Application.about()))</div>
            }
            <div class="explanation-body">@Html(Messages("auto.order.generic.text.explanation", Messages(key+".brand.name")))</div>
            <hr>
          </div>
      </div>
      @helper.form(action = routes.Application.manageOrder(), 'class -> "form-horizontal", 'role -> "form") {
	  <div class="row content step1">
        <div class="col-xs-12 col-sm-9 col-sm-offset-1">
	        @helper.select(autoOrder("brand"),
    			for (s <- supported_brands) yield s.id.toString -> s.display_name,
                '_default -> Messages("auto.order.form.value.brand.default"),
                'placeholder -> Messages("auto.order.form.placeholder.brand"), '_label -> Messages("auto.order.form.label.brand"),
                'class -> "form-control", '_class -> "form-group", '_label_class -> "col-sm-3 control-label", '_body_class -> "col-sm-9", '_showConstraints -> false)
        </div>
      </div>
      
      <hr/>
      <div class="row content step2">
        <div class="col-xs-12 col-sm-9 col-sm-offset-1">
      		@tags.myInputRadioGroup(autoOrder("movementType"),
            	for (s <- AutoOrder.MovementTypes.values) yield s.toString -> Option(Messages(keySimplified.toString.trim.replaceAll("VARIABLE", "movement.type.value")+"."+s.toString.toLowerCase.replace('_','.'))).filter(!_.contains(".")).getOrElse(s.toString),
                '_label -> Messages(keySimplified.toString.trim.replaceAll("VARIABLE", "movement.type")),	'_class -> "form-group", '_label_class -> "col-sm-3 control-label", '_body_class -> "col-sm-9", '_showConstraints -> false)

	  	</div>
	  </div>
	  
	  <div class="row content step3">
        <div class="col-xs-12 col-sm-9 col-sm-offset-1">
                @tags.myInputRadioGroup(autoOrder("movementComplexity"),
                                for (s <- AutoOrder.MovementComplexity.values) yield s.toString -> Option(Messages(keySimplified.toString.trim.replaceAll("VARIABLE", "movement.complexity.value")+"."+s.toString.toLowerCase.replace('_','.'))).filter(!_.contains(".")).getOrElse(s.toString),
                                '_label -> Messages(keySimplified.toString.trim.replaceAll("VARIABLE", "movement.complexity"))	, '_class -> "form-group", '_label_class -> "col-sm-3 control-label", '_body_class -> "col-sm-9", '_showConstraints -> false)
      
      	</div>
	  </div>
	  <hr/>
      <div class="row content action1">
                  <hr/>
		
                
                
                
                <div>
                    @Html(Messages("auto.order.form.mandatory.mark.explanation"))
                </div>
                <div class="form-group">
                  <div class="col-sm-offset-2 col-sm-9 text-center order-action">
                    <button type="submit" class="btn btn-primary">@Html(Messages("auto.order.action.submit"))</button>
                  </div>
                  <div class="col-sm-offset-2 col-sm-9 text-center order-separator">
                    @Html(Messages("auto.order.action.alternative.separator"))
                  </div>
                  <div class="col-sm-offset-2 col-sm-9 text-center">
                    <a class="btn btn-default" href="@routes.Application.callRequest()" title="@Messages("global.text.call.request.title")">@Html(Messages("auto.order.action.alternative"))&nbsp;<span class="glyphicon glyphicon-earphone"></span></a>
                  </div>
                </div>
            }
        </div>
      </div>
      }
      <div class="row disclaimer">
          <div class="col-sm-10 col-sm-offset-1">
            
            <div class="disclaimer-body">@Html(Messages("auto.order.text.disclaimer"))</div>
          </div>
      </div>
    </div><!-- /.container -->
}    
}
