@(message: String = "")
@import tags._

@defining("broking") { key =>

@layouts.main(key) {
    @layouts.fragments.navbar(20)

    <div class="container @key">
    
    @featurette(key, "1", "left", key+"/submariner.jpg", null, routes.Application.buyRequest().url)
    
    @featurette(key, "2", "right", key+"/compressor.jpg", routes.Application.contact().url+"?title="+Html(Messages("broking.action.contact.title")), null)
        
    @featurette(key, "3", "left", key+"/reverso.jpg", null, null)
          
    </div><!-- /.container -->
}
}