@(message: String = "", call: Form[Application.CallForm])
@import tags._
@import helper._
@implicitField = @{ FieldConstructor(myBootstrapFieldConstructor.f) }

@layouts.main("call.request") {
    @layouts.fragments.navbar(0)

    <div class="container pure-content call-back">
      @baseline("call.request.baseline")
      @if(flash.containsKey("success")) {
      <div class="row success">
          <div class="col-xs-12 col-sm-10 col-sm-offset-1">
            <div class="panel panel-success">
              <div class="panel-heading">@Html(Messages("call.request.success.panel.heading"))</div>
              <div class="panel-body">
                @Html(Messages("call.request.success.panel.body"))
              </div>
            </div>
        </div>
      </div>
      } else {
      <div class="row explanation">
          <div class="col-sm-10 col-sm-offset-1">
            <div class="explanation-body">@Html(Messages("call.request.text.explanation"))</div>
            <hr>
          </div>
      </div>
      <div class="row content">
        <div class="col-xs-12 col-sm-9 col-sm-offset-1">
		@helper.form(action = routes.Application.manageCallRequest(), 'class -> "form-horizontal", 'role -> "form") {

                @helper.inputText(call("number"),
                                'placeholder -> Messages("call.request.form.placeholder.title"), '_label -> Messages("call.request.form.label.title"),
                                'class -> "form-control", '_class -> "form-group", '_label_class -> "col-sm-3 control-label", '_body_class -> "col-sm-9", '_showConstraints -> false)

                @helper.textarea(call("reason"),
                                'placeholder -> Messages("call.request.form.placeholder.message"), '_label -> Messages("call.request.form.label.message"),
                                'class -> "form-control", 'rows -> "3", '_class -> "form-group", '_label_class -> "col-sm-3 control-label", '_body_class -> "col-sm-9", '_showConstraints -> false)

                <div>
                    @Html(Messages("call.request.form.mandatory.mark.explanation"))
                </div>
                <div class="form-group">
                  <div class="col-sm-offset-2 col-sm-9 text-center call-action">
                    <button type="submit" class="btn btn-primary">@Html(Messages("call.request.action.submit"))</button>
                  </div>
                </div>
            }
        </div>
      </div>
      }
     <hr>
    </div><!-- /.container -->
    
}
