@(message: String = "", supported_brands: List[Brand])
@import tags._
@layouts.home() {
    @layouts.fragments.navbar(1)
    
    <div id="header-title">
      <div class="container">
        <a class="navbar-brand" href="#">@Messages("global.text.brand.name")</a>
      </div>
    </div>

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <img src="@routes.Assets.at("images/home/black.jpg")" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <div class="caption-title"><h1>@Html(Messages("home.caption.1.head"))</h1></div>
              <div class="caption-body hidden-xs">@Html(Messages("home.caption.1.body"))</div>
              <div class="caption-body"><a class="btn btn-primary" href="@routes.Application.service()" role="button">@Messages("home.caption.1.call.to.action")</a></div>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="@routes.Assets.at("images/home/vintages.jpg")" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <div class="caption-title"><h1>@Html(Messages("home.caption.2.head"))</h1></div>
              <div class="caption-body hidden-xs">@Html(Messages("home.caption.2.body"))</div>
              <div class="caption-body"><a class="btn btn-primary" href="@routes.Application.watch_collection()" role="button">@Messages("home.caption.2.call.to.action")</a></div>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="@routes.Assets.at("images/home/tudor-red.jpg")" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <div class="caption-title"><h1>@Html(Messages("home.caption.3.head"))</h1></div>
              <div class="caption-body hidden-xs">@Html(Messages("home.caption.3.body"))</div>
              <div class="caption-body"><a class="btn btn-primary" href="@routes.Application.order()" role="button">@Messages("home.caption.3.call.to.action")</a></div>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->

    <div class="container marketing">
      <div class="row">
        <div class="col-xs-12">
            <div class="baseline"><h1>@Html(Messages("home.baseline"))</h1></div>
        </div>
      </div>
      <div class="row facebook">
        <div class="col-xs-12">
            <div class="fb-like" data-href="http://www.hometime.fr" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 promise">
          <img class="head" src="@routes.Assets.at("images/home/to-serve.png")" alt="@Messages("home.promise.1.alt")">
          <div class="promise-head">@Messages("home.promise.1.head")</div>
          <div class="promise-body">@Html(Messages("home.promise.1.body"))</div>
          <div class="promise-action"><a class="btn btn-default" href="@routes.Application.service()" role="button">@Messages("home.promise.1.call.to.action")</a></div>
        </div>
        <div class="col-md-4 promise">
          <img class="img-circle head" src="@routes.Assets.at("images/home/to-loan.jpg")" alt="@Messages("home.promise.2.alt")">
          <div class="promise-head">@Messages("home.promise.2.head")</div>
          <div class="promise-body">@Html(Messages("home.promise.2.body"))</div>
          <div class="promise-action"><a class="btn btn-default" href="@routes.Application.watch_collection()" role="button">@Messages("home.promise.2.call.to.action")</a></div>
        </div>
        <div class="col-md-4 promise">
          <img class="img-circle head" src="@routes.Assets.at("images/home/at-home.png")" alt="@Messages("home.promise.3.alt")">
          <div class="promise-head">@Messages("home.promise.3.head")</div>
          <div class="promise-body">@Html(Messages("home.promise.3.body"))</div>
          <div class="promise-action"><a class="btn btn-default" href="@routes.Application.offer()" role="button">@Messages("home.promise.3.call.to.action")</a></div>
        </div>
      </div>
      
      <hr>
    </div>
    
    <div class="container">
      <div class="row">
        <div class="col-xs-12"><h4>@Messages("home.text.supports.brands")</h4></div>
      </div>
      <div class="row">
        @for(brand <- supported_brands) {
        <div class="col-xs-3 col-sm-2 col-md-1"><img class="img-responsive" src="@guess_url(brand.logo_url)" alt="Logo @brand.display_name"></div>
        }
      </div>
      <div class="row">
        <div class="col-xs-6 text-right"><a class="btn btn-default more-action" href="@routes.Application.offer()" role="button">@Messages("home.tell.more.call.to.action")</a></div>
        <div class="col-xs-6 text-left"><a class="btn btn-primary order-action" href="@routes.Application.order()" role="button">@Messages("home.order.call.to.action")</a></div>
      </div>

      <hr>

    </div>
}
