@(message: String = "")

@layouts.home() {
    @layouts.fragments.navbar(1)
    
    <div id="header-title">
      <div class="container">
        <a class="navbar-brand" href="#">@Messages("global.text.brand.name")</a>
      </div>
    </div>

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <img src="http://static.squarespace.com/static/4fa14d3ce4b08a53fa26468e/500881b0e4b0634b00d359ed/524d7929e4b05018590cf983/1380809173703/Tudor7924USNavy-1.jpg?format=920w" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>@Messages("home.caption.1.head")</h1>
              <p>@Html(Messages("home.caption.1.body"))</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">@Messages("home.caption.1.call.to.action")</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="http://static.squarespace.com/static/4fa14d3ce4b08a53fa26468e/500881b0e4b0634b00d359ed/52a09897e4b0ee6849000f73/1386370208913/_MG_8245.jpg?format=920w" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>@Messages("home.caption.2.head")</h1>
              <p>@Html(Messages("home.caption.2.body"))</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">@Messages("home.caption.2.call.to.action")</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="http://static.squarespace.com/static/4fa14d3ce4b08a53fa26468e/500881b0e4b0634b00d359ed/529e0b54e4b0e7dbabb01a9b/1386296573101/ALS_C.jpg?format=920w" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>@Messages("home.caption.3.head")</h1>
              <p>@Html(Messages("home.caption.3.body"))</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">@Messages("home.caption.3.call.to.action")</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <img class="head" src="http://i48.photobucket.com/albums/f249/VINGOXE/Omega8500Mouvement2.gif" alt="@Messages("home.promise.1.alt")">
          <h2>@Messages("home.promise.1.head")</h2>
          <p>@Html(Messages("home.promise.1.body"))</p>
          <p><a class="btn btn-default" href="#" role="button">@Messages("home.promise.1.call.to.action")</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle head" src="http://professionalwatches.com/assets_c/2013/08/Rolex-Submariner-thumb-960xauto-19283.jpg" alt="@Messages("home.promise.2.alt")">
          <h2>@Messages("home.promise.2.head")</h2>
          <p>@Html(Messages("home.promise.2.body"))</p>
          <p><a class="btn btn-default" href="#" role="button">@Messages("home.promise.2.call.to.action")</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle head" src="http://www2.psd100.com/ppp/2013/11/0601/home-icon-1106102533.png" alt="@Messages("home.promise.3.alt")">
          <h2>@Messages("home.promise.3.head")</h2>
          <p>@Html(Messages("home.promise.3.body"))</p>
          <p><a class="btn btn-default" href="#" role="button">@Messages("home.promise.3.call.to.action")</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
      
      <hr>

    </div><!-- /.container -->
}
