@(message: String = "")
@import tags._
@layouts.main("more") {
    @layouts.fragments.navbar(50)
      
    <div class="container container-more">
        @baseline("more.baseline")
        <div class="row">
            <div id="offers" class="col-md-12" role="main">

              <div id="more" class="row">
                <div class="col-md-10 col-md-offset-1">
                  <div class="offer-box">
                    <div class="title"><blockquote><h2>@Html(Messages("more.head"))</h2></blockquote></div>
                    <div class="body">@Html(Messages("more.body", routes.Application.contact()))</div>
                    <div class="row images">
                        <div class="col-xs-1 visible-xs"></div>
                        <div class="col-xs-3 col-sm-2 col-sm-offset-3"><img class="img-responsive" src="@routes.Assets.at("images/accessories/nato.jpg")" alt="@Messages("more.accessories.nato.alt")"></div>
                        <div class="col-xs-3 col-sm-2"><img class="img-responsive" src="@routes.Assets.at("images/accessories/box.jpg")" alt="@Messages("more.accessories.box.alt")"></div>
                        <div class="col-xs-3 col-sm-2"><img class="img-responsive" src="@routes.Assets.at("images/accessories/remontoir.jpg")" alt="@Messages("more.accessories.winder.alt")"></div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
    </div><!-- /.container -->
}
