@(message: String = "")
@import tags._

@defining("news") { key =>

@layouts.main(key) {
    @layouts.fragments.navbar(80)
    
    <div class="container content @key-title">

        <div class="row">
          <div class="col-xs-12">
            <div class="page-baseline"><h1>@Html(Messages(key+".main.title"))</h1></div>
          </div>
		</div>
	</div>        
        
	<div class="container content @key">
    
    @featurette(key, "1", "left", null , null, null)
    
    @featurette(key, "3", "left", null, null, null)
    
    @featurette(key, "4", "left", null, null, null)
      
    </div><!-- /.container -->
}
}
