@(message: String = "")
@import tags._
@end_scripts_bottom = {
    <script>
        $('body').attr('data-spy', 'scroll' );
        $('body').attr('data-target', '.bs-sidebar' );
        $('body').attr('data-offset', '10' );
    </script>
}

@layouts.main("offer", end_scripts_bottom) {
    @layouts.fragments.navbar(50)
      
    <div class="container container-offer">
        @baseline("offer.baseline")
        <div class="row">
            <div class="col-md-3">
              <div class="bs-sidebar affix" role="complementary">
                <ul class="nav bs-sidenav">
                    <li><a href="#service">@Messages("offer.menu.text.service")</a></li>
                    <li><a href="#restore">@Messages("offer.menu.text.restore")</a></li>
                    <li><a href="#quartz">@Messages("offer.menu.text.quartz")</a></li>
                    <li><a href="#auth">@Messages("offer.menu.text.auth")</a></li>
                    <li><a href="#loan">@Messages("offer.menu.text.loan")</a></li>
                    <li><a href="#home">@Messages("offer.menu.text.home")</a></li>
                    <li><a href="#other">@Messages("offer.menu.text.other")</a></li>
                    <li>&nbsp;</li>
                    <li><a href="@routes.Application.more()">@Messages("offer.menu.text.more")</a></li>
                    <li><a href="@routes.Application.prices()">@Messages("offer.menu.text.prices")</a></li>
                </ul>
              </div>
            </div>
            <div id="offers" class="col-md-9" role="main">
              <div id="service" class="row">
                <div class="col-md-10 col-md-offset-1">
                  <div class="offer-box">
                    <div class="title"><blockquote><h2>@Html(Messages("offer.service.head"))</h2></blockquote></div>
                    <div class="body">@Html(Messages("offer.service.body"))</div>
                    <div class="row action">
                      <div class="col-xs-6 text-right"><a class="btn btn-default more-action" href="@routes.Application.service()" role="button">@Messages("offer.service.call.to.action.more")</a></div>
                      <div class="col-xs-6 text-left"><a class="btn btn-primary order-action" href="@routes.Application.order(null)" role="button">@Messages("offer.service.call.to.action.order")</a></div>
                    </div>
                  </div>
                </div>
              </div>
        
              <div id="restore" class="row">
                <div class="col-md-10 col-md-offset-1">
                  <div class="offer-box">
                    <div class="title"><blockquote><h2>@Html(Messages("offer.restore.head"))</h2></blockquote></div>
                    <div class="body">@Html(Messages("offer.restore.body"))</div>
                    <div class="row action">
                      <div class="col-xs-12 text-center"><a class="btn btn-primary order-action" href="@routes.Application.order(null)?type=@OrderRequest.OrderTypes.REPAIR" role="button">@Messages("offer.restore.call.to.action.order")</a></div>
                    </div>
                  </div>
                </div>
              </div>
              
              <div id="quartz" class="row">
                <div class="col-md-10 col-md-offset-1">
                  <div class="offer-box">
                    <div class="title"><blockquote><h2>@Html(Messages("offer.quartz.head"))</h2></blockquote></div>
                    <div class="body">@Html(Messages("offer.quartz.body"))</div>
                    <div class="row action">
                      <div class="col-xs-12 text-center"><a class="btn btn-primary order-action" href="@routes.Application.quartz(null)" role="button">@Messages("offer.quartz.call.to.action.order")</a></div>
                    </div>
                  </div>
                </div>
              </div>

              <div id="auth" class="row">
                <div class="col-md-10 col-md-offset-1">
                  <div class="offer-box">
                    <div class="title"><blockquote><h2>@Html(Messages("offer.auth.head"))</h2></blockquote></div>
                    <div class="body">@Html(Messages("offer.auth.body"))</div>
                    <div class="row action">
                      <div class="col-xs-6 text-right"><a class="btn btn-default more-action" href="@routes.Application.contact()" role="button">@Messages("offer.auth.call.to.action.contact")</a></div>
                      <div class="col-xs-6 text-left"><a class="btn btn-primary order-action" href="@routes.Application.callRequest()" role="button">@Messages("offer.auth.call.to.action.call.request")&nbsp;<span class="glyphicon glyphicon-earphone"></span></a></div>
                    </div>
                  </div>
                </div>
              </div>
              
              <div id="loan" class="row">
                <div class="col-md-10 col-md-offset-1">
                  <div class="offer-box">
                    <div class="title"><blockquote><h2>@Html(Messages("offer.loan.head"))</h2></blockquote></div>
                    <div class="body">@Html(Messages("offer.loan.body"))</div>
                    <div class="row action">
                      <div class="col-xs-6 text-right"><a class="btn btn-default more-action" href="@routes.Application.watch_collection()" role="button">@Messages("offer.loan.call.to.action.collection")</a></div>
                      <div class="col-xs-6 text-left"><a class="btn btn-primary order-action" href="@routes.Application.order(null)" role="button">@Messages("offer.service.call.to.action.order")</a></div>
                    </div>
                  </div>
                </div>
              </div>

              <div id="home" class="row">
                <div class="col-md-10 col-md-offset-1">
                  <div class="offer-box">
                    <div class="title"><blockquote><h2>@Html(Messages("offer.home.head"))</h2></blockquote></div>
                    <div class="body">@Html(Messages("offer.home.body"))</div>
                    <div class="row action">
                      <div class="col-xs-6 text-right"><a class="btn btn-default more-action" href="@routes.Application.contact()" role="button">@Messages("offer.home.call.to.action.contact")</a></div>
                      <div class="col-xs-6 text-left"><a class="btn btn-primary order-action" href="@routes.Application.callRequest()" role="button">@Messages("offer.home.call.to.action.call.request")&nbsp;<span class="glyphicon glyphicon-earphone"></span></a></div>
                    </div>
                  </div>
                </div>
              </div>
              
              <div id="other" class="row">
                <div class="col-md-10 col-md-offset-1">
                  <div class="offer-box">
                    <div class="title"><blockquote><h2>@Html(Messages("offer.other.head"))</h2></blockquote></div>
                    <div class="body">@Html(Messages("offer.other.body"))</div>
                    <div class="row action">
                      <div class="col-xs-6 text-right"><a class="btn btn-primary more-action" href="@routes.Application.broking()" role="button">@Messages("offer.other.call.to.action.broking")</a></div>
                      <div class="col-xs-6 text-left"><a class="btn btn-primary order-action" href="@routes.Application.sell()" role="button">@Messages("offer.other.call.to.action.sell")</a></div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
    </div><!-- /.container -->
}
