@(message: String = "", order: Form[Application.OrderForm], supported_brands: List[Brand], available_watches: List[models.Watch], is_it_first_page: Boolean)
@import tags._
@import helper._
@implicitField = @{ FieldConstructor(myBootstrapFieldConstructor.f) }
@in_head = {
    @if(flash.containsKey("success")) {
        @fragments.send_order_event_google_analytics()
    }
}
@end_scripts = {}

@key_ = {
	@if(order("brand").value!=null && !"".equals(order("brand").value)) {order.@Brand.findById(Long.valueOf(order("brand").value)).internal_name.toLowerCase} else {order.undefined}
}

@title = {
	@Messages("order.generic.html.title", Messages(key_.toString.trim+".brand.name"))
}

@description = {
	@Messages("order.generic.html.description", Messages(key_.toString.trim+".brand.name"), Messages(key_.toString.trim+".brand.models"))
}

@keywords = {
	@Messages("order.generic.html.keywords", Messages(key_.toString.trim+".brand.name"), Messages(key_.toString.trim+".brand.models"))
}

@defining(key_.toString.trim) { key =>


@layouts.main_with_options(title.toString.trim, description.toString.trim, keywords.toString.trim, end_scripts, in_head) {
    @layouts.fragments.navbar(100)
    
    <div class="container pure-content-call-block-ahead order">
	  <div class="row visible-xs">
        <div class="col-xs-12">
        	@layouts.fragments.top_banner(false)
        </div>
      </div>
      @baseline("order.generic.baseline", true)
      @if(flash.containsKey("success")) {
      <div class="row success">
          <div class="col-xs-12 col-sm-10 col-sm-offset-1">
            <div class="panel panel-success">
              <div class="panel-heading">@Html(Messages("order.success.panel.heading"))</div>
              <div class="panel-body">
                @Html(Messages("order.success.panel.body"))
              </div>
            </div>
        </div>
      </div>
      } else {
      <div class="row explanation">
          <div class="col-sm-10 col-sm-offset-1">
            @if(is_it_first_page) {
            <div class="head"><img class="img-responsive" src="/assets/images/order/movement.jpg" alt="@Messages("order.movement.alt")"></div>
            <div class="quick-sumup explanation-body">@Html(Messages("order.text.pre.explanation", routes.Application.index(), routes.Application.about()))</div>
            }
            <div class="explanation-body">@Html(Messages("order.generic.text.explanation", Messages(key+".brand.name")))</div>
            <hr>
          </div>
      </div>
      <div class="row content">
        <div class="col-xs-12 col-sm-9 col-sm-offset-1">
		@helper.form(action = routes.Application.manageOrder(), 'class -> "form-horizontal", 'role -> "form") {
                @tags.myInputRadioGroup(order("orderType"),
                              Seq( OrderRequest.OrderTypes.SETTINGUP.toString -> abbr(Messages("order.form.value.type.of.service.setting.up.help"), Messages("order.form.value.type.of.service.setting.up")).toString,
                                   OrderRequest.OrderTypes.INTERMEDIATE.toString -> Messages("order.form.value.type.of.service.intermediate"),
                                   OrderRequest.OrderTypes.SERVICE.toString -> Messages("order.form.value.type.of.service.service"),
                                   OrderRequest.OrderTypes.REPAIR.toString -> Messages("order.form.value.type.of.service.repair"),
                                   OrderRequest.OrderTypes.WATER.toString -> Messages("order.form.value.type.of.service.water"),
                                   OrderRequest.OrderTypes.CUSTOMIZATION.toString -> Messages("order.form.value.type.of.service.customization")
                                   ), '_label -> Html(Messages("order.form.label.type.of.service",
                                   routes.Application.service_test())),
                              '_class -> "form-group", '_label_class -> "col-sm-3 control-label", '_body_class -> "col-sm-9", '_showConstraints -> false)

                <div class="form-group">
                  <label for="catYourWatch" class="col-xs-3 control-label">@Messages("order.form.label.cat.your.watch")</label>
                  <div class="col-xs-9">
                    <div class="row inner-row">
                      @helper.select(order("brand"),
                                     for (s <- supported_brands) yield s.id.toString -> s.display_name,
                                     '_default -> Messages("order.form.value.brand.default"),
                                     'placeholder -> Messages("order.form.placeholder.brand"), '_label -> Messages("order.form.label.brand"),
                                     'class -> "form-control", '_class -> "form-group", '_label_class -> "col-sm-3 control-label", '_body_class -> "col-sm-9", '_showConstraints -> false)
                      
                      @helper.textarea(order("model"),
                                       'placeholder -> Messages("order.form.placeholder.model"), '_label -> Messages("order.form.label.model"),
                                       'class -> "form-control", 'rows -> "3", '_class -> "form-group", '_label_class -> "col-sm-3 control-label", '_body_class -> "col-sm-9", '_showConstraints -> false)

                      @tags.myInputRadioGroup(order("method"),
                                              Seq( OrderRequest.MethodTypes.BRAND.toString -> Messages("order.form.value.method.brand"), OrderRequest.MethodTypes.OUTLET.toString -> Messages("order.form.value.method.outlet"), OrderRequest.MethodTypes.BOTH.toString -> Messages("order.form.value.method.both")), '_label -> abbr(Messages("order.form.help.method"), Messages("order.form.label.method")),
                                              '_class -> "form-group", '_label_class -> "col-sm-3 control-label", '_body_class -> "col-sm-9", '_showConstraints -> false)

                    </div>
                  </div>
                </div>
                
                @helper.select(order("watchChosen"),
                                     for (w <- available_watches) yield w.id.toString -> (w.brand ++ " - " ++ w.short_name),
                                     '_default -> Messages("order.form.value.choice.default"),
                                     '_label -> Html(Messages("order.form.label.choice")),
                                     'class -> "form-control", '_class -> "form-group", '_label_class -> "col-sm-3 control-label", '_body_class -> "col-sm-9", '_showConstraints -> false)

                <div class="form-group">
                  <label for="catYou" class="col-xs-3 control-label">@Messages("order.form.cat.label.you")</label>
                  <div class="col-xs-9">
                    <div class="row inner-row">
                      @helper.inputText(order("nameOfCustomer"),
                                        'placeholder -> Messages("order.form.placeholder.your.name"), '_label -> Messages("order.form.label.your.name"),
                                        'class -> "form-control", '_class -> "form-group", '_label_class -> "col-sm-3 control-label", '_body_class -> "col-sm-9", '_showConstraints -> false)
                      
                      @helper.inputText(order("email"),
                                        'placeholder -> Messages("order.form.placeholder.your.email"), '_label -> Messages("order.form.label.your.email"),
                                        'class -> "form-control", '_class -> "form-group", '_label_class -> "col-sm-3 control-label", '_body_class -> "col-sm-9", '_showConstraints -> false)

                      @helper.inputText(order("phoneNumber"),
                                        'placeholder -> Messages("order.form.placeholder.phone.number"), '_label -> Messages("order.form.label.phone.number"),
                                        'class -> "form-control", '_class -> "form-group", '_label_class -> "col-sm-3 control-label", '_body_class -> "col-sm-9", '_showConstraints -> false)                      
                   
                      @helper.inputText(order("city"),
                                        'placeholder -> Messages("order.form.placeholder.your.city"), '_label -> Messages("order.form.label.your.city"),
                                        'class -> "form-control", '_class -> "form-group", '_label_class -> "col-sm-3 control-label", '_body_class -> "col-sm-9", '_showConstraints -> false)
                    </div>
                  </div>
                </div>
                
                @helper.textarea(order("remark"),
                                       'placeholder -> Messages("order.form.placeholder.remark"), '_label -> Messages("order.form.label.remark"),
                                       'class -> "form-control", 'rows -> "3", '_class -> "form-group", '_label_class -> "col-sm-3 control-label", '_body_class -> "col-sm-9", '_showConstraints -> false)
                <div>
                    @Html(Messages("order.form.mandatory.mark.explanation"))
                </div>
                <div class="form-group">
                  <div class="col-sm-offset-2 col-sm-9 text-center order-action">
                    <button type="submit" class="btn btn-primary">@Html(Messages("order.action.submit"))</button>
                  </div>
                  <div class="col-sm-offset-2 col-sm-9 text-center order-separator">
                    @Html(Messages("order.action.alternative.separator"))
                  </div>
                  <div class="col-sm-offset-2 col-sm-9 text-center">
                    <a class="btn btn-default" href="@routes.Application.callRequest()" title="@Messages("global.text.call.request.title")">@Html(Messages("order.action.alternative"))&nbsp;<span class="glyphicon glyphicon-earphone"></span></a>
                  </div>
                </div>
            }
        </div>
      </div>
      }
      <div class="row disclaimer">
          <div class="col-sm-10 col-sm-offset-1">
            
            <div class="disclaimer-body">@Html(Messages("order.text.disclaimer"))</div>
          </div>
      </div>
    </div><!-- /.container -->
}    
}
