@(message: String = "", order: Form[Application.OrderForm], supported_brands: List[Brand], available_watches: List[Watch])
@import tags._
@import helper._
@implicitField = @{ FieldConstructor(myBootstrapFieldConstructor.f) }
@in_head = {
        @if(flash.containsKey("success")) {
        <!-- Facebook Code for Demande de devis Conversion Page -->
        <script type="text/javascript">
        var fb_param = {};
        fb_param.pixel_id = '6014879251989';
        fb_param.value = '0.00';
        fb_param.currency = 'EUR';
        (function(){
          var fpw = document.createElement('script');
          fpw.async = true;
          fpw.src = '//connect.facebook.net/en_US/fp.js';
          var ref = document.getElementsByTagName('script')[0];
          ref.parentNode.insertBefore(fpw, ref);
        })();
        </script>
        <noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/offsite_event.php?id=6014879251989&amp;value=0&amp;currency=EUR" /></noscript>
        
        <!-- Google Code for Demande de devis Conversion Page -->
        <script type="text/javascript">
        /* <![CDATA[ */
        var google_conversion_id = 975392781;
        var google_conversion_language = "en";
        var google_conversion_format = "3";
        var google_conversion_color = "ffffff";
        var google_conversion_label = "RccaCKuTjxEQjaCN0QM";
        var google_conversion_value = 0;
        var google_remarketing_only = false;
        /* ]]> */
        </script>
        <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
        </script>
        <noscript>
        <div style="display:inline;">
        <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/975392781/?value=0&amp;label=RccaCKuTjxEQjaCN0QM&amp;guid=ON&amp;script=0"/>
        </div>
        </noscript>
        }
}
@end_scripts = {}

@defining(if(order("brand").value!=null && !"".equals(order("brand").value)) {"order."+Brand.findById(Long.valueOf(order("brand").value)).internal_name.toLowerCase} else {"order"}) { key =>

@layouts.main(key, end_scripts, in_head) {
    @layouts.fragments.navbar(100)

    <div class="container pure-content order">
      @baseline(key+".baseline")
      @if(flash.containsKey("success")) {
      <div class="row success">
          <div class="col-xs-12 col-sm-10 col-sm-offset-1">
            <div class="panel panel-success">
              <div class="panel-heading">@Html(Messages("order.success.panel.heading"))</div>
              <div class="panel-body">
                @Html(Messages("order.success.panel.body"))
              </div>
            </div>
        </div>
      </div>
      } else {
      <div class="row explanation">
          <div class="col-sm-10 col-sm-offset-1">
            <div class="explanation-body">@Html(Messages(key+".text.explanation"))</div>
            <hr>
          </div>
      </div>
      <div class="row content">
        <div class="col-xs-12 col-sm-9 col-sm-offset-1">
		@helper.form(action = routes.Application.manageOrder(), 'class -> "form-horizontal", 'role -> "form") {
                @tags.myInputRadioGroup(order("orderType"),
                              Seq( OrderRequest.OrderTypes.SETTINGUP.toString -> abbr(Messages("order.form.value.type.of.service.setting.up.help"), Messages("order.form.value.type.of.service.setting.up")).toString, OrderRequest.OrderTypes.INTERMEDIATE.toString -> Messages("order.form.value.type.of.service.intermediate"), OrderRequest.OrderTypes.SERVICE.toString -> Messages("order.form.value.type.of.service.service"), OrderRequest.OrderTypes.REPAIR.toString -> Messages("order.form.value.type.of.service.repair")), '_label -> Html(Messages("order.form.label.type.of.service", routes.Application.service_test())),
                              '_class -> "form-group", '_label_class -> "col-sm-3 control-label", '_body_class -> "col-sm-9", '_showConstraints -> false)

                <div class="form-group">
                  <label for="catYourWatch" class="col-xs-3 control-label">@Messages("order.form.label.cat.your.watch")</label>
                  <div class="col-xs-9">
                    <div class="row inner-row">
                      @helper.select(order("brand"),
                                     for (s <- supported_brands) yield s.id.toString -> s.display_name,
                                     '_default -> Messages("order.form.value.brand.default"),
                                     'placeholder -> Messages("order.form.placeholder.brand"), '_label -> Messages("order.form.label.brand"),
                                     'class -> "form-control", '_class -> "form-group", '_label_class -> "col-sm-3 control-label", '_body_class -> "col-sm-9", '_showConstraints -> false)
                      
                      @helper.textarea(order("model"),
                                       'placeholder -> Messages("order.form.placeholder.model"), '_label -> Messages("order.form.label.model"),
                                       'class -> "form-control", 'rows -> "3", '_class -> "form-group", '_label_class -> "col-sm-3 control-label", '_body_class -> "col-sm-9", '_showConstraints -> false)

                      @tags.myInputRadioGroup(order("method"),
                                              Seq( OrderRequest.MethodTypes.BRAND.toString -> Messages("order.form.value.method.brand"), OrderRequest.MethodTypes.OUTLET.toString -> Messages("order.form.value.method.outlet"), OrderRequest.MethodTypes.BOTH.toString -> Messages("order.form.value.method.both")), '_label -> abbr(Messages("order.form.help.method"), Messages("order.form.label.method")),
                                              '_class -> "form-group", '_label_class -> "col-sm-3 control-label", '_body_class -> "col-sm-9", '_showConstraints -> false)

                    </div>
                  </div>
                </div>
                
                @helper.select(order("watchChosen"),
                                     for (w <- available_watches) yield w.id.toString -> (w.brand ++ " - " ++ w.short_name),
                                     '_default -> Messages("order.form.value.choice.default"),
                                     '_label -> Messages("order.form.label.choice"),
                                     'class -> "form-control", '_class -> "form-group", '_label_class -> "col-sm-3 control-label", '_body_class -> "col-sm-9", '_showConstraints -> false)

                <div class="form-group">
                  <label for="catYou" class="col-xs-3 control-label">@Messages("order.form.cat.label.you")</label>
                  <div class="col-xs-9">
                    <div class="row inner-row">
                      @helper.inputText(order("nameOfCustomer"),
                                        'placeholder -> Messages("order.form.placeholder.your.name"), '_label -> Messages("order.form.label.your.name"),
                                        'class -> "form-control", '_class -> "form-group", '_label_class -> "col-sm-3 control-label", '_body_class -> "col-sm-9", '_showConstraints -> false)
                      
                      @helper.inputText(order("email"),
                                        'placeholder -> Messages("order.form.placeholder.your.email"), '_label -> Messages("order.form.label.your.email"),
                                        'class -> "form-control", '_class -> "form-group", '_label_class -> "col-sm-3 control-label", '_body_class -> "col-sm-9", '_showConstraints -> false)

                      @helper.inputText(order("phoneNumber"),
                                        'placeholder -> Messages("order.form.placeholder.phone.number"), '_label -> Messages("order.form.label.phone.number"),
                                        'class -> "form-control", '_class -> "form-group", '_label_class -> "col-sm-3 control-label", '_body_class -> "col-sm-9", '_showConstraints -> false)                      
                   
                      @helper.inputText(order("city"),
                                        'placeholder -> Messages("order.form.placeholder.your.city"), '_label -> Messages("order.form.label.your.city"),
                                        'class -> "form-control", '_class -> "form-group", '_label_class -> "col-sm-3 control-label", '_body_class -> "col-sm-9", '_showConstraints -> false)
                    </div>
                  </div>
                </div>
                
                @helper.textarea(order("remark"),
                                       'placeholder -> Messages("order.form.placeholder.remark"), '_label -> Messages("order.form.label.remark"),
                                       'class -> "form-control", 'rows -> "3", '_class -> "form-group", '_label_class -> "col-sm-3 control-label", '_body_class -> "col-sm-9", '_showConstraints -> false)
                <div>
                    @Html(Messages("order.form.mandatory.mark.explanation"))
                </div>
                <div class="form-group">
                  <div class="col-sm-offset-2 col-sm-9 text-center">
                    <button type="submit" class="btn btn-primary">@Html(Messages("order.action.submit"))</button>
                  </div>
                </div>
            }
        </div>
      </div>
      }
     <hr>
    </div><!-- /.container -->
}    
}
