@(message: String = "")
@import tags._
@layouts.main("prices") {
    @layouts.fragments.navbar(50)
      
    <div class="container container-prices">
        @baseline("prices.baseline")
        <div class="row">
            <div id="offers" class="col-md-12" role="main">
              <div id="prices" class="row">
                <div class="col-md-10 col-md-offset-1">
                  <div class="offer-box">
                    <div class="title"><blockquote><h2>@Html(Messages("prices.head"))</h2></blockquote></div>
                    <div class="body">@Html(Messages("prices.body"))</div>
                    <div class="row price-table">
                      <table class="table table-striped table-hover table-bordered">
                        <thead>
                          <tr>
                            <th>@Html(Messages("prices.table.head.service"))</th>
                            <th>@Html(Messages("prices.table.head.details"))</th>
                            <th>@Html(Messages("prices.table.head.tariff"))</th>
                            <th>@Html(Messages("prices.table.head.remarks"))</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td colspan="4">@Html(Messages("prices.table.body.service"))</td>
                          </tr>
                          <tr>
                            <td></td>
                            <td>@Html(Messages("prices.table.body.watch.of.category", "1"))*</td>
                            <td>@Html(Messages("prices.table.body.service.prices", "200€", "400€"))</td>
                            <td rowspan="3" width="30%">@Html(Messages("prices.table.body.service.details", routes.Application.order(null)))</td>
                          </tr>
                          <tr>
                            <td></td>
                            <td>@Html(Messages("prices.table.body.watch.of.category", "2"))**</td>
                            <td>@Html(Messages("prices.table.body.service.prices", "300€", "600€"))</td>
                          </tr>
                          <tr>
                            <td></td>
                            <td>@Html(Messages("prices.table.body.watch.of.category", "3"))***</td>
                            <td>@Html(Messages("prices.table.body.service.prices", "300€", "700€"))</td>
                          </tr>
                          <tr>
                            <td colspan="4">@Html(Messages("prices.table.body.repair"))</td>
                          </tr>
                          <tr>
                            <td></td>
                            <td colspan="3">@Html(Messages("prices.table.body.repair.prices"))</td>
                          </tr>
                          <tr>
                            <td colspan="4">@Html(Messages("prices.table.body.soft.service"))</td>
                          </tr>
                          <tr>
                            <td></td>
                            <td colspan="3">@Html(Messages("prices.table.body.soft.service.prices", "50€", "200€"))</td>
                          </tr>
                          <tr>
                            <td colspan="4">@Html(Messages("prices.table.body.loan"))</td>
                          </tr>
                          <tr>
                            <td></td>
                            <td colspan="3">@Html(Messages("prices.table.body.loan.prices", "50€", "200€"))</td>
                          </tr>
                          <tr>
                            <td colspan="4">@Html(Messages("prices.table.body.other"))</td>
                          </tr>
                          <tr>
                            <td></td>
                            <td colspan="3">@Html(Messages("prices.table.body.other.prices", routes.Application.contact()))</td>
                          </tr>
                          
                          <tr>
                            <td colspan="4">@Html(Messages("prices.table.body.moving"))</td>
                          </tr>
                          <tr>
                            <td></td>
                            <td colspan="3">@Html(Messages("prices.table.body.moving.prices"))</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="footnote">* @Html(Messages("prices.table.body.watch.of.category", "1")) : Baume & Mercier, Bell & Ross, Frédérique Constant, Hamilton, Longines, Tissot, Rado</div>
                    <div class="footnote">** @Html(Messages("prices.table.body.watch.of.category", "2")) : Breitling, Chopard, Chanel, Omega, Tag Heuer, Tudor, Zenith</div>
                    <div class="footnote">*** @Html(Messages("prices.table.body.watch.of.category", "3")) : Hublot, IWC, Jeager LeCoultre, Panerai, Rolex</div>
                    <div class="footnote">@Html(Messages("prices.table.body.footnote.4"))</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr>
    </div><!-- /.container -->
}
