@(message: String = "")
@import tags._
@layouts.main("prices") {
    @layouts.fragments.navbar(50)
      
    <div class="container container-prices">
        @baseline("prices.baseline")
        <div class="row">
            <div id="offers" class="col-md-12" role="main">
              <div id="prices" class="row">
                <div class="col-md-10 col-md-offset-1">
                	<div class="offer-box">
	                    <div class="title"><blockquote><h2>@Html(Messages("prices.head"))</h2></blockquote></div>
	                    <div class="body">@Html(Messages("prices.body"))</div>
	                  	@fragments.mechanical_prices_table()
                  	</div>
                  	<div class="offer-box">
	                    <div class="title"><blockquote><h2>@Html(Messages("prices.quartz.head"))</h2></blockquote></div>
	                    <div class="body">@Html(Messages("prices.quartz.body"))</div>
	                    @fragments.quartz_prices_table()
	                    @fragments.all_watches_footnotes_for_prices_table()
	                    @fragments.mechanical_watches_only_footnotes_for_prices_table()
                  	</div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div><!-- /.container -->
}
