@(message: String = "", brand: Brand, is_it_first_page: Boolean)
@import tags._
@import helper._
@implicitField = @{ FieldConstructor(myBootstrapFieldConstructor.f) }
@end_scripts = {}
@in_head = {

}

@key_ = {
	@if(brand!=null && !"".equals(brand)) {quartz.@brand.internal_name.toString.toLowerCase} else {quartz.undefined}
}

@title = {
	@Messages("order.generic.html.title", Messages(key_.toString.trim+".brand.name"))
}

@description = {
	@Messages("order.generic.html.description", Messages(key_.toString.trim+".brand.name"), Messages(key_.toString.trim+".brand.models"))
}

@keywords = {
	@Messages("order.generic.html.keywords", Messages(key_.toString.trim+".brand.name"), Messages(key_.toString.trim+".brand.models"))
}

@defining(key_.toString.trim) { key =>


@layouts.main_with_options(title.toString.trim, description.toString.trim, keywords.toString.trim, end_scripts, in_head) {
    @layouts.fragments.navbar(100)
    
    <div class="container pure-content-call-block-ahead order">
	  <div class="row visible-xs">
        <div class="col-xs-12">
        	@layouts.fragments.top_banner(false)
        </div>
      </div>
      @baseline("quartz.generic.baseline", true)
      <div class="row explanation">
          <div class="col-sm-10 col-sm-offset-1">
            @if(is_it_first_page) {
            <div class="head"><img class="img-responsive" src="/assets/images/order/movement.jpg" alt="@Messages("order.movement.alt")"></div>
            <div class="quick-sumup explanation-body">@Html(Messages("quartz.text.pre.explanation", routes.Application.index(), routes.Application.about()))</div>
            }
            <div class="explanation-body">@Html(Messages("quartz.generic.text.explanation", Messages(key+".brand.name")))</div>
            <hr>
          </div>
      </div>
      <div class="row content">
        <div class="col-xs-12 col-md-10 col-md-offset-1">        
        	<div class="offer-box">
        		@fragments.quartz_prices_table()
        	</div>
        </div>
      </div>
      <hr />
      <div class="row content">
      	<div class="col-xs-6 col-md-2 col-md-offset-1">
      		Nous vous recevons blah blah blah
			<a class="btn btn-default" href="@routes.Application.callRequest()" title="@Messages("global.text.call.request.title")">@Html(Messages("order.action.alternative"))&nbsp;<span class="glyphicon glyphicon-earphone"></span></a>		</div>
        <div class="col-xs-6 col-md-6 col-md-offset-1">
	        <iframe
			  width="100%"
			  height="400"
			  frameborder="0" style="border:0"
			  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBILpKrEOIAOcjVBa9-ownlM_oiEQqBTyc
			    &q=3+rue+des+pyramides,Paris" allowfullscreen>
			</iframe>
		</div>
	  </div>
      <hr />
      <div class="row disclaimer">
          <div class="col-md-10 col-md-offset-1">
                    		@fragments.all_watches_footnotes_for_prices_table()
            <div class="disclaimer-body">@Html(Messages("quartz.text.disclaimer"))</div>
          </div>
      </div>
    </div><!-- /.container -->
}    
}
