@(message: String = "", brand: Brand, is_it_first_page: Boolean)
@import tags._
@import helper._
@implicitField = @{ FieldConstructor(myBootstrapFieldConstructor.f) }
@end_scripts = {
<script>
$(document).ready(function(){
    function activeCategory(category) {
			$( '.offer-box-only-selected' ).removeClass('hidden');
     		$( '.offer-box' ).addClass('hidden');
     		$( '#category-1' ).addClass('hidden');
     		$( '#category-2' ).addClass('hidden');
     		$( '#category-3' ).addClass('hidden');
     		$( '#category-'+category ).removeClass('hidden');
     		$( '.offer-box-container' ).removeClass('hidden');
    }
    
    function resetDisplayCategory() {
     		$( '.offer-box-only-selected' ).addClass('hidden');
     		$( '.offer-box' ).removeClass('hidden');
     		$( '#category-1' ).addClass('hidden');
     		$( '#category-2' ).addClass('hidden');
     		$( '#category-3' ).addClass('hidden');
     		$( '.offer-box-container' ).addClass('hidden');
    }

		if ($("#brandChosen option:selected").val() != "0") {
        	activeCategory($("#brandChosen option:selected").val());
        	$( '#brand-dname' ).text($(this).find('option:selected').text());
    	}
    	
         $('#brandChosen').change(function() {
			resetDisplayCategory()
     		$( '#brand-dname' ).text($(this).find('option:selected').text());
         	if ($(this).find('option:selected').val() != "0") {
         		activeCategory($(this).find('option:selected').val());
         	}
 		 });
         
    })
</script>
}
@in_head = {
<!-- Event snippet for Changement de pile - vers le site conversion page -->
<script>
  gtag('event', 'conversion', {'send_to': 'AW-975392781/3Gj5CNWK-3oQjaCN0QM'});
</script>
}

@key_ = {
	@if(brand!=null && !"".equals(brand)) {quartz.@brand.internal_name.toString.toLowerCase} else {quartz.undefined}
}

@title = {
	@Messages("order.generic.html.title", Messages(key_.toString.trim+".brand.name"))
}

@description = {
	@Messages("order.generic.html.description", Messages(key_.toString.trim+".brand.name"), Messages(key_.toString.trim+".brand.models"))
}

@keywords = {
	@Messages("order.generic.html.keywords", Messages(key_.toString.trim+".brand.name"), Messages(key_.toString.trim+".brand.models"))
}

@defining(key_.toString.trim) { key =>


@layouts.main_with_options(title.toString.trim, description.toString.trim, keywords.toString.trim, end_scripts, in_head) {
    @layouts.fragments.navbar(100)
    
    <div class="container pure-content-call-block-ahead order">
	  <div class="row visible-xs">
        <div class="col-xs-12">
        	@layouts.fragments.top_banner(false)
        </div>
      </div>
      @baseline("quartz.generic.baseline", true)
      <div class="row explanation">
          <div class="col-sm-10 col-sm-offset-1">
            @if(is_it_first_page) {
            <div class="head"><img class="img-responsive" src="/assets/images/order/movement.jpg" alt="@Messages("order.movement.alt")"></div>
            <div class="quick-sumup explanation-body">@Html(Messages("quartz.text.pre.explanation", routes.Application.index(), routes.Application.about()))</div>
            }
            <div class="explanation-body">@Html(Messages("quartz.generic.text.explanation", Messages(key+".brand.name")))</div>
            <hr>
          </div>
      </div>
      <div class="row content">
        <div class="col-xs-12 col-md-10 col-md-offset-1">
        	<select id="brandChosen" name="brandChosen" class="form-control">
                <option class="blank" value="0">Sélectionnez la marque de votre montre pour trouver le tarif correspondant</option>
				@for(current_brand <- models.Brand.findAllByAscName) {
					@if(current_brand.getQuartzCategory!=0) {<option value="@current_brand.getQuartzCategory" @if(current_brand.equals(brand)) {selected}>@current_brand.display_name</option>}
				}
        	</select>
        	<br /><br />
        	<div class="offer-box-container hidden">
        	<div class="offer-box-only-selected hidden">
        		Pour les montres <span id="brand-dname" class="band-name">de cette marque</span>, le tarif de changement de pile sont les suivants :
        		<br /><br />
        	</div>
        	<div class="offer-box-only-selected hidden text-center" id="category-1">
        		@Html(Messages("prices.table.body.quartz.service.prices", "35€", "89€"))
        	</div>
        	<div class="offer-box-only-selected hidden text-center" id="category-2">
        		@Html(Messages("prices.table.body.quartz.service.prices", "25€", "69€"))
        	</div>
        	<div class="offer-box-only-selected hidden text-center" id="category-3">
        		@Html(Messages("prices.table.body.quartz.service.prices", "20€", "49€"))
        	</div>
        	<div class="offer-box-only-selected hidden" id="category-3">
        		<br />
        		@Html(Messages("prices.table.body.quartz.service.details", routes.Application.order(null)))
        	</div>
        	</div>
        	<div class="offer-box">
        		@fragments.quartz_prices_table()
        	</div>
        </div>
      </div>
      <hr />
      <div class="row content">
      	<div class="col-xs-6 col-md-3 col-md-offset-1 text-justify">
      		<b>Nous localiser :</b>
      		Nous vous recevons dans nos locaux situés 3 rue des Pyramides dans le 1er arrondissement pour des changements de pile "minutes" et pour tout devis d'entretien plus poussés.
      		<br /><br />
      		<br />
      		Appelez-nous pour prendre rendez-vous ou pour plus de précisions&nbsp;: <a href="tel:@Messages("global.href.phone.number")" rel="nofollow"><span>@Html(Messages("global.text.phone.number"))</span></a> 
      		<br /><br />
      		<br />
      		Vous préférez que nous vous contactions par téléphone&nbsp;?
      		<br />
      		<br />
      		<div class="text-center">
			<a class="btn btn-default" href="@routes.Application.callRequest()" title="@Messages("global.text.call.request.title")">@Html(Messages("order.action.alternative"))&nbsp;<span class="glyphicon glyphicon-earphone"></span></a>		</div>
			</div>
        <div class="col-xs-6 col-md-7">
	        <iframe
			  width="100%"
			  height="400"
			  frameborder="0" style="border:0"
			  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBILpKrEOIAOcjVBa9-ownlM_oiEQqBTyc
			    &q=3+rue+des+pyramides,Paris" allowfullscreen>
			</iframe>
		</div>
	  </div>
      <hr />
      <div class="row disclaimer">
          <div class="col-md-10 col-md-offset-1">
                    		@fragments.all_watches_footnotes_for_prices_table()
            <div class="disclaimer-body">@Html(Messages("quartz.text.disclaimer"))</div>
          </div>
      </div>
    </div><!-- /.container -->
}    
}
