@(message: String = "")
@import tags._

@layouts.main("service") {
    @layouts.fragments.navbar(80)

    <div class="container service">
    
    @featurette("service", "6", "left", "service/invest.jpg", null, null)
    
    @featurette("service", "1", "right", "service/why.png", "http://watchnext.fr/blog/2014/01/pourquoi-une-montre-suse-t-elle/?utm_source=hometime.fr", null, false, true)
    
    @featurette("service", "2", "left", "service/how.jpg", "http://watchnext.fr/blog/2014/01/comment-entretient-on-une-montre/?utm_source=hometime.fr", null, false, true)
    
    @featurette("service", "3", "right", "service/when.jpg", null, routes.Application.service_test().url)
    
    @featurette("service", "4", "left", "service/how-long.png", "http://watchnext.fr/blog/2014/01/combien-de-temps-dure-une-revision-ou-une-reparation-de-montre/?utm_source=hometime.fr", null, false, true)
      
    @featurette("service", "5", "right", "service/risky.png", "http://watchnext.fr/blog/2014/01/existe-t-il-des-risques-a-faire-entretenir-sa-montre/?utm_source=hometime.fr", routes.Application.order(null).url, false, true)
      
    </div><!-- /.container -->
}
