@(message: String = "")

@layouts.main(Messages("service.html.title")) {
    @layouts.fragments.navbar(80)

    <div class="container service">

      <div class="row featurette">
        <div class="visible-xs col-xs-2"></div>
        <div class="col-sm-3 col-sm-push-9 col-xs-8">
          <img class="featurette-image img-responsive" src="@routes.Assets.at("images/service/why.png")" alt="Generic placeholder image">
        </div>
        <div class="visible-xs col-xs-2"></div>
        <div class="clearfix visible-xs"></div>
        <div class="col-sm-9 col-sm-pull-3">
          <div class="featurette-heading">@Html(Messages("service.content.1.head"))</div>
          <div class="featurette-body">@Html(Messages("service.content.1.body"))</div>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="visible-xs col-xs-2"></div>
        <div class="col-sm-3 col-xs-8">
          <img class="featurette-image img-responsive" src="@routes.Assets.at("images/service/how.jpg")" alt="Generic placeholder image">
        </div>
        <div class="visible-xs col-xs-2"></div>
        <div class="clearfix visible-xs"></div>
        <div class="col-sm-9">
          <div class="featurette-heading">@Html(Messages("service.content.2.head"))</div>
          <div class="featurette-body">@Html(Messages("service.content.2.body"))</div>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="visible-xs col-xs-2"></div>
        <div class="col-sm-3 col-sm-push-9 col-xs-8">
          <img class="featurette-image img-responsive" src="@routes.Assets.at("images/service/when.jpg")" alt="Generic placeholder image">
        </div>
        <div class="visible-xs col-xs-2"></div>
        <div class="clearfix visible-xs"></div>
        <div class="col-sm-9 col-sm-pull-3">
          <div class="featurette-heading">@Html(Messages("service.content.3.head"))</div>
          <div class="featurette-body">@Html(Messages("service.content.3.body"))</div>
        </div>
      </div>

      <hr class="featurette-divider">
      
      <div class="row featurette">
        <div class="visible-xs col-xs-2"></div>
        <div class="col-sm-3 col-xs-8">
          <img class="featurette-image img-responsive" src="@routes.Assets.at("images/service/how-long.png")" alt="Generic placeholder image">
        </div>
        <div class="visible-xs col-xs-2"></div>
        <div class="clearfix visible-xs"></div>
        <div class="col-sm-9">
          <div class="featurette-heading">@Html(Messages("service.content.4.head"))</div>
          <div class="featurette-body">@Html(Messages("service.content.4.body"))</div>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="visible-xs col-xs-2"></div>
        <div class="col-sm-3 col-sm-push-9 col-xs-8">
          <img class="featurette-image img-responsive" src="@routes.Assets.at("images/service/risky.png")" alt="Generic placeholder image">
        </div>
        <div class="visible-xs col-xs-2"></div>
        <div class="clearfix visible-xs"></div>
        <div class="col-sm-9 col-sm-pull-3">
          <div class="featurette-heading">@Html(Messages("service.content.5.head"))</div>
          <div class="featurette-body">@Html(Messages("service.content.5.body"))</div>
        </div>
      </div>
      <div class="row featurette">
        <div class="col-xs-12 text-center">
          <div class="featurette-action text-center"><a class="btn btn-primary" href="@routes.Application.order()" role="button">@Messages("service.why.call.to.action")</a></div>
        </div>
      </div>

      <hr class="featurette-divider">
      
      <div class="row featurette">
        <div class="visible-xs col-xs-2"></div>
        <div class="col-sm-3 col-xs-8">
          <img class="featurette-image img-responsive" src="@routes.Assets.at("images/service/invest.jpg")" alt="Generic placeholder image">
        </div>
        <div class="visible-xs col-xs-2"></div>
        <div class="clearfix visible-xs"></div>
        <div class="col-sm-9">
          <div class="featurette-heading">@Html(Messages("service.content.6.head"))</div>
          <div class="featurette-body">@Html(Messages("service.content.6.body"))</div>
        </div>
      </div>
      <div class="row featurette">
        <div class="col-xs-12 text-center">
          <div class="featurette-action text-center"><a class="btn btn-primary" href="@routes.Application.order()" role="button">@Messages("service.invest.call.to.action")</a></div>
        </div>
      </div>

      <hr class="featurette-divider">

    </div><!-- /.container -->
}
