@(message: String = "", displayable_watches: List[Watch])
@import tags._

@end_scripts_bottom = {
    <script>
        $('body').attr('data-spy', 'scroll' );
        $('body').attr('data-target', '.bs-sidebar' );
        $('body').attr('data-offset', '10' );
    </script>
}

@layouts.main("watch.collection", end_scripts_bottom) {
    @layouts.fragments.navbar(20)
      
    <div class="container container-watch-collection">
        @baseline("watch.collection.baseline")
        <div class="row explanation">
          <div class="col-sm-10 col-sm-offset-1">
            <div class="explanation-body">@Html(Messages("watch.collection.text.explanation"))</div>
            <hr>
          </div>
        </div>
        <div class="row">
            <div class="col-md-3">
              <div class="bs-sidebar affix" role="complementary">
                <ul class="nav bs-sidenav">
                    @for((watch, index) <- displayable_watches.zipWithIndex) {
                    <li><a href="#@watch.id">@watch.brand - @watch.short_name</a></li>
                    }
                </ul>
              </div>
            </div>
            <div id="collection" class="col-md-9" role="main">
              @for(watch <- displayable_watches) {
              <div id="@watch.id" class="row">
                <div class="watch-container">
                    <div class="col-sm-8 text-center">
                        <div class="watch-box">
                          <div class="image"><img class="img-responsive" src="@guess_url(watch.main_picture_url)" alt="@watch.short_name"></div>
                        </div>
                    </div>
                    <div class="col-sm-4 text-center">
                        <div class="watch-box">
                          <div class="caption"><h2>@watch.brand - @watch.full_name</h2></div>
                          <div class="data">
                            <dl>
                              <dt>@Messages("watch.detail.data.this.one.reference")</dt>
                              <dd>@watch.item_reference</dd>
                              <dt>@Messages("watch.detail.data.hometime.price")</dt>
                              <dd>@display_price(watch.price)</dd>
                              <dt>@Messages("watch.detail.data.this.one.available")</dt>
                              <dd>@display_availability(watch.is_available, "watch.detail.data.this.one.available.yes", "watch.detail.data.this.one.available.no")</dd>
                            </dl>
                          </div>
                          <div class="sub-caption"><a class="btn btn-primary" href="@routes.Application.watch_detail(watch.seo_name)">@Messages("watch.collection.display.watch.call.to.action")</a></div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                 </div>
              </div>
              <hr class="featurette-divider">
              }
            </div>
          </div>
        </div>
        
        

    </div><!-- /.container -->
}
