@(message: String = "", displayable_watches: List[Watch])
@import tags._

@end_scripts_bottom = {
    <script>
        $('body').attr('data-spy', 'scroll' );
        $('body').attr('data-target', '.bs-sidebar' );
        $('body').attr('data-offset', '10' );
    </script>
}

@layouts.main(Messages("watch.collection.html.title"), end_scripts_bottom) {
    @layouts.fragments.navbar(20)
      
    <div class="container container-watch-collection">
        <div class="row">
          <div class="col-xs-12">
            <div class="page-baseline">@Messages("watch.collection.baseline")</div>
          </div>
        </div>
        <div class="row">
            <div class="col-md-3">
              <div class="bs-sidebar affix" role="complementary">
                <ul class="nav bs-sidenav">
                    @for(watch <- displayable_watches) {
                    <li><a href="#@watch.id">@watch.brand - @watch.short_name</a></li>
                    }
                </ul>
              </div>
            </div>
            <div id="collection" class="col-md-9" role="main">
              @for(watch <- displayable_watches) {
              <div id="@watch.id" class="row">
                <div class="col-md-10 col-md-offset-1 text-center">
                    <div class="watch-box">
                      <div class="caption">@watch.brand - @watch.full_name</div>
                      <div class="image"><img class="img-responsive" src="@guess_url(watch.main_picture_url)" alt="@watch.short_name"></div>
                      <div class="sub-caption"><a href="@routes.Application.watch_detail(watch.id)">@Messages("watch.collection.display.watch.call.to.action")</a></div>
                    </div>
                </div>
              </div>
              <hr class="featurette-divider">
              }
            </div>
          </div>
        </div>
        
        

    </div><!-- /.container -->
}
