.call-top, .call, .warning-store-closed-top, .warning-store-closed {
  text-align: center;
  font-size: 18px;
  font-weight:bold;
  padding-top: 2px;
  padding-bottom: 2px;
}

.call-top .conditions, .call .conditions, .warning-store-closed-top .conditions, .warning-store-closed .conditions {
  font-size: 12px;
  font-weight: normal;
  margin-top: -0.5em;
}

.call-top span, .call span, .warning-store-closed-top span, .warning-store-closed span {
  white-space: nowrap;
}

.call-top .conditions p, .call .conditions p, .warning-store-closed-top .conditions p, .warning-store-closed .conditions p {
  margin-bottom: 0em;
}

.call, .warning-store-closed {
  font-size: 14px;
  margin-top: 50px;
  margin-bottom: 2px;
  margin-left: -15px;
  margin-right: -15px;
  background-color: #f9f2f4;
  padding-top: 10px;
  padding-bottom: 10px;
}

.call .conditions, .warning-store-closed .conditions {
  font-size: 9px;
}

.warning-store-closed-top, .warning-store-closed {
  background-color: #FEEFB3;
  color: #9F6000;
}

.warning-store-closed-top .conditions, .warning-store-closed .conditions {
  color: #9F6000;
}


.social-buttons {
	img {
		margin: 0 auto;
	}
}

.social-buttons-xs {
	img {
		height: 25px;
		margin-top: 5px;
	}
}