
/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 300px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
  padding-right: 30px;
  padding-left: 30px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  margin-left: -10px;
  margin-right: -10px;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 300px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 300px;
}

.carousel-caption .caption-title {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.carousel-caption .caption-body {
    font-size: 0.7em;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  .carousel-caption {
    margin-left: -80px;
    margin-right: -80px;
  }

  .carousel {
    height: 500px;
    margin-bottom: 60px;
  }

 .carousel .item {
   height: 500px;
  }

  .carousel-inner > .item > img {
  position: absolute;
    min-height: 500px;
  }
  
  /* Bump up size of carousel content */
  .carousel-caption .caption-title {
    margin-bottom: 15px;
    font-size: 28px;
  }

  .carousel-caption .caption-body {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 1.4;
  }
  
  .carousel .btn {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px;
  }

}
