@bootstrap-screen-sm-min: 768px;
@bootstrap-screen-md-min: 992px;
@bootstrap-screen-lg-min: 1200px;

@transparency-for-header-and-carousel: 0.55;

.reset_div {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
  font-family: "Open Sans","lucida grande","Segoe UI",arial,verdana,"lucida sans unicode",tahoma,sans-serif;
  font-size: 13px;
  background: url(/assets/images/background.png) repeat 0 0;
}

.dropdown-menu {
  font-size: 13px;
}

@import "_footer.less";

@import "_page_baseline.less";
