@bootstrap-screen-sm-min: 768px;
@bootstrap-screen-md-min: 992px;
@bootstrap-screen-lg-min: 1200px;

@top-banner-navbar-offset: 40px;
@top-banner-header-offset: @top-banner-navbar-offset;
@top-banner-content-top-offset: @top-banner-navbar-offset / 2;

@transparency-for-header-and-carousel: 0.55;

.reset_div {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
  font-family: "Open Sans","lucida grande","Segoe UI",arial,verdana,"lucida sans unicode",tahoma,sans-serif;
  font-size: 13px;
  background: url(/assets/images/background.png) repeat 0 0;
}

.dropdown-menu {
  font-size: 13px;
}

// Bug in chrome when displaying donwloaded fonts
body {
    -webkit-animation-duration: 0.1s;
    -webkit-animation-name: fontfix;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 2s;
}

// Bug in chrome when displaying donwloaded fonts
@-webkit-keyframes fontfix{
    from{   opacity: 1; }
    50%{    opacity: 0.8; }
    to{ opacity: 1; }
}


.call-top {
  text-align: center;
  font-size: 18px;
  font-weight:bold;
  padding-top: 2px;
  padding-bottom: 2px;
}

.call-top .conditions {
  font-size: 12px;
  font-weight: normal;
  margin-top: -0.5em;
}

.call-top span {
  white-space: nowrap;
}

.call-top .conditions p {
  margin-bottom: 0em;
}


@import "_footer.less";

@import "_page_baseline.less";
