.content-box .title h2 {
  .reset_div;
}

.rich-content-box .title h2 {
  padding-left: 10px;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.rich-content-box img {
  height: 60px;
}
  
.rich-content-box img {
  margin-right: 10px;
}
  
.rich-content-box .title h2, .content-box .title h2 {
  font-size: 14px;
}

#content .row {
    margin-bottom: 2em;
}

#content .row:first-child {
    padding-top: @content-top-margin-small;
}

@media (min-width: @bootstrap-screen-md-min) {
  #content .row:first-child {
    padding-top: @content-top-margin;
  }

  .rich-content-box  {
    font-size: 14px;
  }

  .rich-content-box .title h2, .content-box .title h2 {
    font-size: 16px;
  }
}

.offer-box-container {
	background-color: #ebebeb;
	border-radius: 5px;
	padding: 10px;
	font-size: 110%;
}