
/* Featurettes
------------------------- */

.featurette-divider {
  margin: 50px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

.featurette-body {
  font-weight: 300;
  line-height: 1,5;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  .featurette-heading {
    font-size: 35px;
  }
  
  .featurette-body, .featurette-action a {
    font-size: 15px;
  }
  
  .featurette-action {
    margin-top: 30px;
  }
  
  .featurette-body .sub-title {
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

}

@media (min-width: 992px) {
  .featurette-heading {
    /*margin-top: 120px;*/
  }
}
