
/* MARKETING CONTENT
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
.marketing {
  padding-left: 15px;
  padding-right: 15px;
}

.marketing img.head {
  height: 80px;
} 

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: @bootstrap-screen-sm-min) {
  .marketing img.head {
    height: 140px;
  } 


  /* Remove the edge padding needed for mobile */
  .marketing {
    padding-left: 0;
    padding-right: 0;
  }

}
