
.container-offer {
    margin-bottom: 60px;
}

.container-prices #offers .row:first-child, .container-more #offers .row:first-child {
    padding-top: @content-top-margin-small;
}

@media (min-width: @bootstrap-screen-md-min) {
    #offers .row:first-child {
        padding-top: @content-top-margin;
    }
}

.container-quotation-choices .explanation {
   margin-top: 120px;
   font-size: 14px;
}

@media (min-width: @bootstrap-screen-sm-min) {
  .container-quotation-choices .explanation {
    margin-top: 130px;
    font-size: 16px;
  }
}

#offers {
    text-align: left;
}

.offer-box .title h2 {
  .reset_div;
}

.offer-box .title h2 {
    font-size: 1.5em;
}

#offers .body {

}

#offers .action, #offers .images, #offers .price-table {
    padding-top: 20px;
    padding-bottom: 40px;
}

#offers .price-table {
    padding-bottom: 0px;
    margin: 5px;
}

#offers .footnote {
  font-size: 0.8em;
}

#offers .sub-title {
    font-size: 1.2em;
    margin-top: 10px;
    margin-bottom: 1px;
}

@media (min-width: @bootstrap-screen-sm-min) {

}