.order-action, .more-action {
    margin-top: 5px;
}

.order-separator {
    margin-top: 20px;
    margin-bottom: 20px;
}


.quick-sumup {
   background-color: #eee;
}

.container .quick-sumup {
   margin: 0 -10px;
   margin-bottom: 10px;
   padding: 10px;
   border-radius: 6px;
}

.container .head {
   margin-top: -20px;
   margin-bottom: 10px;
}

@media (min-width: @bootstrap-screen-sm-min) {
  .container .head {
     margin-top: -10px;
  }
}

