
.page-baseline {
  width: 90%;
  position: absolute;
  text-align: center;
  font-size: 16px;
  font-weight:bold;
  margin-top: 65px;
}


@media (min-width: 768px) {
  .page-baseline {
    font-size: 25px;
    font-weight: normal;
    margin-top: 80px;
  }
}