.filter {
    margin-top: 30px;
    margin-bottom: 20px;
}

a.disabled {
	color: grey !important;
	pointer-events: none !important;
    cursor: default;
}

h3 {
	font-size: 18px;
}

.checkbox input[type=checkbox] {
	margin-left: 0;
}

.page .headerSortUp {
	background-color: #d9edf7 !important;
}

.page .headerSortDown {
	background-color: #f2dede !important;
}


.pre span.display-value {
    display: block;
    font-family: monospace;
    white-space: pre;
    margin: 0 1em;
}

.feedback_asked_true td {
	background-color: #d9edf7 !important;
}

.text-preformated {
    display: block;
    white-space: pre;
}

tr.CUSTOMER_WATCH_STATUS_FINISHED_TO_BILL_BEFORE_DELIVERY td,tr.CUSTOMER_WATCH_STATUS_FINISHED_STORED_BY_US_TO_DELIVER td, tr.CUSTOMER_WATCH_STATUS_FINISHED_TO_BILL_BEFORE_DELIVERY td, tr.CUSTOMER_WATCH_STATUS_FINISHED_STORED_BY_US_PAID td {

}

tr.CUSTOMER_WATCH_STATUS_FINISHED_STORED_BY_US_PAID td,tr.CUSTOMER_WATCH_STATUS_FINISHED_TO_BILL_AFTER_DELIVERY td {

}

tr.CUSTOMER_WATCH_STATUS_TO_QUOTE td {
    background-color: #a2dede !important;
}

tr.WAITING_FOR_QUOTATION_ACCEPTATION_FROM_FINAL_CUSTOMER td, tr.CUSTOMER_WATCH_STATUS_WAITING_FOR_QUOTATION_ACCEPTATION td {
    background-color: #c4f5f5 !important;
}

tr.CUSTOMER_WATCH_STATUS_WORK_TO_START td {
    background-color: #99cae2 !important;
}

tr.CUSTOMER_WATCH_STATUS_WORKING td {
	background-color: #d9edf7 !important;
}

tr.CUSTOMER_WATCH_STATUS_TESTING td {
	background-color: #80d45c !important;
}

tr.CUSTOMER_WATCH_STATUS_UNCONSISTENT td {
    background-color: #ea5c59 !important;
}

@import "_display.less";
@import "_reports.less";