.filter {
    margin-top: 30px;
    margin-bottom: 20px;
}

h3 {
	font-size: 18px;
}

.checkbox input[type=checkbox] {
	margin-left: 0;
}

.page .headerSortUp {
	background-color: #d9edf7 !important;
}

.page .headerSortDown {
	background-color: #f2dede !important;
}


.pre span.display-value {
    display: block;
    font-family: monospace;
    white-space: pre;
    margin: 0 1em;
}

.feedback_asked_true td {
	background-color: #d9edf7 !important;
}

.text-preformated {
    display: block;
    white-space: pre;
}

tr.almostFinished td {
    background-color: #AED6F1 !important;
}

tr.finished td {
    background-color: #D5F5E3 !important;
}

tr.started td {
    background-color: #D6EAF8 !important;
}

tr.toDo td {
    background-color: #a2dede !important;
}

tr.toRedo td {
    background-color: #f2dede !important;
}

tr.toBeValidated td {
    background-color: #AED6F1 !important;
}

@import "_display.less";
@import "_reports.less";