
/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
  color: #5a5a5a;
}

/* CUSTOMIZE THE HEADER TITLE
-------------------------------------------------- */
#header-title a {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  z-index: 10;
  text-align: center;
  text-transform:uppercase;
  color: #ffffff;
  font-size: 41px;
  letter-spacing: 9px;
}

@media (min-width: 768px) {
#header-title a {
  top: 100px;
}
}

@import "_common.less";

@import "_navbar.less";

@import "_carousel.less";

@import "_marketing.less";

@import "_featurette.less";

