
/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
  color: #5a5a5a;
}

@media (min-width: @bootstrap-screen-sm-min) {
    body {
      padding-bottom: 10px;
    }
}


@import "_common.less";

/* CUSTOMIZE THE HEADER TITLE
-------------------------------------------------- */
#header-title a {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  z-index: 10;
  text-align: center;
  text-transform:uppercase;
  color: #ffffff;
  font-size: 41px;
  letter-spacing: 9px;
}

@media (min-width: @bootstrap-screen-sm-min) {
  #header-title a {
    top: 80px;
    letter-spacing: 15px;
  }
}

@carousel-height: 400px;
@carousel-height-small: 250px;

@import "_carousel.less";

.baseline h1, h1, h2, h3, h4 {
  .reset_div;
}

.baseline h1 {
  text-align: center;
  font-size: 14px;
  font-weight:bold;
  margin-top: -15px;
  margin-bottom: 30px;
}

.call {
  text-align: center;
  font-size: 14px;
  font-weight:bold;
  margin-top: -60px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-bottom: 30px;
  margin-left: -15px;
  margin-right: -15px;
  background-color: #f9f2f4;
}

.call .conditions {
  font-size: 9px;
  font-weight: normal;
  margin-top: -0.5em;
}

.call span {
  white-space: nowrap;
}

.call .conditions p {
  margin-bottom: 0em;
}

.facebook {
  text-align: center;
  
  margin-bottom: 5px;
}

.promise {
  text-align: center;
}

.reason {
  text-align: left;
}

.promise-head h2 {
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 26px;
}

.promise-body h3, .promise-action {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.promise-body h3 {
  font-size: 13px;
}

.promise-action {
  margin-bottom: 20px;
}


.reason-body, .what-is-it {
  margin-bottom: 10px;
}

.order-action, .more-action {
  margin-top: 15px;
}

.what-is-it-head h3, .brands-head h3, .reason-head h3, .brands-notice {
  font-size: 14px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

.brands-notice {
  font-size: 10px;
  font-weight: normal;
  font-style: italic;
  margin-bottom: 5px;
}

h4 {
  font-size: 13px;
}

@media (min-width: @bootstrap-screen-sm-min) {

  .promise-head {
    font-size: 26px;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .baseline h1 {
    font-size: 20px;
    margin-top: -30px;
    margin-bottom: 45px;
  }
  
  .order-action, .more-action {
    font-size: 14px;
  }
  
  .what-is-it-head h3, .brands-head h3, .reason-head h3 {
    font-size: 18px;
  }
  
  .brands-notice {
    font-size: 12px;
  }
  
  h4 {
    font-size: 13px;
  }
}

/* Social proof buttons from GitHub & Twitter */
.bs-docs-social {
  text-align: center;
  margin-bottom: 20px;
}

/* Quick links on Home */
.bs-docs-social-buttons {
  margin-left: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.bs-docs-social-buttons li {
  display: inline-block;
  padding: 2px;
  line-height: 1;
  *display: inline;
  *zoom: 1;
}

.social-facebook, .social-linkedin {
    vertical-align: top;
}

@import "_navbar.less";


@media (min-width: @bootstrap-screen-sm-min) {
  .navbar-inverse {
    background-color: rgba(0, 0, 0, @transparency-for-header-and-carousel );
  }
}


@import "_marketing.less";

@import "_featurette.less";

