
/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
  color: #5a5a5a;
}


@import "_common.less";

/* CUSTOMIZE THE HEADER TITLE
-------------------------------------------------- */
#header-title a {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  z-index: 10;
  text-align: center;
  text-transform:uppercase;
  color: #ffffff;
  font-size: 41px;
  letter-spacing: 9px;
}

@media (min-width: @bootstrap-screen-sm-min) {
  #header-title a {
    top: 80px;
    letter-spacing: 15px;
  }
}

@carousel-height: 400px;
@carousel-height-small: 250px;

@import "_carousel.less";

.baseline {
  text-align: center;
  font-size: 16px;
  font-weight:bold;
  margin-top: -30px;
  margin-bottom: 45px;
}

.promise {
  text-align: center;
  margin-bottom: 20px;
}

.promise-head {
  font-size: 28px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.promise-body, .promise-action {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.order-action, .more-action {
  margin-top: 15px;
  font-size: 13px;
}

@media (min-width: @bootstrap-screen-sm-min) {
  .baseline {
    font-size: 20px;
  }
  
  .order-action, .more-action {
    font-size: 14px;
  }
}

@import "_navbar.less";

@import "_marketing.less";

@import "_featurette.less";

