
/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
  color: #5a5a5a;
}

@import "_common.less";

@import "_navbar.less";

@import "_marketing.less";

@import "_featurette.less";

.marketing .featurette:first-child {
  margin-top: 130px;
}