@content-top-margin: 140px;
@content-top-margin-small: 120px;

/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
  color: #5a5a5a;
}

@import "_common.less";

@import "_navbar.less";

@import "_sidenav.less";

@import "_marketing.less";

@import "_featurette.less";

@import "_watch_collection.less";

@import "_watch_detail.less";

@import "_offer.less";