
#copyright {
    margin-bottom: 15px;
}

.btn-primary {
	margin-top: 2em;
	margin-bottom: 5em;
}

ul {
	font-size: 1.2em;
	margin: 10px 0;
	padding-left: 2em;
	list-style-type: none;
}

li {
	margin: 5px 0;
}

.backlink {
	font-size: 1.2em;
	margin: 2em 0;
} 