@import fr.hometime.payment.systempay._
@(currentRequest : PaymentRequest, currentForm : SingleImmediatePF)
@import tags._


@head = {

}

@footer = {

}

@end_scripts = {

}

@layouts.payment("payment.start") {
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h1>@Html(Messages("payment.header"))</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<h3>@Html(Messages("payment.start.main.title"))</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<ul>
					<li>@Html(Messages("payment.start.form.order.number", currentRequest.orderNumber))</li>
					<li>@Html(Messages("payment.start.form.description", currentRequest.description))</li>
					<li>@Html(Messages("payment.start.form.price", currentRequest.priceInEuros))</li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 text-center">
				<form method="POST" action="https://paiement.systempay.fr/vads-payment/">
					@for(parameter <- currentForm.getParameters) {
					<input type="hidden" name="@parameter.getParameterName" value="@parameter.getValue" />
					}
					<input type="hidden" name="signature" value="@currentForm.getSignature"/>
					<button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-lock"></span>&nbspAccéder au processus de paiement *</button>
				</form>
			</div>
			<div class="col-xs-12 text-left">
				<h4 class="explanation">* en cliquant sur ce lien, vous serez redirigé vers la page de paiement de notre banque. Il s'agit d'un processus sécurisé.</h4>
			</div>
		</div>
	</div>
}