@import fr.hometime.payment.systempay._
@()
@import tags._


@head = {

}

@footer = {

}

@end_scripts = {

}

@layouts.payment("error") {
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h1>watchNext</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 text-center">
				<h4>Une erreur s'est produite ou le paiement a déjà été effectué.<br /><br /> Veuillez nous contacter pour plus de précisions.</h4>
			</div>
		</div>
		<div class="row backlink">
			<div class="col-xs-12 text-center">
				<a href="http://www.hometime.fr">Retour vers hometime.fr</a>
			</div>
		</div>
	</div>
}
