@import fr.watchnext.store.utils.payment.systempay._
@()
@import tags._


@head = {

}

@footer = {

}

@end_scripts = {

}

@layouts.payment("success") {
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h1>watchNext</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 text-center">
				<h4>Merci pour votre paiement.</h4>
			</div>
		</div>
		<div class="row backlink">
			<div class="col-xs-12 text-center">
				<a href="http://www.hometime.fr">Retour vers hometime.fr</a>
			</div>
		</div>
	</div>
}
