@(currentPage: com.avaje.ebean.PagedList[models.PaymentRequest], currentSortBy: String, currentOrder: String, currentFilter: String, currentSize: Integer)
@import tags._

@optionallink(id:Long) = {
    @routes.PaymentRequestsFreeOfLogin.displayForm(models.PaymentRequest.findById(id).accessKey)
}

@end_scripts = {
	<script>
		$(document).ready(function(){
			$('table > tbody  > tr').each(function(){
				addButtonForAction($(this).children("td:first"));
			});
			
			updateIds();
			
			function guessIDFromTd(location) {
    			return $(location).children("a:first").attr('href').split('/').slice(-1)[0];
   			}
			
			function addButtonForAction(location) {
    			location.append('<a id="'+guessIDFromTd(location)+'" type="button" class="btn btn-success btn-xs action-js" href="@routes.Payments.createFromPaymentRequest(-1)"><span class="glyphicon glyphicon-euro"></span></a>');
   			}
   			
   			function updateIds() {
	   			$('.action-js').each(function(){
					$(this).attr('href', $(this).attr('href').substring(0, $(this).attr('href').length -2)+$(this).attr('id'));
				});
   			}
		})
	</script>
}

@defining(new views.PageDisplay(currentPage, "description ou access key", "admin.paymentrequest.page")) { pageDisplay =>
	@{  pageDisplay.addTableField("creationDate", "creation.date", "getCreationDate", false, "date short");
	    pageDisplay.addTableField("closingDate", "closing.date", "getClosingDate", false, "date short");
	    pageDisplay.addTableField("customer.name", "customer", "getFullName", false);
	    pageDisplay.addTableField("priceInEuros", "price.in.euros", "getPriceInEuros", false, "price float");
		pageDisplay.addTableField("accessKey", "access.key", "getAccessKey", false);
		pageDisplay.addTableField("requestStatus", "status", "getRequestStatus", false, "i18n");
		pageDisplay.addTableField("isOpen", "is.open", "getIsOpen", false);
	}
	
	@admin.template.page_with_default_links(pageDisplay, "PaymentRequests", optionallink, currentSortBy, currentOrder, currentFilter, currentSize, true, true, end_scripts)
}
