@(payment_request: models.PaymentRequest)
@import tags._

@editlink(id:Long) = {
}

@newlink() = {
}

@end_body = {
	<div>
		<h2>@Html(Messages("mails.payment.actions"))</h2>
		@a_absolute(routes.CrudHelper.display("PaymentRequests", payment_request.id).url, false) {@Html(Messages("mails.payment.action.display"))}
		<br /><br />
	</div>
}

@defining(new views.ModelDisplay(payment_request, "admin.paymentrequest")) { modelDisplay =>
		@{ 	modelDisplay.addField("creationDate");
			modelDisplay.addField("customer", "getFullName");
			modelDisplay.addField("priceInEuros", "getPriceInEuros", false, null, "price float");
			modelDisplay.addField("requestStatus");
			modelDisplay.addField("accessKey");
			modelDisplay.addField("isOpen");
			modelDisplay.addField("allowAmex");
			modelDisplay.addField("amexOnly");
			modelDisplay.addField("statusInfo", "getStatusInfo", false, null, "pre");
		}
	
	@admin.template.display_email(modelDisplay, null, editlink, end_body)

}
