@(thisInstance: Form[models.Payment], isItNew: Boolean)

@import tags._

@end_scripts = {
<script>
    $(document).ready(function(){
    		updateActualDate();
    	
	        $('#paymentDate').on('change', function(event) {
	        	updateActualDate();   		
	        });
	        
	         $('#paymentMethod').on('change', function(event) {
	        	updateActualDate();   		
	        });
    });
    
    function updateActualDate() {
    	if ( $('#paymentMethod option:selected').val() == 'CB' || $('#paymentMethod option:selected').val() == 'CHECK' || $('#paymentMethod option:selected').val() == 'CASH' ) {
    		var newdate = $('#paymentDate').val();
    		$('#inBankDate').val(add2Days(newdate));
		} else {
			var newdate = $('#paymentDate').val();
    		$('#inBankDate').val(newdate);
		}
    }

    function add2Days(newdate) {
    	var asDate=new Date(newdate);
    	var date=new Date(asDate.getTime() + ( 2 * 24 * 60 * 60 * 1000 ) );
	    day=date.getDate();
    	month=date.getMonth();
    	month=month+1;
    	if((String(day)).length==1)
    		day='0'+day;
    	if((String(month)).length==1)
    		month='0'+month;

    	dateT=date.getFullYear()+ '-' + month + '-' + day;
    	//dateT=String(dateT);
    	console.log(dateT);
    	return dateT;
    }
    
</script> 
}

@defining(new views.FormDisplay(thisInstance, "Payment", "admin.payment.form")) { formDisplay =>
		@{ formDisplay.addFormFieldForSelect("invoice.id", false, models.Invoice.findAllByDescendingDateIds, models.Invoice.findAllByDescendingDateOrderIdAndCustomerName);
		   formDisplay.addFormFieldForSelect("paymentMethod", models.Payment.PaymentMethod.values.toList);
		   formDisplay.addFormField("amountInEuros", true, "input", 'type -> "number", 'min -> "0", 'step -> "0.01");
		   formDisplay.addFormField("paymentDate", true, "input", 'type -> "date");
		   formDisplay.addFormField("inBankDate", true, "input", 'type -> "date");
		   formDisplay.addFormField("description", true, "textarea");
		   formDisplay.addFormField("description2", true, "textarea");

		   
		}
	
	@admin.template.form_with_default_links(formDisplay, isItNew, end_scripts)
}
