@(payment_request: models.PaymentRequest)
@import tags._

@editlink(id:Long) = {
    @routes.CrudHelper.edit("PaymentRequests", id)
}

@newlink() = {
    @routes.CrudHelper.create("PaymentRequests")
}

@end_body = {

}

@defining(new views.ModelDisplay(payment_request, "admin.paymentrequest")) { modelDisplay =>
		@{ 	modelDisplay.addField("creationDate");
			modelDisplay.addField("customer", "getFullName");
			modelDisplay.addField("priceInEuros", "getSellingPrice", false, null, "price");
			modelDisplay.addField("accessKey");
			modelDisplay.addField("isOpen");
			
		}
	
	@admin.template.display(modelDisplay, null, editlink, end_body)
}
