@(modelDisplay: views.ModelDisplay, newlink: () => Html, editlink: (Long) => Html)

@import tags._

@layouts.admin_main(modelDisplay.getLabelKey) {

<div class="container">
  	<div class="row display">
    	<div class="col-xs-12">
    		<h1>@Html(Messages(modelDisplay.getLabelKey+".title"))</h1>
    	</div>
    </div>

  <a type="button" class="btn btn-default" href="@newlink()"><span class="glyphicon glyphicon-edit"></span>@Html(Messages("admin.order.action.new"))</a>

  
      @for(currentField <- modelDisplay.getFields) {
	    <div class="row">
      		<div class="col-xs-12 @if(currentField.hideSmall) {hidden-xs}">
				@Messages(currentField.getKey) : @currentField.display 
			</div>
	    </div>      	
      }
  </div>

}