@(pageDisplay: views.PageDisplay[_], controllerName: String, optionallink: (Long) => Html, currentSortBy: String, currentOrder: String, currentFilter: String, currentSize: Integer, displayNewLink: Boolean = true, actionlink: () => Html, optionnalLinkOpensNewPage: Boolean = true)
@import tags._

@link(newPage:Int, sortBy: String, order: String, currentFilter: String, currentSize: Int) = {
    @routes.CrudHelper.page(controllerName, newPage, sortBy, order, currentFilter, currentSize)
}

@newlink() = {
	@routes.CrudHelper.create(controllerName)
}

@editlink(id:Long) = {
    @routes.CrudHelper.edit(controllerName, id)
}
@displaylink(id:Long) = {
    @routes.CrudHelper.display(controllerName, id)
}
@if(displayNewLink) {
	@admin.template.page(pageDisplay, link, displaylink, editlink, optionallink, newlink, currentSortBy, currentOrder, currentFilter, currentSize, actionlink, optionnalLinkOpensNewPage)
} else {
	@admin.template.page(pageDisplay, link, displaylink, editlink, optionallink, null, currentSortBy, currentOrder, currentFilter, currentSize, actionlink, optionnalLinkOpensNewPage)
} 