                    <div class="row price-table">
                      <table class="table table-striped table-hover table-bordered">
                        <thead>
                          <tr>
                            <th>@Html(Messages("prices.table.head.service"))</th>
                            <th>@Html(Messages("prices.table.head.details"))</th>
                            <th>@Html(Messages("prices.table.head.tariff"))</th>
                            <th>@Html(Messages("prices.table.head.remarks"))</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td colspan="4">@Html(Messages("prices.table.body.quartz.service"))</td>
                          </tr>
                          <tr>
                            <td></td>
                            <td>@Html(Messages("prices.table.body.watch.of.category", "3"))*</td>
                            <td>@Html(Messages("prices.table.body.quartz.service.prices", "20€", "49€"))</td>
                            <td rowspan="3" width="30%">@Html(Messages("prices.table.body.quartz.service.details", routes.Application.order(null)))</td>
                          </tr>
                          <tr>
                            <td></td>
                            <td>@Html(Messages("prices.table.body.watch.of.category", "2"))**</td>
                            <td>@Html(Messages("prices.table.body.quartz.service.prices", "25€", "69€"))</td>
                          </tr>
                          <tr>
                            <td></td>
                            <td>@Html(Messages("prices.table.body.watch.of.category", "1"))***</td>
                            <td>@Html(Messages("prices.table.body.quartz.service.prices", "35€", "89€"))</td>
                          </tr>
                          <tr>
                            <td colspan="4">@Html(Messages("prices.table.body.quartz.repair"))</td>
                          </tr>
                          <tr>
                            <td></td>
                            <td colspan="3">@Html(Messages("prices.table.body.quartz.repair.prices"))</td>
                          </tr>
                          <tr>
                            <td colspan="4">@Html(Messages("prices.table.body.quartz.intermediate.service"))</td>
                          </tr>
                          <tr>
                            <td></td>
                            <td colspan="3">@Html(Messages("prices.table.body.quartz.intermediate.service.prices", "100€", "200€"))</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
