@(pageNotFound: String, redirect: String)

@layouts.error("error.notfound", redirect) {
<div class="container">
    <div class="row">
    	<div class="col-sm-8 col-sm-offset-2 text-center">
    		<h2>@Messages("error.notfound.text.head")</h2>
    		<h4>@Messages("error.notfound.text.sorry")</h4>
    	</div>
    </div>
    
    <div class="row">
    	<div class="col-sm-2 col-sm-offset-5 text-center">
    		<a href="@routes.Application.index()"><button type="button" class="btn btn-default"><span class="glyphicon glyphicon-plane"></span>&nbsp;&nbsp;@Messages("error.text.back.to.home")</button></a>
    	</div>
    </div>
</div>

<!--@pageNotFound-->

}
