@()
@import tags._

    <div class="footer">
    	<div>Watch next - Société par actions simplifiée - Capital : 20 000 Euros</div>
		<div>Représentée par son président Raphaël MARBECK</div>
		<div>Siège social : 103 avenue Marceau, 78600 LE MESNIL-LE-ROI</div>
		<div>N° SIRET : 800 198 418 00017, Code NAF : 9525Z</div>
		<div>Numéro de TVA Intracommunautaire : FR 78 800198418</div>
		<div>Domiciliation bancaire : Agence Bred Republique 41 bis, boulevard Voltaire, 75011 Paris</div>
		<div class="banking">IBAN : FR76 1010 7001 0500 5290 2067 418</div>
		<div class="banking">Code BIC : BREDFRPPXXX</div>
    </div>
    <div class="cgv">
    	<div class="container">
    		@admin.accounting.fragments.cgv_terms()
    	</div>
    </div>
