@()
@import tags._

    <div class="footer">
    	<div>@Html(Messages("admin.accounting.footer.company"))</div>
    	<div>@Html(Messages("admin.accounting.footer.company.holder"))</div>
    	<div>@Html(Messages("admin.accounting.footer.company.location"))</div>
    	<div>@Html(Messages("admin.accounting.footer.company.resgistry.numbers"))</div>
    	<div>@Html(Messages("admin.accounting.footer.company.vat.numbers"))</div>
    	<div>@Html(Messages("admin.accounting.footer.company.banking.1"))</div>
    	<div class="banking">@Html(Messages("admin.accounting.footer.company.banking.2"))</div>
    	<div class="banking">@Html(Messages("admin.accounting.footer.company.banking.3"))</div>
    </div>
    <div class="cgv">
    	<div class="container">
    		@admin.accounting.fragments.cgv_terms()
    	</div>
    </div>
