@(to_render: String, rendering_option: String)
@if(rendering_option == null || "".equals(rendering_option)) {
	@to_render
} else {
	@rendering_option match {
		  case "price" => {
		    @display_price(if(to_render == null || "null".equals(to_render)) {0} else {Float.parseFloat(to_render)})
		  }
		  
		  case "price float" => {
		    @display_floating_price(if(to_render == null || "null".equals(to_render)) {0} else {Float.parseFloat(to_render)})
		  }
		
		  case "date short" => {
		    @display_date(views.Helper.parseDateInMillis(to_render), "dd/MM")
		  }
		
		  case "date medium" => {
		    @display_date(views.Helper.parseDateInMillis(to_render), "dd/MM/yyyy")
		  }
		  		  
		  case "date long" => {
		    @display_date(views.Helper.parseDateInMillis(to_render)), "dd/MM/yyyy HH:mm")
		  }
		  
		  case "i18n" => {
		    @Messages(to_render.toLowerCase.replace("_","."))
		  }
		  
		  case default => {
		    @if(rendering_option.startsWith("take ")) {
		    	@defining(Integer.parseInt(rendering_option.replace("take ", ""))) { size =>
  					@takeif(to_render, size)
				}
		    } else {
		  		-
		  	}
		  }
	}
}